@model Vision.ViewModel.BranchMasterViewModel
@{
    ViewBag.Title = "AddUpdateBranchMaster";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<h2></h2>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @if (Model == null)
                {
                    <h2>
                        Add New Branch <small></small>
                    </h2>

                }
                else
                {
                    <h2>
                        Edit Branch <small></small>
                    </h2>

                }
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <h2>
                            <a href="@Url.Action("BranchMaster", "Admin")">Back </a>
                        </h2>
                    </li>
                </ul>
                <div class="clearfix">
                </div>
            </div>
            <div class="x_content">
                <form id="demo-form2" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left"
                      method="post">
                   
                  

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Branch Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.Branch_Name, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.Branch_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="col-md-6">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Branch Name:</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Branch_Name, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.Branch_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Branch Code:</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Branch_Code, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.Branch_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Branch Code <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Branch_Code, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Branch_Code, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Manager:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Manager, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Manager, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Service Code:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Service_Code, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Service_Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Sequence Number:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Sequence_Number, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Sequence_Number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Address-1:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextAreaFor(m => m.Address1, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Address-2:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextAreaFor(m => m.Address2, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Address-3:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextAreaFor(m => m.Address3, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Address3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Country:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.Country, new List<SelectListItem>
                                {
                                new SelectListItem{ Text="---SELECT Country---", Value = "" },
                                new SelectListItem{ Text="India", Value = "India" },
                                //new SelectListItem{ Text="All Services", Value = "All Services" },

                                }, new { @class = "form-control", @id = "PT" })
                            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            State:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.State, new List<SelectListItem>
                                {
                                new SelectListItem{ Text="---SELECT State---", Value = "" },
                                new SelectListItem{ Text="Maharastra", Value = "Maharastra" },
                                //new SelectListItem{ Text="All Services", Value = "All Services" },

                                }, new { @class = "form-control", @id = "PT" })
                            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            City:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.CityName, new List<SelectListItem>
                                {
                                new SelectListItem{ Text="---SELECT City---", Value = "" },
                                new SelectListItem{ Text="Maharastra", Value = "Maharastra" },
                                //new SelectListItem{ Text="All Services", Value = "All Services" },

                                }, new { @class = "form-control", @id = "PT" })
                            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Postal Code:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Postal_Code, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Postal_Code, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Email Id:<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Email_Id, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.Email_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <div align="center">
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>


                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>

