@model TuvVision.Models.DebitCredit

@using NonFactors.Mvc.Grid;
@using System.Web.Mvc;
@{
    ViewBag.Title = "DebitCreditSummary";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />


@using (Html.BeginForm("MismatchReport", "MISOPEReport", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="main-content3 xs-max-height">

        <!--Start of header-->
        <div class="container-fluid">
            <div class="row assignfixedwidth rp-15">
                <div class="col-xs-12">
                    <h3 class="dynamic-page-title dynamic-page-title-2  text-left">SalesOrder with Multiple Costcentre in SAP</h3>
                    <button type="button" value="Back" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("DebitCredit","MISOPEReport" )'"
                            style="border:none;">
                        Back
                    </button>
                    <button type="button" id="a" value="ExportToExcel" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("ExportMultipleCostCentre", "MISOPEReport")'"
                            style="border:none;">
                        Export To Excel
                    </button>
                </div><!-- /.col -->
               
                @if (Convert.ToString(TempData["Result"]) != null && Convert.ToString(TempData["Result"]) != "")
                {
                    <div class="col-xs-4">
                        <h4 style="color:red;font-weight:bold;">@Convert.ToString(TempData["Result"])</h4>
                    </div>
                }
                <div class="col-xs-4">
                  
                </div>
                <div class="col-xs-12">
                    <hr class="custom-hr">
                </div><!-- /.col -->
                <!--Table was here-->

            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>From Date:</label>
                        @Html.TextBoxFor(model => model.FromDate, "{0:dd MMM yyyy}", htmlAttributes: new { placeholder = "Select From Date", @class = "form-control form-control-custom FromD", autocomplete = "off" })
                    </div>
                </div>


                <div class="col-xs-4">
                    <div class="form-group">
                        <label>To Date:</label>
                        @Html.TextBoxFor(model => model.ToDate, "{0:dd MMM yyyy}", htmlAttributes: new { placeholder = "Select To Date", @class = "form-control form-control-custom ToD", autocomplete = "off" })
                    </div>

                </div>

                <div class="col-xs-2">
                    <div class="form-group">
                        <label>Search:</label>
                        @*<input type="submit" value="Search" class="btn btn-primary form-control" />*@
                        <button type="button" class="btn btn-primary form-control" id="btnSearch"> Search </button>
                    </div>

                </div>
            </div>

           
            



                <div class="col-xs-12" style="overflow:auto;height:500px;width:99%">
                    <table class="display dataTable no-footer" style="width:100%;" id="example3">

                        @if (ViewData["CallRegister"] != null)
                        {
                            int Headcolnumber = 0;

                            
                            string strfield = string.Empty;

                            double CRGrandTotal = 0;
                            double DRGrandTotal = 0;
                            string PortfolioName = string.Empty;

                            int LastRownumber = 0;
                            int Lastcolnumber = 0;

                            var dt = ViewData["CallRegister"] as System.Data.DataTable;

                            LastRownumber = dt.Rows.Count - 1;
                            Lastcolnumber = dt.Columns.Count - 1;

                            <tr style="background-color:lightblue">
                                @foreach (System.Data.DataColumn col in dt.Columns)
                                {
                                    <th width="300px">@col.ColumnName.ToString()</th>                                    
                                    Headcolnumber++;
                                }
                            </tr>

                            for (int rowprint = 0; rowprint < dt.Rows.Count; rowprint++)
                            {
                                System.Globalization.CultureInfo hindi = new System.Globalization.CultureInfo("hi-IN");

                            

                                <tr>
                                  
                                        <td width="300px">@dt.Rows[rowprint]["SalesOrderNo"].ToString()</td>
                                        <td width="300px">@dt.Rows[rowprint]["ClientName"].ToString()</td>
                                        
                                        <td width="300px">@dt.Rows[rowprint]["Branch_Name"].ToString()</td>
                                        
                                        
                                     
                                </tr>
                            }










                        }
                        else
                        {
                            <tr style="background-color:lightblue">
                                No Records Found
                            </tr>
                        }
                    </table>
                </div>




            </div>

    </div>
}


<!--export to excel-->
@*<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>*@

@*...Calender Control...*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


@*Ashwini Scripts here for datatable starts here*@
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

<!--export to excel-->
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>
@*Ashwini Scripts here for datatable ends here*@








@*Date Picker for From Date*@

<script>
    $(function () {
        $(".FromD").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50"
        });
    });
</script>
<script>
    $(function () {
        $(".ToD").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50"
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSearch").click(function myfunction() {
            debugger;
            if (ValidateForm() == false) {
                return false;
            }
            else {
                $("#form1").submit()
            }
        });
    });

    function ValidateForm() {

        if ($("#FromDate").val() == "") {
            alert('Select From Date!');
            return false;
        }
        if ($("#ToDate").val() == "") {
            alert('Select To Date!');
            return false;
        }
        debugger;
        if ($("#FromDate").val() > $("#ToDate").val()) {
            alert("To Date Selected is Greater than From Date  !!!");
            return false;
        }

        else {
            return true;

        }
    }
</script>

<script>
           [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
               new MvcGrid(element);
           });
</script>		



