
@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "OPE_Report";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--filepond-->
<link href="~/AllJsAndCss/css/filepond.css" rel="stylesheet" />

@*<script src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

    <script src="~/AllJsAndCss/js/datatable-custom.js"></script>

    <link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />*@

<!--filepond-->
<!-- Load FilePond library -->
<script src="~/AllJsAndCss/js/filepond.js"></script>

<!-- Turn all file input elements into ponds -->

<style>
    .height-table {
        height: auto;
    }

    body {
        font-family: 'TNG Pro';
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #001ED2;
        color: #ffffff;
    }

    @@media (max-width: 600px) {
        table {
            border: 0;
        }

            table thead {
                display: none;
            }

            table tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid #ddd;
            }

            table td {
                display: block;
                text-align: right;
            }

                table td:last-child {
                    border-bottom: 0;
                }
    }

    label {
        font-weight: normal;
        font-family: 'TNG Pro';
    }
</style>


<script>
    FilePond.parse(document.body);
</script>

@*New added Code*@
@*<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />*@

<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">
            <form method="post">
                <div class="col-xs-12">
                    <h3 class="dynamic-page-title dynamic-page-title-2  text-left"style="margin-left: -56px;">Out of Pocket Expenses Voucher(s) List</h3>
                    @*<button type="button" value="ExportToExcel" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("ExportIndexOpeReport", "MISOPEReport")'"
                            style="border:none;display:none;">
                        Export To Excel
                    </button>*@

                </div><!-- /.col -->


            </form>

            @*<div class="col-xs-12">
                <hr class="custom-hr">
            </div>*@<!-- /.col -->
            <!--Table was here-->

        </div><!-- /.row -->

        <div class="col-xs-12">

        </div><!-- /.data table col -->

        <div class="col-xs-12">


            <table class="display" style="" id="example">
                <thead>
                    <tr>
                        @*<th style="width:15%;"><label>Action</label></th>*@
                        <th><label>Number</label></th>
                        <th><label>Month</label></th>
                        <th><label>Days</label></th>
                        <th><label>Complaint Number(s)</label></th>
                        <th><label>OPE Claim Amount(INR)</label></th>
                        <th><label>Approved Amount (INR)</label></th>
                        @*<th><label>Remarks</label></th>*@
                        @*<th style="width:15%;"><label>Admin QA Remarks</label></th>*@
                        <th><label>Status</label></th>
                    </tr>
                </thead>
            </table>

        </div>
        @*<div class="col-xs-12">
                <input type="button" id="btnApprove" value="Approve" class="btn btn-default insert-form-btn" style="margin-bottom: 40px;" />
            </div>*@
    </div><!-- /.container-fluid -->
    <!--End of header-->

</div>
<div class="modal fade" id="remarksModal" tabindex="-1" role="dialog" aria-labelledby="remarksModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remarksModalLabel" style="font-family:'TNG Pro';color:#FB5F6B;font-size:20px;">Please provide a reason for the delay in claiming the expenses after 7 days in the box below.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="txtarea" name="txtarea" rows="6" cols="90"></textarea>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="saveRemarksButton" onclick="DelayRemark()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var UrlLink = System.Configuration.ConfigurationManager.AppSettings["UrlLink"];
}
<script type="text/javascript">
        var currentOPNumber;
            $('#remarksModal').modal('hide'); // Ensure the modal is hidden on page load
    $(document).ready(function () {
        debugger;
        var months = ['Select Month',
       'January', 'February', 'March', 'April', 'May', 'June',
       'July', 'August', 'September', 'October', 'November', 'December'
        ];

        var dropdown = $('#monthDropdown');

        // Loop through the months array and append options to the dropdown
        for (var i = 0; i < months.length; i++) {
            dropdown.append($('<option></option>').val(i + 1).text(months[i]));
        }

        var dropdown = $('#yearDropdown');
        var currentYear = new Date().getFullYear();
        dropdown.append($('<option></option>').text("Select Year"));
        // Bind the last 10 years to the dropdown
        for (var i = 0; i < 10; i++) {
            var year = currentYear - i;
            dropdown.append($('<option></option>').val(year).text(year));
        }


        Get_OPE_SearchData();
    });


    function Get_OPE_SearchData() {
        debugger;
        var UrlLink = '@UrlLink';
        var Month = "";
        var Year = "";
        $.ajax({
            type: "Get",
            url: UrlLink+"/MISOPEReport/Get_OPE_SearchData",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { Month: Month, Year: Year },
            success: function (response) {
                debugger;
                var a = JSON.parse(response);
                var aa = JSON.stringify(response);
                // Get_OPE_SearchData();

                if (a == "Error") {
                    $("#example tbody").empty();
                    tr = $('<tr/>');
                    tr.append('<td colspan=7 style="text-align: center;">No Records Found</td>');
                    $('#example').append(tr);
                }
                else {

                    var c = 0;
                    $("#example tbody").empty();
                    for (var i = 0; i < a.length; i++) {
                        c = 1 + i;

                        //var splitResult = a[i].OP_Number.split('-');  commenetd by nikita on 15012024
                        var splitResult = a[i].MonthsName;


                        // Create a date object
                        var date = new Date();

                        // Get the current month
                        var currentMonth = date.getMonth();

                        // Increment the month by 1 to get the next month
                        var nextMonth = currentMonth + 1;


                        // Adjust if the next month exceeds December (month index 11)
                        if (nextMonth > 11) {
                            nextMonth = 0; // Reset to January (month index 0)
                        }

                        // Array of month names   commented by nikita on 15012024
                        //var monthNames = [
                        //  "Jan", "Feb", "Mar", "Apr",
                        //  "May", "Jun", "Jul", "Aug",
                        //  "Sep", "Oct", "Nov", "Dec"
                        //];


                        //added by nikita on 15012024
                        var monthNames = [
                          "January", "February", "March", "April",
                          "May", "June", "July", "August",
                          "September", "October", "November", "December"
                        ];

                        // Get the abbreviated name of the next month
                        var nextMonthAbbreviation = monthNames[nextMonth];
                        var CurrentMonthAbbreviation = monthNames[currentMonth];




                        tr = $('<tr/>');
                        tr.append("<td><a href='"+UrlLink +"/MISOPEReport/OPE_History?OP_Number=" + a[i].OP_Number + "'>" + a[i].OP_Number + "</a></td>");
                        //tr.append("<td><label id='V_" + c + "'>" + a[i].OP_Number + "</label> </td>");
                        //tr.append("<td><label id='V_" + i + "'class='label1'>" + a[i].MonthName + "</label> </td>");
                        tr.append("<td><label id='V_" + i + "'class='label1'>" + a[i].MonthsName + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].WorkingDay + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].Complaint + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].AmountClaim + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].ApprovedAmount + "</label> </td>");
                        //tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                        //tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                        //tr.append("<td><label id='V_" + c + "'>" + a[i].Status + "</label> </td>");

                        //if (splitResult[1] == CurrentMonthAbbreviation)  commenetd by nikita on 15012024
                        if (splitResult == CurrentMonthAbbreviation)

                            tr.append("<td style='width:20%;'><label id='V_" + c + "'>-</label></td>");
                        else {
                            if (a[i].Status == 'Send For Approval')
                                //tr.append("<td><button type='button' id='btn_" + c + "'  value='Send For Approval' style='background-color: #00003C;color: white;' onclick=SendForApproval('" + a[i].OP_Number + "')</button></td>");
                                tr.append(
      "<td>" +
        "<button type='button' id='btn_" + c + "' value='Send For Approval' " +
        "style='background-color: #00003C; color: white;' " +
        "onclick='SendForApproval(\"" + a[i].OP_Number + "\")'>" +
        "Send For Approval" +
        "</button>" +
      "</td>"
    );

                            else
                                tr.append("<td><label id='V_" + c + "'>" + a[i].Status + "</label></td>");


                        }

                        //if (a[i].Status == 'Send For Approval')
                        //    tr.append("<td style='width:20%;'><input type='button' id='btn_" + c + "'  value='Send For Approval' onclick=SendForApproval('" + a[i].OP_Number + "')></td>");
                        //else
                        //    tr.append("<td style='width:20%;'><label id='V_" + c + "'>" + a[i].Status + "</label></td>");


                        $('#example').append(tr);
                    }

                    $("#example_info").hide();
                    $("#example_paginate").hide();
                }
            },
            error: function (xhr, status, error) {
                // Code to handle errors goes here
            }

        });
        //$.ajax({
        //    type: "GET",
        //    url: "/MISOPEReportController/Get_OPE_SearchData",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function (response) {
        //        var a = JSON.parse(response);
        //        var aa = JSON.stringify(response);

        //        if (a == "Error") {
        //            $("#example tbody").empty();
        //            tr = $('<tr/>');
        //            tr.append('<td colspan=6 style="text-align: center;">No Record Found</td>');
        //            $('#example').append(tr);
        //        }
        //        else {


        //            $("#example tbody").empty();
        //            for (var i = 0; i < a.length; i++) {
        //                tr = $('<tr/>');
        //                tr.append("<td><label id='V_" + c + "'>" + a[i].OP_Number + "</label> </td>");
        //                tr.append("<td><label id='V_" + c + "'>" + a[i].WorkingDay + "</label> </td>");
        //                tr.append("<td><label id='V_" + c + "'>" + a[i].AmountClaim + "</label> </td>");
        //                tr.append("<td><label id='V_" + c + "'>" + a[i].ApprovedAmount + "</label> </td>");
        //                tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
        //                tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
        //                //tr.append("<td><label id='V_" + c + "'>" + a[i].Status + "</label> </td>");
        //                if (a[i].Status == 'Send For Approval')
        //                    tr.append("<td style='width:20%;'><input type='button' id='btn_" + c + "'  value='Send For Approval' onclick=SendForApproval('" + a[i].OP_Number + "')></td>");
        //                else
        //                    tr.append("<td style='width:20%;'><label id='V_" + c + "'>" + a[i].Status + "</label></td>");

        //                $('#example').append(tr);
        //            }
        //        }
        //    },
        //    error: function (xhr, status, error) {
        //        // Code to handle errors goes here
        //    }
        //});

    };

    $('#chkChkAll').click(function (e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);
    });


    $('#btnSearch').click(function (e) {
        debugger;
        var UrlLink = '@UrlLink';
        var Month = $("#monthDropdown option:selected").text();
        var Year = $("#yearDropdown option:selected").text();
        if (Month == "Select Month") {
            alert("Please Select Month ");

        }
        else if (Year == "Select Year") {
            alert("Please Select Year ");

        }
        else {
            $.ajax({
                type: "Get",
                url: UrlLink +"/MISOPEReport/Get_OPE_SearchData",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { Month: Month, Year: Year },
                success: function (response) {
                    var a = JSON.parse(response);
                    var aa = JSON.stringify(response);
                    // Get_OPE_SearchData();

                    if (a == "Error") {
                        $("#example tbody").empty();
                        tr = $('<tr/>');
                        tr.append('<td colspan=7 style="text-align: center;">No Records Found</td>');
                        $('#example').append(tr);
                    }
                    else {

                        var c = 0;
                        $("#example tbody").empty();
                        for (var i = 0; i < a.length; i++) {
                            c = 1 + i;
                            tr = $('<tr/>');
                            tr.append("<td><label id='V_" + c + "'>" + a[i].OP_Number + "</label> </td>");
                            tr.append("<td><label id='V_" + i + "'class='label1'>" + a[i].MonthsName + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].WorkingDay + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].AmountClaim + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].ApprovedAmount + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                            //tr.append("<td><label id='V_" + c + "'>" + a[i].Status + "</label> </td>");
                            if (a[i].Status == 'Send For Approval')
                                tr.append("<td style='width:20%;'><input type='button' id='btn_" + c + "'  value='Send For Approval' onclick=SendForApproval('" + a[i].OP_Number + "')></td>");
                            else
                                tr.append("<td style='width:20%;'><label id='V_" + c + "'>" + a[i].Status + "</label></td>");


                            $('#example').append(tr);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    // Code to handle errors goes here
                }

            });
        }
    });

     function SendForApproval(OP_Number) {
        debugger;
        $("#txtarea").val('');
        currentOPNumber = OP_Number;
        var currentDate = new Date();
        var currentDay = currentDate.getDate();

        // Call DelayFlag function with a callback
        DelayFlag(OP_Number, function (isvalid, DelayFlag) {
            if (isvalid) {
                proceedWithApproval(OP_Number);
                $('#remarksModal').modal('hide');
            } else {
                if (currentDay > 7) {
                    $('#remarksModal').modal('show');
                    $('#remarksModal').off('hidden.bs.modal').on('hidden.bs.modal', function () {
                        console.log('Modal hidden. Proceeding with approval...');
                        //proceedWithApproval(OP_Number);
                    });
                } else {
                    proceedWithApproval(OP_Number);
                    $('#remarksModal').modal('hide');
                }
            }
        });
    }




    function proceedWithApproval(OP_Number) {
        debugger;
        //DelayFlag(OP_Number, function (isvalid) {
        //    console.log("DelayFlag result: ", DelayFlag); // Debugging statement

        //    if (!isvalid) {
        //        console.log("Stopping execution as DelayFlag is false."); // Debugging statement
        //        $('#remarksModal').modal('hide');
        //        return;
        //    }
            //else{
                Validate_Days(OP_Number, function (isvalid) {
                    if (isvalid) {
                        if (confirm('Do you want to proceed with voucher(s) approval?')) {
                            var UrlLink = '@UrlLink';
                            var button = $('#btn_1');
                            button.prop('disabled', true);
                            setTimeout(function () {
                                button.prop('disabled', false);
                            }, 1000);
                            var Data = [];
                            var item = {};
                            var i = 0;
                            i++;
                            var row = $(this).closest("tr")[0];
                            var _rowIndex = 1;
                            var item = {};
                            var checkboxId = $(this).attr('id');
                            console.log('Checkbox ID: ' + checkboxId);
                            var TotalAmountSelector_ = '#example tbody tr:eq(' + _rowIndex + ') td:eq(3) label';
                            var TotalAmount = $(TotalAmountSelector_).text();
                            var ApprovedAmountSelector = '#example tbody tr:eq(' + _rowIndex + ') td:eq(4) input[type="text"]';
                            var ApprovedAmount = $(ApprovedAmountSelector).val();
                            var ApprovedRemarksSelector = '#example tbody tr:eq(' + _rowIndex + ') td:eq(5) input[type="text"]';
                            var ApprovedRemarks = $(ApprovedRemarksSelector).val();
                            item["VoucherNo"] = checkboxId;
                            item["Remarks"] = ApprovedRemarks;
                            item["ApprovedAmount"] = ApprovedAmount;
                            item["TotalAmount"] = TotalAmount;
                            Data.push(item);
                            $.ajax({
                                type: "GET",
                                url: UrlLink + "/MISOPEReport/SendForApproval",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                async: false,
                                data: { OP_Number: OP_Number },
                                success: function (response) {
                                    var a = JSON.parse(response);
                                    Get_OPE_SearchData();
                                },
                                error: function (xhr, status, error) {
                                }
                            });
                        }
                    }
                    else
                    {
                        alert('Timesheet entry is not fully filled. Cannot proceed with approval.');
                    }
                });
            //}
        //})
    }


    $('#btnApprove').click(function (e) {
        debugger;
        var Data1 = JSON.stringify(Data);
        $.ajax({
            type: "Get",
            url: UrlLink +"/GenerateVoucher/BulkApproveVoucher",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { Data1: Data1 },
            success: function (response) {
                debugger;
                var a = JSON.parse(response);
                var aa = JSON.stringify(response);
                GetVoucherList();
            },
            error: function (xhr, status, error) {
            }

        });

    });


    function Validate_Days(OP_Number,callback) {
        debugger;
        $.ajax({
            url:"@Url.Action("ValidateSendForapproval", "MISOPEReport")",
            type:'Get',
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: { OP_Number: OP_Number },
        success: function (result) {
            debugger;
            var data = JSON.parse(result);
            var Result_ = data[0].DateCounts;

            callback(Result_ == 'Yes'); // Pass true/false based on validation result
        },
        error: function (result) {
            alert("something went wrong");
        }

    })
    }


      function DelayRemark(){
          debugger;
          var currentOPNumber1 = '@Session["OP_Number1"]';
            var Op_number = currentOPNumber1;
            var remark = $("#txtarea").val();

            if(remark ==null  || remark ==""){
            alert("Please Enter Remark");
            $('#remarksModal').modal('show');
             $("#txtarea").focus();
            return false;

            }
            $.ajax({
                url:"@Url.Action("DelayRemark", "MISOPEReport")",
                type:'post',
                dataType: 'json',
                async: false,
                data: { OP_Number: Op_number, Remarks: remark },
                success:function(result){
                    debugger;
                },
                error: function (result) {
                    debugger;
                }
           })
        }

    function DelayFlag(OP_Number,callback) {
        debugger;
        var Op_number = currentOPNumber;
        $.ajax({
            url:"@Url.Action("Delayflag", "MISOPEReport")",
            type:'post',
            dataType: 'json',
            async: false,
        data: { OP_Number: Op_number},
        success:function(result){
            debugger;
            var data = JSON.parse(result);
            var Result_ = data[0].DelayFlag;
            if (Result_ == "1") {
                callback(true);
            }
            else {
                callback(false);
            }
        },
        error: function (result) {
            debugger;

            console.error("Error fetching DelayFlag:", error);
            callback(false, null);

        }
    })
    }
</script>


