
@{
    ViewBag.Title = "OPE_History";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}


<!--filepond-->
@*<link href="~/AllJsAndCss/css/filepond.css" rel="stylesheet" />*@

@*<script src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

    <script src="~/AllJsAndCss/js/datatable-custom.js"></script>*@

<style>
    .highlight-row {
        /*background-color: #FFFF00;*/
        background-color: #FFEB00;
    }

    /* Add styles for the table */
    #example {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        border: 1px solid #000; /* Black border for the table */
        font-family: 'TNG Pro';
    }

        #example th, #example td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            font-family: 'TNG Pro';
        }

        #example th {
            background-color: #001ED2; /* Electric blue color for the header background */
            color: #fff; /* White text color for the header */
            font-family: 'TNG Pro';
        }

    /* Style the checkbox */
    .custom-checkbox {
        margin-top: -2px;
    }

    /* Style the header row with the checkbox */
    #example thead tr:first-child th:first-child {
        padding-left: 15px;
        font-family: 'TNG Pro';
    }

    /* Add a hover effect to the table rows */
    #example tbody tr:hover {
        /*background-color: #ffcccc;*/
    }
</style>
@*//added by nikita*@
<style>
    .box_ {
        width: 16%;
        height: 34px;
        padding: 0px 15px;
        font-size: 14px;
        line-height: 4.428571;
        color: black;
        background-color: #fff;
        background-image: none;
        border: 0px solid #ccc;
        border-radius: 0;
        /*background-color: #eee;*/
        opacity: 1;
    }

    .box_1 {
        width: 1039px;
        height: 34px;
        padding: 0px 15px;
        font-size: 14px;
        line-height: 4.428571;
        color: black;
        background-color: #fff;
        background-image: none;
        border: 0px solid #ccc;
        border-radius: 0;
    }

    .highlight {
        background-color: yellow;
    }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        /*text-align: left;*/
        font-family:'TNG Pro';
        font-weight:normal;
    }
    .fixedsize {
        width: 1400px;
        table-layout: fixed;
    }

        .fixedsize td {
            /*border:1px solid;*/
            padding: 4px 0px;
            font-size: 12px;
        }

        .fixedsize th {
            /*border:1px solid;*/
            padding: 4px 0px;
            font-size: 12px;
            word-wrap: break-word;
        }

    .table-con {
        width: 1334px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
@*New added Code*@
@*<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />*@

<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">
            <form method="post">

                <div class="col-xs-12">
                    @*<h3 class="dynamic-page-title dynamic-page-title-2  text-left">OPE History</h3>*@
                    @*<button type="button" value="ExportToExcel" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("ExportToExcel1","MISOPEReport", new { OPE_Number = @ViewBag.OP_Number })'"
                            style="border:none;">
                        Export To Excel
                    </button>*@
                
                    <button type="button" value="Back" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("OPE_Report","MISOPEReport" )'"
                            style="border:none;">
                        Back
                    </button>
                    <button type="button" value="ExportToPDF" id="btnpdf" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("GeneratePDF","MISOPEReport", new { OPE_Number = @ViewBag.OP_Number })'"
                            style="border:none;">
                        Export To PDF
                    </button>
                    <br />
                    @*<div class="col-xs-12">
                        <hr class="custom-hr">
                    </div>*@
                    @*<b style="padding-left: 0px;"> OPE Number :  </b><input type="text" id="txtOP_Number" name="txtOP_Number" class="box_" value="@ViewBag.OP_Number" readonly />
                    <b style="padding-left: 0px;"> Inspector Name :  </b><input type="text" id="txtinspectorname" class="box_" readonly />
                    <b style="padding-left: 0px;"> EmployeeCode :  </b><input type="text" id="txtemployeecode" class="box_" readonly />*@
                    <b style="margin-left: -48px;"> OPE Number :</b><input type="text" id="txtOP_Number" name="txtOP_Number" class="box_" value="@ViewBag.OP_Number" readonly />
                    @*<b style="padding-left: 0px;"> Inspector Name :  </b><input type="text" id="txtinspectorname" class="box_" readonly />
        <b style="padding-left: 0px;"> EmployeeCode :  </b><input type="text" id="txtemployeecode" class="box_" readonly />*@
                    <b style="padding-left: 43px;"> Period : </b><input type="text" id="txtperiod" name="txtperiod" class="box_" readonly />

                    <b style="padding-left: 35px;"> Month : </b><input type="text" id="txtmonth" name="txtperiod" class="box_" readonly />


                </div><!-- /.col -->
            </form>



        </div><!-- /.row -->

        <div class="col-xs-12">

        </div><!-- /.data table col -->
        <div class="row">
            @*<div class="col-xs-12 col-sm-4">*@
            <div class="form-group">
                @*<b style="padding-left: 86px;">Address: </b><input type="text" id="txtaddress" name="Address" class="box_1" readonly />*@
                <b style="padding-left: 41px;"> Inspector Name :</b><input type="text" id="txtinspectorname" class="box_" readonly />
                <b style="padding-left: 0px;margin-left:-4px;"> Branch :</b><input type="text" id="txtBranch" class="box_" readonly />

                <b style="padding-left: 0px;"> EmployeeCode:</b><input type="text" id="txtemployeecode" class="box_" readonly />

            </div>
            @*</div>*@
        </div>
        <div class="col-xs-12">

            @*<table class="display dataTable no-footer evaluation" style="overflow-y:auto" id="gridMapping">
                <tr>
                    <td>*@
            <input type="hidden" id="hdnOP_Number" name="hdnOP_Number" value="@ViewBag.OP_Number" />
            <input type="hidden" id="hdnPKExpenseId" name="hdnPKExpenseId" />

            <table class="display dataTable no-footer evaluation fixedsize" id="example">
                <thead class="thead-dark" style="background-color: #001ED2;color: #ffffff;">
                    <tr>

                        <th style="width:70px;">Date</th>
                        @*<th><label>InspectorName</label></th>*@
                        @*<th><label>Branch Name</label></th>*@
                        @*<th><label>EmployeeCode</label></th>*@
                        <th>Activity Type</th>
                        @*<th style="width:100px;"><label>Job</label></th>*@
                        <th>Sub job</th>
                        <th>SAP No</th>
                        <th>Customer Name</th>
                        <th>Vendor Name</th>
                        <th>Job Location</th>
                        @*<th><label>Total Time</label></th>
                        <th><label>OD Time</label></th>
                        <th><label>trans</label></th>
                        <th><label>Manday</label></th>*@
                        <th>On-Site Time (Hrs.)</th>
                        @*<th><label>End Time</label></th>*@
                        @*<th><label>Travel Time</label></th>*@
                        <th>OPE Claim Amount (INR)</th>

                        @*<th><label>OP_Number</label></th>
                            <th><label>NextApproval</label></th>
                            <th><label>IsSendForApproval</label></th>
                            <th><label>ApprovedAmount</label></th>
                            <th><label>Stage</label></th>*@

                    </tr>
                </thead>
            </table>
            @*</td>
                    </tr>

                </table>*@
            <br /><br />
            <div class="col-md-12" style="margin-top:auto;margin-left:0px;font-family:'TNG Pro';display: none;">
                <div class="table">
                    <table class="table table-condensed table-responsive " id="tblusers" style="border:1px;font-size:12px;">
                        <thead style="background-color:#001ED2;color:white;border:1px solid;">
                            <tr class="" style="background-color:#001ED2;font-family:'TNG Pro';color:white;">
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Date</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Approval Stage</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Approver Name</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Remarks</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Deducted OPE For Mandays</th>

                                @*<th scope="col" style="font-size: 14px;font-family:'TNG Pro';">Total Amount approved</th>*@
                            </tr>
                        </thead>
                        <tbody id="userbody" style="border:1px solid;font-size:13px;font-family:'TNG Pro';color: black;"></tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Delay Remarks:</label><br />
                    <textarea rows="3" style="resize: none;width: 500px;height: 86px;" id="txtdelarremarks"></textarea>
                </div>
            </div>
        </div>
        @*<div class="col-xs-12">
                <textarea rows="4" style="resize: none;width: 500px;height: 86px;" id="txtRemarks"></textarea>
                <input type="button" id="btnApprove" value="Approve" class="btn btn-default insert-form-btn" style="margin-bottom: 40px;" />
            </div>*@
    </div><!-- /.container-fluid -->
    <!--End of header-->

</div>

@*New Added Code End*@


<!--filepond-->
<!-- Load FilePond library -->
<script src="~/AllJsAndCss/js/filepond.js"></script>

<!-- Turn all file input elements into ponds -->
<script>
    FilePond.parse(document.body);
</script>
@{
    var UrlLink = System.Configuration.ConfigurationManager.AppSettings["UrlLink"];
}
<script type="text/javascript">
    @*<input type="hidden" id="hdnVoucherNo" value="@ViewBag.VoucherNo"/>*@


    $(document).ready(function () {
        var OP_Number = $("#hdnOP_Number").val();
        VoucherHistory(OP_Number);
        BindDescription();
         GetRemark();
    });


    function VoucherHistory(OP_Number) {
        var UrlLink = '@UrlLink';
        $.ajax({
            type: "GET",
            url:UrlLink+ "/MISOPEReport/GetOP_HistoryList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async:false,
            data: { OP_Number: OP_Number },
            success: function (response) {
                var a = JSON.parse(response);
                var aa = JSON.stringify(response);

                let name = a[0].InspectorName;
                let employeecode = a[0].EmployeeCode;
                let address = a[0].address;
                var branch = a[0].Branch_Name;
                var MonthName = a[0].MonthName;
                var IsSendForApproval = a[0].IsSendForApproval;
                //var DelayRemarks = a[0].DelayRemarks;
                $("#txtinspectorname").val(name);
                $("#txtemployeecode").val(employeecode);
                $("#txtaddress").val(address);
                $("#txtBranch").val(branch);
                $("#txtmonth").val(MonthName);


                if (IsSendForApproval == "1") {
                    $("#btnpdf").show();

                }
                else {
                    $("#btnpdf").hide();

                }
                //added by nikita on 25122023

                let dateArray = [];
                let dateRange = '';
                // Assume 'Date' is the column name containing date values
                for (let i = 0; i < a.length; i++) {
                    let currentDate = a[i].Date;

                    // Check if the date is defined and not null
                    if (currentDate) {
                        dateArray.push(currentDate);
                    }
                }

                // Ensure the array is not empty
                if (dateArray.length > 0) {
                    // Sort the date strings in ascending order
                    dateArray.sort((a, b) => {
                        const dateA = new Date(a);
                        const dateB = new Date(b);
                        return dateA - dateB;
                    });

                    // Get the minimum and maximum dates
                    const minDate = dateArray[0];
                    const maxDate = dateArray[dateArray.length - 1];

                    // Display the result
                    dateRange = minDate + " - " + maxDate;
                    //console.log(dateRange);
                } else {
                    console.log("The date array is empty or contains only undefined/null values.");
                }
                $("#txtperiod").val(dateRange);

                if (a == "Error") {

                }
                else {

                    var Isreadonly = '';
                    $("#example tbody").empty();
                    var TotalApprovalAmount = 0;
                    for (var i = 0; i < a.length; i++) {
                        //if (a[i].StageName == QuestionSet) {

                        var parts = a[i].Date.split("T");

                        var c = i + 1;
                        TotalApprovalAmount = TotalApprovalAmount + a[i].TotalAmount;
                        tr = $('<tr/>');


                        tr.append("<td>" + a[i].Date+"</td>");
                        //tr.append("<td>" + a[i].InspectorName+"</td>");
                        //tr.append("<td>" + a[i].Branch_Name+"</td>");
                        //tr.append("<td>" + a[i].EmployeeCode+"</td>");
                        tr.append("<td>" + a[i].ActivityType+"</td>");
                        //tr.append("<td>" + a[i].Job+"</td>");
                        tr.append("<td>" + a[i].Sub_jOb+"</td>");
                        tr.append("<td>" + a[i].SAP_No + "</td>");
                        tr.append("<td>" + a[i].Company_Name + "</td>");
                        tr.append("<td>" + a[i].Vendor_Name+"</td>");
                        tr.append("<td>" + a[i].Job_Location+"</td>");
                        //tr.append("<td>" + a[i].TotalTime+"</td>");
                        //tr.append("<td>" + a[i].ODTime+"</td>");
                        //tr.append("<td>" + a[i].trans+"</td>");
                        //tr.append("<td>" + a[i].Manday+"</td>");
                        tr.append("<td>" + a[i].StartTime+"</td>");
                        //tr.append("<td>" + a[i].EndTime+"</td>");
                        //tr.append("<td>" + a[i].TravelTime+"</td>");
                        //tr.append("<td>" + a[i].OP_Number+"</td>");
                        //tr.append("<td>" + a[i].NextApproval+"</td>");
                        //tr.append("<td>" + a[i].IsSendForApproval+"</td>");
                        //tr.append("<td>" + a[i].ApprovedAmount+"</td>");
                        //tr.append("<td>" + a[i].Stage+"</td>");
                        tr.append("<td>" + a[i].OPEClaim+"</td>");



                        $('#example').append(tr);
                        //}
                    }
                    $("#example_info").hide();
                    $("#example_paginate").hide();
                    //tr = $('<tr/>');
                    //tr.append("<td colspan='13' style='background-color: #001ED2;color: #ffffff;text-align: end;'><label id='V_Total'>Total Amount</label> </td>");
                    //tr.append("<td style='background-color: #001ED2;text-align: end;'>"
                    //            + "<input type='text' id='V_TotalAmount' value ='" + TotalApprovalAmount
                    //            + "' onkeypress='return IsNumeric(event);' ondrop='return false;' onpaste='return false;' readonly></input> "
                    //        + "</td>");
                    //$('#example').append(tr);

                    //tr = $('<tr/>');
                    //tr.append("<td colspan='13' style='background-color: #001ED2;color: #ffffff;text-align: end;'><label id='V_Total'>Approval Amount</label> </td>");
                    //tr.append("<td style='background-color: #001ED2;text-align: end;'>"
                    //            + "<input type='text' id='V_Approved_' value ='" + TotalApprovalAmount
                    //            + "' onkeypress='return IsNumeric(event);' ondrop='return false;' onpaste='return false;' " + Isreadonly + "></input> "
                    //        + "</td>");
                    //$('#example').append(tr);
                }
            },
            error: function (xhr, status, error) {
                // Code to handle errors goes here
            }

        });

    };

    $('#chkChkAll').click(function (e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);
    });

    $('#btnApprove').click(function (e) {
        var UrlLink = '@UrlLink';
        var VoucherNo = $("#hdnVoucherNo").val();
        var Remarks = $("#txtRemarks").val();
        var ApprovedAmount = $("#V_Approved_").val();
        var TotalAmount = $("#V_TotalAmount").val();
        var PKExpenseId = $("#hdnPKExpenseId").val();

        alert(VoucherNo);
        alert(Remarks);
        var data1 = [];



        var item = {};
        item["VoucherNo"] = VoucherNo;
        item["ApprovedAmount"] = ApprovedAmount;
        item["TotalAmount"] = TotalAmount;
        item["Remarks"] = Remarks;
        item["PKExpenseId"] = PKExpenseId;
        data1.push(item);
        var data = JSON.stringify(data1);
        $.ajax({
            type: "Get",
            url: UrlLink +"/MISOPEReport/GetOP_HistoryList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { data: data },
            success: function (response) {
                var a = JSON.parse(response);
                var aa = JSON.stringify(response);

            },
            error: function (xhr, status, error) {
                // Code to handle errors goes here
            }

        });

    });
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    function IsNumeric(e) {
        var keyCode = e.which ? e.which : e.keyCode
        if (!(keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1) {
            return false;
        };

    }


    //added by nikita for table description on 251222023
    function BindDescription() {
        debugger;
        var VoucherNo = $("#txtOP_Number").val();
        var UrlLink = '@UrlLink';

        $.ajax({
            ////url: UrlLink + "/GenerateVoucher/Voucher_History_Description",
            url: "@Url.Action("Op_Voucher_History_Description", "MISOPEReport")",
            type: "get",
        DataType: "json",
        async: false,
        contenttype: "application/json; charset=utf-8",
        data:{VoucherNo:VoucherNo},
        success: function (result) {
            debugger;
            var a = JSON.parse(result);
            if (a == "Error") {
            }
            else {
                let date = [a[0].Date, a[0].ApprovalOne_two_Date, a[0].PCH_Approval_Date, a[0].AdminQA_Approval_Date, a[0].CH_Approval_Date, a[0].Accountant_date];
                //added by nikita on 27122023
                let DeductMandays = [a[0].DeductMandays_BranchQA, a[0].DeductMandays_ApprovalOne_Two, a[0].DeductMandays_Pch, a[0].DeductMandays_Admin, a[0].DeductMandays_Ch, a[0].DeductMandays_Accounatantt];
                let Name_ = [a[0].BranchQAApproval, a[0].Name, a[0].PCH_Name, a[0].AdminQA_Approval, a[0].CH_Approval, a[0].Account_Approval];

                var Data = ["BranchQA", "ApprovalOne/ApprovalTwo", "PCH", "AdminQA", "ClusterHead", "Accountant"];
                let k = 0;
                var myArray = [];
                for (var i = 0; i < a.length; i++) {
                    if (!!a[i].Branch_QA_Description) {
                        myArray.push(a[i].Branch_QA_Description);
                        k++;
                    }
                    if (!!a[i].ApprovalOne_Description) {
                        myArray.push(a[i].ApprovalOne_Description);
                        k++;
                    }
                    if (!!a[i].PCH_Approval_Description) {
                        myArray.push(a[i].PCH_Approval_Description);
                        k++;

                    }
                    if (!!a[i].AdminQA_Description) {
                        myArray.push(a[i].AdminQA_Description);
                        k++;
                    }
                    if (!!a[i].CH_Approval_Description) {
                        myArray.push(a[i].CH_Approval_Description);
                        k++;

                    }
                    if (!!a[i].Accountant_Description) {
                        myArray.push(a[i].Accountant_Description);
                        k++;
                    }


                    for (var j = 0; j < myArray.length; j++) {
                        //const approvalName = Name[j] == undefined ? "-" : Name[j];
                        // changes added by nikita on 22112023
                        $("#tblusers").append('<tr><td>' + date[j] + '</td><td>' + Data[j] + '</td><td>' + Name_[j] + '</td><td>' + myArray[j] + '</td><td>' + DeductMandays[j] + '</td></tr>')
                    }

                }
            }
        },
        error: function (result) {
            debugger;
            (result+"something went wrong");
        }
    });
    }

    function  GetRemark(){
        var Op_number = $("#txtOP_Number").val();
        var UrlLink = '@UrlLink';

        $.ajax({
            url: "@Url.Action("GetRemark", "MISOPEReport")",
            type: "get",
        DataType: "json",
        async: false,
        contenttype: "application/json; charset=utf-8",
        data:{OP_Number:Op_number},
        success: function (result) {
            debugger;
            var a = JSON.parse(result);
            if (a == "Error") {
            }
            else {
                var DelayRemarks = a[0].DelayRemark;
                $("#txtdelarremarks").val(DelayRemarks);
            }
        },
        error: function (result) {
            debugger;
            (result+"something went wrong");
        }
    });
}
</script>
