@model TuvVision.Models.ExpCommercial
@{
    ViewBag.Title = "EXp_commercial";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
    int j = 0;
}

<script src="~/AllJsAndCss/moment.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#format").on("change", function () {
            $("#datepicker").datepicker("option", "dateFormat", $(this).val());
        });
    });

</script>

<script>
    $(function () {
        $(".CDate").datepicker({
            //dateFormat: 'dd/mm/yy',//check change
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50",
            //maxDate: "+60d",
            //minDate: "-60d"
        });
    });
    </script>

<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<style>
    /*.table-product [class^="col-"] {
    flex-shrink: 1;*/


    #customers {
        font-family: 'TNG Pro';
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            /*background-color: #04AA6D;*/
            background-color: #104193;
            color: white;
        }
    /*}*/
</style>





<div class="main-content3 xs-max-height grey-bg-f3">
    <div class="grey-bg-f3">
        <!--Start of header-->
        <div class="container-fluid">
            @*class="container-fluid"*@
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">

                <div class="col-xs-12">
                    <div class="row">

                        <br />

                        <h5 class="dynamic-page-title dynamic-page-title-2">@Session["ExpeditingType"]Expediting Report Number : @Session["VisitReportNo"]</h5>

                        <div class="col-xs-12">


                            @if (Model.PK_Call_Id != "")
                            {
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpeditingReport", "Expediting",new { @PK_Call_ID = Model.PK_Call_Id} )'"> General</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpItemDescription", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Item Description</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpProgress", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Progress</button>
                                <button class="btn btn-default insert-form-btn" type="button" onclick="location.href='@Url.Action("EXp_commercial", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Commercial</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpEngineering", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Engineering</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpMaterial", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Procurement</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpManufacturing", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Manufacturing</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpFinalStage", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Final Stage</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpDelays", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Item Wise Delays</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpConcerns", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Concerns</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("PhotoAttachement", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Photo</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("Observation", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Observation</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("Records", "Expediting",new { @PK_Call_Id = Model.PK_Call_Id} )'">Records</button>

                            }



                        </div>

                        <div class="col-xs-12">
                            <div class="white-bg section-box-shadow">
                                <h3 class="form-page-title">Commercial</h3>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                        <div class="form-box">
                                            <form method="post" enctype="multipart/form-data">



                                                @Html.HiddenFor(m => m.PK_Call_Id)
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-12" style="margin-left:-70px;">
                                                            <table id="customers" class="display custom-table" cellspacing="0" style="width:900px">

                                                                <thead>
                                                                    <tr>
                                                                        <th class="remove-search" style="text-align:center;width:100px;">Documents</th>
                                                                        <th class="remove-search" style="text-align:center;width:100px;">Date</th>
                                                                        <th class="remove-search" style="text-align:center; width:70px;">Status of Submission</th>
                                                                        <th class="remove-search" style="text-align:center; width:120px;">Remarks</th>


                                                                    </tr>
                                                                </thead>

                                                                <tbody id="tblBody">

                                                                    @{
                                                                        int i = 0;
                                                                    }

                                                                    @foreach (var item in ViewBag.payment as IEnumerable<TuvVision.Models.ExpCommercial>)
                                                                    {

                                                                        i = i + 1;
                                                                        <tr>
                                                                            <td>
                                                                                @item.Documents
                                                                                @*@Html.TextBoxFor(model => model.Activity[j].Documents, "{0:dd MMM yyyy}", new { @Value = item.Documents, @class = "form-control Documents", @readonly = true })*@
                                                                                @Html.HiddenFor(model => model.Activity[j].Id, new { @Value = item.Id, @class = "form-control", @readonly = true })


                                                                            </td>
                                                                            <td>

                                                                            @Html.TextBoxFor(model => model.Activity[j].Date, "{0:dd MMM yyyy}", new { @Value = item.Date, @class = "form-control CDate" })
                                                                                
                                                                               









                                                                            </td>
                                                                            <td>
                                                                                @if (@item.Id == 1)
                                                                                {


                                                                                    @Html.DropDownListFor(model => model.Activity[j].Status, new SelectList(@ViewBag.Status, "Value", "Text", item.Status), "---Select Status---", new { @id = "IdUOM1", @class = "form-control CUOM" })
                                                                                    @Html.HiddenFor(model => model.Activity[j].Status)
                                                                                }

                                                                                else if (@item.Id == 2)
                                                                                {


                                                                                    @Html.DropDownListFor(model => model.Activity[j].Status, new SelectList(@ViewBag.secondStatus, "Value", "Text", item.Status), "---Select Status---", new { @id = "IdUOM2", @class = "form-control CUOM" })
                                                                                    @Html.HiddenFor(model => model.Activity[j].Status)


                                                                                }


                                                                                else if (@item.Id == 3)
                                                                                {

                                                                                    if (ViewBag.GetLastStatus != null)
                                                                                    {
                                                                                        @Html.DropDownListFor(model => model.Activity[j].Status, new SelectList(@ViewBag.secondStatus, "Value", "Text", item.Status), "---Select Status---", new { @id = "IdUOM3", @class = "form-control CUOM" })
                                                                                        @Html.HiddenFor(model => model.Activity[j].Status)


                                                                                    }
                                                                                }

                                                                                else if (@item.Id == 4)
                                                                                {
                                                                                    if (ViewBag.GetLastStatus != null)
                                                                                    {
                                                                                        @Html.DropDownListFor(model => model.Activity[j].Status, new SelectList(@ViewBag.GetLastStatus, "Value", "Text", item.Status), "---Select Status---", new { @id = "IdUOM4", @class = "form-control CUOM" })
                                                                                        @Html.HiddenFor(model => model.Activity[j].Status)
                                                                                    }


                                                                                }


                                                                            </td>
                                                                            <td align="center">
                                                                                @Html.TextBoxFor(model => model.Activity[j].Remarks, "{0:dd MMM yyyy}", new { @Value = item.Remarks, @class = "form-control item" })
                                                                                @Html.ValidationMessageFor(model => model.Activity[j].Remarks, "", new { @class = "text-danger validation-msg" })

                                                                            </td>








                                                                        </tr>






                                                                        j++;
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>



                                                        <!--Contact Details By Manoj -->


                                                    </div><!-- /.box-shadow -->

                                                </div>



                                                <div class="col-xs-12 text-center">

                                                    <button type="submit" class="btn btn-default insert-form-btn" id="datasave">Save </button>
                                                    @*<button type="button" class="btn btn-default insert-form-btn" onclick="submitForm('post')">Save </button>*@



                                                </div>


                                            </form>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $("#datasave").click(function myfunction() {

       
            $("#form1").submit();
            alert("Data Added successfully")
        
    })
</script>


