@model TuvVision.Models.ExpItemDescription
@{
    ViewBag.Title = "ExpItemDescription";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<script src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom.js"></script>


@*DATEPICKER*@

<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />


<style>
    body {
        overflow-x: hidden;
    }
</style>
<script>
    $(function () {
        $(".PlannedDate").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50",
            //maxDate: "+60d",
            //minDate: "-60d"
        });
    });

    $(function () {
        $(".CEstimentedDate").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50",
            //maxDate: "+60d",
            //minDate: "-60d"
        });
    });
</script>

<div class="main-content3 xs-max-height grey-bg-f3">
    <div class="grey-bg-f3">
        <!--Start of header-->
        <div class="container-fluid">
            @*class="container-fluid"*@
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">

                <div class="col-xs-12">
                    <div class="row">
                        <br />
                        @*<h3 class="dynamic-page-title dynamic-page-title-2">Item Description </h3>*@
                        <h5 class="dynamic-page-title dynamic-page-title-2">@Session["ExpeditingType"]Expediting Report Number : @Session["VisitReportNo"]</h5>
                        @*<a href="@Url.Action("CallsListByInspector","CallsMaster")" class="btn btn-info dynamic-function-btn dynamic-function-btn-2"><i class="fa fa-long-arrow-left"></i> Go Back</a>*@

                        <div class="col-xs-12">
                            @*text-right*@


                            @if (Model.PK_Call_ID != 0)
                            {
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpeditingReport", "Expediting",new { @PK_Call_ID = Model.PK_Call_ID} )'"> General</button>

                                <button class="btn btn-default insert-form-btn" type="button" onclick="location.href='@Url.Action("ItemDescription", "Expediting",new { @PK_Call_ID = Model.PK_Call_ID} )'">Item Description</button>

                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpProgress", "Expediting",new { @PK_Call_ID = Model.PK_Call_ID} )'">Progress</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("EXp_commercial", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Commercial</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpEngineering", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Engineering</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpMaterial", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Procurement</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpManufacturing", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Manufacturing</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpFinalStage", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Final Stage</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpDelays", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Item Wise Delays</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpConcerns", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Concerns</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("PhotoAttachement", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Photo</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("Observation", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Observation</button>
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("Records", "Expediting",new { @PK_Call_Id = Model.PK_Call_ID} )'">Records</button>
                            }




                        </div>


                        <div class="col-xs-12">
                            <div class="white-bg section-box-shadow">
                                <h3 class="form-page-title">Item Description</h3>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                        <div class="form-box">
                                            <form method="post" enctype="multipart/form-data">

                                                @if (Model.PK_Call_ID != 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <div class="col-xs-12">
                                                                    <h5 style="margin-top:10px;margin-bottom:8px; color:blue;">Upload Template:</h5>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">


                                                                    @*<a class="btn btn-default insert-form-btn" href="~/Excel/template.xlsm" role="button" download="IVRIRNTemplate.xlsx" style="margin-top:0px;">*@
                                                                    <a class="btn btn-default insert-form-btn" href="~/Excel/ExpeditingReport.xlsx" role="button" download="ExpeditingTemplate.xlsx" style="margin-top:0px;">
                                                                        <i class="fa fa-download"></i>Download Format
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="form-group">
                                                                        <input type="file" name="FileUpload1" class="form-control" id="FileUpload1">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <button type="submit" class="btn btn-default insert-form-btn" style="margin-top:0px;"> Upload </button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                }

                                                @Html.HiddenFor(m => m.PK_Call_ID)
                                                <div class="row">

                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="form-group">
                                                            <label>PO Item No:</label>

                                                            @Html.TextBoxFor(model => model.PO_Item_Number, new { @placeholder = "Po Item No", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.PO_Item_Number, "", new { @class = "text-danger validation-msg" })
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="form-group">
                                                            <label>Item Code OR Tag Number:</label>

                                                            @Html.TextBoxFor(model => model.ItemCode, new { @placeholder = "Item Code", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger validation-msg" })
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="form-group">
                                                            <label>Item to be Inspected::</label><span style="color:#ff0000;">*</span>

                                                           

                                                            @if (ViewBag.Binditemdata != null)
                                                            {
                                                                @Html.DropDownListFor(model => model.itemName, new SelectList(@ViewBag.Binditemdata, "Value", "Text"), "---Select Item---", new { @id = "ddlProjectType", @class = "form-control", @required = "required" })
                                                            }




                                                            @Html.ValidationMessageFor(m => m.itemName, "", new { @class = "text-danger validation-msg" })

                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Item Description:</label>
                                                            @Html.TextAreaFor(model => model.ItemDescription, 4, 40, new { @placeholder = "Item Description", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger validation-msg" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-3">
                                                        <div class="form-group">
                                                            <label>UOM:</label>
                                                            @{
                                                                if (Model != null)
                                                                {
                                                                    if (ViewBag.UOM != null)
                                                                    {
                                                                        @Html.DropDownListFor(model => model.Unit, new SelectList(@ViewBag.UOM, "Code", "Name"), "---Select UOM---", new { @id = "ddlProjectType", @class = "form-control" })
                                                                    }

                                                                    @*else if (ViewData["ProjectTypeItems"] != null)
                                                                        {
                                                                            @Html.DropDownListFor(model => model.ProjectType, (IEnumerable<SelectListItem>)ViewData["ProjectTypeItems"], "---Select UOM---", new { @id = "ddlProjectType", @class = "form-control" })
                                                                        }*@

                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.Unit, new SelectList(@ViewBag.UOM, "Code", "Name"), "---Select UOM---", new { @id = "ddlProjectType", @class = "form-control" })
                                                                }
                                                                @Html.ValidationMessageFor(m => m.Unit, "", new { @class = "text-danger validation-msg" })
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">


                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="form-group">
                                                            <label>PO Quantity:</label>

                                                            @Html.TextBoxFor(model => model.Quantity, new { @placeholder = "Po Quantity", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger validation-msg" })
                                                        </div>
                                                    </div>

                                                    @*<div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Accepted Quantity:</label>

                                                                @Html.TextBoxFor(model => model.Quantity, new { @placeholder = "Accepted Quantity", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>*@

                                                    @*<div class="col-xs-12 col-sm-3">
                                                            <div class="form-group">
                                                                <label>Equipment/TagNo:</label>

                                                                @Html.TextBoxFor(model => model.Equipment_TagNo, new { @placeholder = "Equipment/TagNo", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Equipment_TagNo, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>*@


                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="form-group">
                                                            <label>Contractual Delivery Date As Per PO :</label>

                                                            @Html.TextBoxFor(model => model.Contractual_DeliveryDateAsPerPO, "{0:dd MMM yyyy}", htmlAttributes: new { placeholder = "Contractual Delivery Date As Per PO", @class = "form-control PlannedDate ", autocomplete = "off" })
                                                            @Html.ValidationMessageFor(model => model.Contractual_DeliveryDateAsPerPO, "", new { @class = "text-danger validation-msg" })
                                                        </div>
                                                    </div>





                                                    <div class="col-xs-4">
                                                        <div class="form-group">
                                                            <label>Estimated Delivery Date :</label>

                                                            @Html.TextBoxFor(model => model.EstimatedDeliveryDate, "{0:dd MMM yyyy}", htmlAttributes: new { placeholder = "Estimented Delivery Date", @class = "form-control CEstimentedDate", autocomplete = "off" })
                                                            @Html.ValidationMessageFor(model => model.EstimatedDeliveryDate, "", new { @class = "text-danger validation-msg" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">

                                                    <div class="col-xs-12 text-center">
                                                        <button type="submit" class="btn btn-default insert-form-btn" id="Savedata">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--Contact Details By Manoj -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-12">
                                            <table id="library-dt" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <td class="remove-search" width="5%" style="padding-left:0px;">Po Item No</td>
                                                        <td class="remove-search" width="10%">Item Code  OR Tag Number</td>
                                                        <td class="remove-search" width="30%">Item Description</td>
                                                        <td class="remove-search" width="10%">UOM</td>
                                                        <td class="remove-search" width="10%">PO Quantity</td>
                                                        @*<td class="remove-search" width="10%">Offered Quantity</td>*@
                                                        <td class="remove-search" width="10%">Contractual Delivery Date</td>
                                                        <td class="remove-search" width="5%">Estimated Delivery Date</td>
                                                        <td class="remove-search" width="5%">Item Name</td>
                                                        @*<td class="remove-search" width="5%">Concerns(Open / Total)</td>
                                                            <td class="remove-search" width="5%">Progress %</td>*@
                                                        <td class="remove-search" width="5%">Overall Progress Status</td>

                                                        <td class="remove-search" width="5%">Action</td>

                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    @foreach (var item in ViewData["CostSheet"] as IEnumerable<TuvVision.Models.ExpItemDescription>)
                                                    {

                                                        <tr>
                                                            <td width="10%">@item.PO_Item_Number</td>
                                                            <td width="10%">@item.ItemCode</td>
                                                            <td style='white-space: pre-line;' width="35%">@item.ItemDescription</td>
                                                            <td width="10%">@item.Unit</td>
                                                            <td width="10%">@item.Quantity</td>
                                                            @*<td width="10%">@item.Equipment_TagNo</td>*@
                                                            <td width="10%">@item.Contractual_DeliveryDateAsPerPO</td>
                                                            <td width="10%">@item.EstimatedDeliveryDate</td>
                                                            <td width="10%">@item.itemName</td>
                                                            @*<td width="10%">@item.TotalConcerns</td>
                                                                <td width="10%">@item.actualprogress</td>*@

                                                            <td width="10%" style="color: @(item.progressStatus == "On Time" ? "#FFEF33" : item.progressStatus == "Delay" ? "#FB5F6B" : item.progressStatus == "Early" ? "#AEF333" : "")">@item.progressStatus</td>
                                                            <td class="less-width" width="5%">
                                                                <a href="@Url.Action("ExpItemDescription", "Expediting", new {@PK_Item_Detail = item.PK_Item_Detail,@PK_Call_ID=item.PK_Call_ID })" title="Edit"><span class="fa fa-pencil"></span>&nbsp;</a>
                                                                <a href="@Url.Action("DeleteExpItemDescription", "Expediting", new {@PK_ItemD_Id = item.PK_Item_Detail , @PK_Call_Id = item.PK_Call_ID })" onclick="return confirm('Are you sure you want to Delete this Record?')" title="Delete"><span class="fa fa-trash-o"></span>&nbsp;</a>

                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>



                            </div><!-- /.box-shadow -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function validateform() {
        debugger
        var PO_Item_Number = $('#PO_Item_Number').val();
        var ItemCode = $('#ItemCode').val();
        var ItemDescription = $('#ItemDescription').val();
        var Unit = $('#ddlProjectType').val();
        var Quantity = $('#Quantity').val();
        var Contractual_DeliveryDateAsPerPO = $('#Contractual_DeliveryDateAsPerPO').val();
        var EstimatedDeliveryDate = $('#EstimatedDeliveryDate').val();

       // var itemName = $('#itemName').val();

        if ((PO_Item_Number == null || PO_Item_Number == "")) {
            alert("Please Select Po item number");
            $("#PO_Item_Number").focus();
            return false;
        }
        if ((ItemCode == null || ItemCode == "")) {
            alert("Please Enter item Code");
            $("#ItemCode").focus();
            return false;
        }

        if ((ItemDescription == null || ItemDescription == "")) {
            alert("Please Enter Item Description");
            $("#ItemDescription").focus();
            return false;
        }
        if ((Unit == null || Unit == "")) {
            alert("Please select Unit");
            $("#Unit").focus();
            return false;
        }
        if ((Quantity == null || Quantity == "")) {
            alert("Please Enter PO Quantity");
            $("#Quantity").focus();
            return false;
        }
        if ((Contractual_DeliveryDateAsPerPO == null || Contractual_DeliveryDateAsPerPO == "")) {
            alert("Please select  Contractual Delivery Date As Per PO");
            $("#Contractual_DeliveryDateAsPerPO").focus();
            return false;
        }
        if ((EstimatedDeliveryDate == null || EstimatedDeliveryDate == "")) {
            alert("Kindly select the Estimated Delivery Date. If the items have already been delivered, please select the actual delivery date for each specific item.");
            $("#EstimatedDeliveryDate").focus();
            return false;
        }

        //if (itemName == null || itemName == "") {
        //    alert("Please select item Name");
        //    $("#itemName").focus();
        //    return false;
        //}

            return true;

    }
</script>



<script>
    $("#Savedata").click(function myfunction() {

        debugger;
        if (validateform() == false) {
            return false;
        }
        else {
            $("#form1").submit();
            alert("Data Added successfully")
        }
    })
</script>
