@model TuvVision.Models.Photo
@{
    ViewBag.Title = "PhotoAttachement";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
    int j = 0;
}


<style>
    #customers {
        font-family: 'TNG Pro';
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            /*background-color: #04AA6D;*/
            background-color: #001ED2;
            color: white;
        }
</style>

<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>
<script src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom.js"></script>


<div class="main-content3 xs-max-height grey-bg-f3">
    <div class="grey-bg-f3">
        <!--Start of header-->
        <div class="container-fluid">
            @*class="container-fluid"*@
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">

                <div class="col-xs-12">
                    <div class="row">

                        <br />

                        <h5 class="dynamic-page-title dynamic-page-title-2">@Session["ExpeditingType"]Expediting Report Number : @Session["VisitReportNo"]</h5>
                        <div class="col-xs-12">


                            @if (Model.PK_CALL_ID != "")
                            {
                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpeditingReport", "Expediting",new { @PK_Call_ID = Model.PK_CALL_ID} )'"> General</button>

                                <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpItemDescription", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Item Description</button>

                                <button class="btn btn-default  news-btn" type="button" onclick="location.href='@Url.Action("ExpProgress", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Progress</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("EXp_commercial", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Commercial</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpEngineering", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Engineering</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpMaterial", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Procurement</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpManufacturing", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Manufacturing</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpFinalStage", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Final Stage</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpDelays", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Item Wise Delays</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ExpConcerns", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Concerns</button>
                                    <button class="btn btn-default insert-form-btn" type="button" onclick="location.href='@Url.Action("PhotoAttachement", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Photo</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("Observation", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Observation</button>
                                    <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("Records", "Expediting",new { @PK_Call_Id = Model.PK_CALL_ID} )'">Records</button>


                            }



                        </div>

                        <div class="col-xs-12">
                            <div class="white-bg section-box-shadow">
                                <h3 class="form-page-title">Photo</h3>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                        <div class="form-box">
                                            <form method="post" enctype="multipart/form-data">
                                                @Html.HiddenFor(m => m.PK_CALL_ID)
                                                @Html.HiddenFor(m => m.PK_IP_Id)

                                                <div class="row">



                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label>
                                                                Select Images  <span class="required"></span><b style="color:red;">(Max 18 Images Allowed to upload)</b><br />

                                                            </label>

                                                            <input type="file" class="inputupload" name="img_Banner" id="img_Banner" multiple />
                                                            @Html.HiddenFor(m => m.Image)
                                                            @if (Model != null)
                                                            {
                                                                <a href="~/ImageUpload/@Html.DisplayFor(m => m.Image)">

                                                                    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger", })
                                                                </a>

                                                            }
                                                        </div>
                                                    </div>



                                                </div>


                                                <div class="col-xs-12 text-center">

                                                    <button type="submit" class="btn btn-default insert-form-btn">Upload Images</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                @using (Html.BeginForm("SaveHeading", "Expediting", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formiid" }))
                                {
                                    @Html.HiddenFor(m => m.PK_CALL_ID)
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12">
                                                <table id="customers" class="display custom-table" cellspacing="0" width="100%">

                                                    <thead>
                                                        <tr>
                                                            <th class="hidden">Id</th>
                                                            <th class="remove-search" width="5%">Sr No </th>
                                                            <th class="remove-search" width="40%">Image description</th>
                                                            <th class="remove-search" width="40%" style="text-align:center;">Image</th>
                                                            <th class="remove-search" width="15%">
                                                                Tick to Delete
                                                                <input type="checkbox" name="ID" class="custom-checkbox chkCheckBoxId" id="DeleteImageById" />
                                                            </th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        @{
                                                            int i = 0;
                                                        }

                                                        @foreach (var item in ViewBag.PhotoSheet as IEnumerable<TuvVision.Models.Photo>)
                                                        {

                                                            i = i + 1;
                                                            <tr>
                                                                @Html.HiddenFor(model => model.Activity[j].PK_CALL_ID, new { @placeholder = "ID", @Value = item.PK_CALL_ID, @class = "form-control" })
                                                                <td class="hidden">@Html.HiddenFor(model => model.Activity[j].PK_IP_Id, new { @placeholder = "ID", @Value = item.PK_IP_Id, @class = "form-control" })</td>

                                                                <td width="5%">@i</td>

                                                                <td width="50%">
                                                                    @Html.TextBoxFor(model => model.Activity[j].Heading, new { @placeholder = "Image description", @Value = item.Heading, @class = "form-control" })
                                                                </td>
                                                                <td width="40%" align="center">
                                                                    <a href="~/CompressFiles/@item.Image">
                                                                        <img src="~/CompressFiles/@item.Image" height="125px" width="225px" />
                                                                    </a>

                                                                </td>
                                                                <td class="less-width" width="5%">

                                                                    @Html.CheckBoxFor(model => model.Activity[j].chkbox, new { @placeholder = "Heading", @class = "chkCheckBoxId" })


                                                                </td>

                                                            </tr>
                                                            j++;
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>



                                            <!--Contact Details By Manoj -->


                                        </div><!-- /.box-shadow -->

                                    </div>



                                    <div class="col-xs-12 text-center">

                                        <button type="submit" class="btn btn-default insert-form-btn">Save Heading</button>

                                        <button type="submit" value="Delete" class="btn btn-default insert-form-btn" style="background-color:red;" onclick="return confirm('Do you want to delete the selected Image(s)?')"><i class="fa fa-trash-o"></i> Delete</button>

                                    </div>
                                                            }


                                <script type="text/javascript">

                                    $(document).ready(function () {

                                        $('#DeleteImageById').click(function () {
                                            debugger;
                                            if ($(this).is(":checked")) {
                                                $(".chkCheckBoxId").prop("checked", true)
                                            }
                                            else {
                                                $(".chkCheckBoxId").prop("checked", false)
                                            }
                                        });
                                    });
                                </script>


                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">


    </div>
</div>
<!--End of Ashwini Code-->
@*}*@