@model TuvVision.Models.InspectionvisitReportModel
@{
    ViewBag.Title = "AllConcern";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
    int j = 0;
}

@*Ashwini Scripts here for datatable starts here*@
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

<!--export to excel-->
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>


@using (Html.BeginForm("AllConcern", "InspectionReleaseNote", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formiid" }))



{

    <div class="main-content3 xs-max-height">

        <!--Start of header-->
        @*<input id="GridSearch" />*@


        <div class="container-fluid">
            <div class="row assignfixedwidth rp-15">

                <div class="col-xs-12">
                    <h3 class="dynamic-page-title dynamic-page-title-2  text-left">List of Open Issues</h3>

                   


                </div><!-- /.col -->
                <div class="col-xs-12">
                    @Html.HiddenFor(m => m.PK_IVR_ID)

                    @if (Model != null)
                    {
                        if (Model.PK_IVR_ID != 0)
                        {
                            <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("IRNForm", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">General</button>
                            <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ItemDescription", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">Item Description</button>
                                        <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("ReferenceDocuments", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">Reference Documents</button>
                                        @*<button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("InspectionActivites", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">Inspection Activities</button>*@
                                        <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("InspectionActivites", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">Stage Witnessed</button>
                                        <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("DocumentReviewed", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">Document Reviewed</button>
                                        <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("Conclusion", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">Conclusion</button>
                                        <button class="btn btn-default insert-form-btn" type="button" onclick="location.href='@Url.Action("AllConcern", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">List Of Open Issues</button>
                                        <button class="btn btn-default news-btn" type="button" onclick="location.href='@Url.Action("EarlierIssuedQuantity", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID, @PK_RM_ID=Model.abcid} )'">Earlier Issued Quantity</button>
                                        @*<button type="button" id="a" value="ExportToExcel" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("ExportIndex", "SubJobMaster")'"
                                                style="border:none;">
                                            Export To Excel
                                        </button>*@
                                        @*<button class="btn btn-info dynamic-function-btn" type="button" onclick="location.href='@Url.Action("IRNReportGanrate", "InspectionReleaseNote",new { @PK_IVR_ID = Model.PK_IVR_ID} )'">Print Revise Report</button>*@
                        }
                    }

                </div>

                <div class="col-xs-12">
                    <hr class="custom-hr">
                </div><!-- /.col -->
                <!--Table was here-->



                <div class="col-xs-12">

                    @Html.HiddenFor(m => m.PK_Call_ID)
                    @Html.HiddenFor(m => m.abcid)
                    <table id="example" class="display custom-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                @*<th class="remove-search less-width">Action</th>*@
                                <th width="5%">Type</th>
                                <th width="25%">Description</th>
                                <th width="25%">Mitigated By</th>
                                <th width="10%">Raised By</th>
                                <th width="10%">Re-Open By</th>
                                <th width="25%">Download Report</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="hidden">
                                @*<th class="remove-search less-width"></th>*@

                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="hidden">
                                @*<td></td>*@
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            @*@foreach (var item in ViewData["AllConcerns"] as IEnumerable<TuvVision.Models.InspectionvisitReportModel>)*@
                            @foreach (var item in ViewBag.AllConcerns as IEnumerable<TuvVision.Models.InspectionvisitReportModel>)
                        {
                                <tr>
                                    @Html.HiddenFor(model => model.Concern[j].PkId, new { @placeholder = "ID", @Value = item.PkId, @class = "form-control" })
                                    @*<td>
                                @Html.CheckBoxFor(model => model.Concern[j].POTotalCheckBox, new { @placeholder = "", id = "v", Class = "form-control" })

                                                                  </td>*@
                                    <td width="5%">@item.Type</td>
                                    <td width="25%">@item.Areas_Of_Concerns</td>
                                    <td width="25%">
                                        @Html.TextAreaFor(model => model.Concern[j].Reason,3,40, new { @placeholder = "Reason", id = "Reason", Class = "Reason" })
                                        @*<input type="text" name="Reason"  id="Reason" class="Reason" /></td>*@
                                    </td>
                                    <td width="10%">@item.Name</td>
                                    <td width="10%">@item.ReopenBy</td>
                                    <td width="25%">
                                        <a href="~/IVRReport/@item.Report_No" download="download">
                                            @item.Report_No

                                        </a>
                                        @*@item.Report_No*@
                                    </td>
                                </tr>
                            j++;
                        }

                        </tbody>

                    </table>



                    @*<input id="GridSearch" />*@



                    @*@Html.AjaxGrid(Url.Action("IndexGrid"))*@









                </div><!-- /.data table col -->
                <div class="col-xs-12 text-center">
                    <button type="submit" id="btnSave" name="btnSave" class="btn btn-default insert-form-btn"> Save </button>

                </div>

            </div><!-- /.row -->









        </div><!-- /.container-fluid -->
        <!--End of header-->

    </div>

    <script>
    $(document).ready(function() {
        $('.saveButton').click(function() {
            $(this).closest('form')[0].submit();
                            });
                        });
    </script>

 

}

