@model TuvVision.Models.Calender
@using NonFactors.Mvc.Grid;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />

@*calender control*@

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>





@using (Html.BeginForm("Calender", "Calender", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
    {
<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">

            <div class="col-xs-12">
                <h3 class="dynamic-page-title dynamic-page-title-2  text-left">Calender</h3>
                @*<button type="button" value="CreateRole" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("NonInspectionActivity", "NonInspectionActivity")'">Add Non Inspection Activity</button>*@
                <button type="button"  value="ExportToExcel" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("ExportIndex","Calender")'"
                        >
                    Export To Excel
                </button>
             </div><!-- /.col -->

            <div class="col-xs-12">
                <hr class="custom-hr">
            </div><!-- /.col -->
            <!--Table was here-->

        </div>


        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Date:</label>
                    @*@Html.TextBoxFor(model => model.FromDate, new { placeholder = "Select From Date", @class = "form-control form-control-custom CompanyName Abc", @Autocomplete = "off" })*@
                    @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", htmlAttributes: new { placeholder = "Select Start Date", @class = "form-control form-control-custom FromD", autocomplete = "off" })
                </div>
            </div>




            <div class="col-xs-2">
                <div class="form-group">
                    <label>Search:</label>
                    @*@Html.TextBoxFor(model => model.FromDate, new { placeholder = "Select From Date", @class = "form-control form-control-custom CompanyName Abc", @Autocomplete = "off" })*@
                    <input type="submit" value="Search" class="btn btn-primary form-control" />
                </div>

            </div>
        </div>



        <div class="col-xs-12">
            @*<table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>

                        <th>Activity Type</th>
                        <th>Date</th>
                        <th>Location</th>
                        
                    </tr>
                </thead>

                <tbody>
                    @if (ViewData["CalenderList"] != null)
                    {
                        foreach (var asset in ViewData["CalenderList"] as IEnumerable<TuvVision.Models.Calender>)
                        {
                            <tr>

                                <td>@asset.ActivityType</td>
                                <td>@asset.Date.ToString("dd/MM/yyyy")</td>
                                <td>@asset.Location</td>

                            </tr>
                        }
                    }
                </tbody>

            </table>*@

        </div>

        <div class="col-xs-12">
            <table class="display dataTable no-footer evaluation" style="overflow-y:auto" id="gridMapping">
                <tr>
                    <td>
                       
                            @(Html
                            .Grid(Model.lst1)
                            .Build(columns =>
                            {

                                columns.Add(c => c.ActivityType).Titled("Activity Type");
                                columns.Add(c => c.Date.ToString("dd/MM/yyyy")).Titled("Date");
                                columns.Add(c => c.Location).Titled("Location");

                            })
                            .Pageable(pager =>
                            {
                                //pager.PageSizes = new DictionaryInt32, String > { { 0, "All" }, { 2, "2" }, { 4, "4" } };
                                pager.ShowPageSizes = true;
                                pager.PagesToDisplay = 3;
                                pager.CurrentPage = 1;
                                pager.RowsPerPage = 2;
                            })
                            .UsingFilterMode(GridFilterMode.Row)
                            .Empty("No data found")
                            .Filterable()
                            .Sortable()

                        )
                        

                    </td>
                </tr>
            </table>

        </div>



        </div>

</div>
}

<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

<!--export to excel-->
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>



@*Date Picker for From Date*@

<script>
    $(function () {
        $(".FromD").datepicker({
            dateFormat: 'yy-mm-dd',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50"
        });
    });
</script>

<script>
           [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
               new MvcGrid(element);
           });
</script>

<style>
    table.evaluation > tbody {
        width: 100% !important;
        display: table;
    }

        table.evaluation > tbody > tr td table {
            width: 100% !important;
            display: table;
        }
</style>
