@model TuvVision.Models.Logout
@{
    ViewBag.Title = "ChangedPassword";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<style>
    .eye-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 5px; /* Adjust space between the input field and the icon */
}

#eyeIcon {
    cursor: pointer;
    font-size: 18px; /* Adjust the size of the eye icon */
}
</style>
@using (Html.BeginForm())
{
    <div class="grey-bg-f3">
        <!--Start of header-->
        <div class="container-fluid">
            <div class="row assignfixedwidth rp-5">

                <div class="col-xs-12 form-col">
                    <div class="row">

                        <div class="col-xs-12 text-right">
                            <a href="@Url.Action("Welcome", "Login" )" class="btn btn-info dynamic-function-btn"><i class="fa fa-long-arrow-left"></i> Go Back</a>
                        </div>
                        <div class="col-xs-12">
                            <div class="white-bg section-box-shadow">
                                <h3 class="form-page-title">Password Management</h3>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                        <div class="form-box">
                                            <form>
                                                @*<div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>Old Password:</label>
                                                        @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Please Enter Old Password", @class = "form-control form-control-custom" })
                                                    </div>
                                                </div>*@
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>New Password:</label>
                                                        @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Please Enter New Password", @class = "form-control form-control-custom" })

                                                        <!-- Eye Icon Container -->
                                                        <div class="eye-icon-container">
                                                            <i class="fas fa-eye" id="eyeIcon" onclick="togglePasswordVisibility()"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>Confirm Password:</label>
                                                        @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Please Enter Confirm Password", @class = "form-control form-control-custom" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 text-center">
                                                        <button type="button" class="btn btn-primary" id="btnChangedPassword" title="Submit">Change Password</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.data table col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <!--End of header-->

    </div>
  <!--End of main content 3-->
}

<script>
    $(document).ready(function () {
        $("#btnChangedPassword").on('click', function () {
            debugger;
           // var OldPassword = $('#OldPassword').val();
            var NewPassword = $('#NewPassword').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            //if (OldPassword.trim() == "") {
            //    alert('Please enter Old Password.');
            //    $('#OldPassword').focus();
            //    return false;
            //}
            if (NewPassword.trim() == "") {
                alert('Please enter New Password.');
                $('#NewPassword').focus();
                return false;
            }
            if (ConfirmPassword.trim() == "") {
                alert('Please enter Confirm Password.');
                $('#ConfirmPassword').focus();
                return false;
            }
            if (NewPassword != ConfirmPassword) {
                alert("New Password and Confirm Password does not matched.");
                $("#NewPassword").focus();
                return false;
            }

            else {
                $.ajax({
                    url: '@Url.Action("ChangedPassword", "Logout")',
                    type: 'POST',
                   // data: JSON.stringify({ "OldPassword": $('#OldPassword').val(), "NewPassword": $('#NewPassword').val(), "ConfirmPassword": $('#ConfirmPassword').val() }),
                    data: JSON.stringify({"NewPassword": $('#NewPassword').val(), "ConfirmPassword": $('#ConfirmPassword').val() }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response == "Success") {
                            alert("Password has been Changed Successfully, Please Login Again...!!!");
                            //$('#OldPassword').val('');
                            $('#NewPassword').val('');
                            $('#ConfirmPassword').val('')
                            window.location.href = '@Url.Action("UserLogin", "Login")';
                        }
                        //else if (response.result == 'Redirect') {
                        //    $('#OldPassword').val('');
                        //    alert("Invalid Old Password,Old Password Should be Matched, Please try again...!!!");
                        //    window.location = response.url;
                        //}
                        else if (response.result == 'RedirectPage') {
                            $('#NewPassword').val('');
                            $('#ConfirmPassword').val('')
                            alert("New Password and Confirm Password does not matched, Please try again...!!!");
                            window.location = response.url;
                        }
                        else {
                            $('#OldPassword').val('');
                            $('#NewPassword').val('');
                            $('#ConfirmPassword').val('')
                            alert("Failed!!  Something Went Wrong !!!");
                            window.location.href = '@Url.Action("Welcom", "Login")';
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });

    });
</script>

<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("NewPassword");
        var eyeIcon = document.getElementById("eyeIcon");

        // Toggle password field type between 'password' and 'text'
        if (passwordField.type === "password") {
            passwordField.type = "text"; // Show password
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password"; // Hide password
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>