@model IEnumerable<TuvVision.Models.TrainingScheduleModel>
@{
    //ViewBag.Title = "ListScheduleTraining";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">

            <div class="col-xs-12">
                <h3 class="dynamic-page-title dynamic-page-title-2  text-left">Training List</h3>
                <a href="@Url.Action("ExportListOfTrainingSchedule", "TrainingSchedule")" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" style="margin-left:10px;">Export To Excel</a>
                <button type="button" value="CreateRole" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("TrainingSchedule", "TrainingSchedule")'">Organize Training </button>
            </div><!-- /.col -->

            <div class="col-xs-12">
                <hr class="custom-hr">
            </div><!-- /.col -->
            <!--Table was here-->

        </div>
        <div class="col-xs-12">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th class="hidden">TrainingRecordId</th>
                        <th>Training Name</th>
                        <th>Trainer Name</th>
                        <th>Training Type</th>
                        @*<th>Trainee Name</th>*@
                        <th>Branch Name(s)</th>
                        <th>External Trainer</th>
                        <th>Training Date(s)(Time)</th>
                        <th>Total Time(Hours.)</th>
                        @*<th>Status</th>*@
                        <th>Venue</th>
                        <th>Link</th>
                        <th>Scope</th>
                        <th>Video File</th>                      
                        <th>Training Schedule For</th>  
                        <th>Training Attended </th>  
                        <th>Pass</th>  
                        <th>Failed</th>  
                        <th>Feedback Received</th>  
                        <th class="remove-search">Action</th>
                    </tr>
                </thead>
             
                <tbody>
                    @foreach (var b in Model)
                    {
                        <tr>
                            <td class="hidden">@b.PK_TrainingScheduleId</td>
                            <td class="hidden">@b.TrainingRecordId</td>
                            <td>@b.TrainingName</td>
                           <td>@b.TrainerName</td>
                            <td>@b.TrainType</td>
                            @*<td>@b.TraineeName</td>*@
                            <td>@b.BranchName</td>
                            <td>@b.ExternalTrainer</td>
                            <td>@b.TrainingStartDate</td>
                            
                            <td>@b.TotalHours</td>
                            @*<td>@b.Status</td>*@
                            <td>
                                @*<a href="@Url.Action("Delete", "TrainingSchedule", new { id = @b.PK_TrainingScheduleId })" class="delete" onclick="return confirm('Are you sure you wish to delete selected Record?');" title="Delete"><i class="fa fa-trash"></i></a>*@

                                @*<a href="@Url.Action("RunReport", "Performance", new { reportView = Model.ReportView.ToString() })"
                                   type="submit"
                                   id="runReport"
                                   target="_blank"
                                   class="button Secondary">
                                    @b.Venue
                                </a>*@
                                @*<a href="@b.Venue" class="new-tab" target="_blank"><img src="~/View1.png" /></a>*@
                                @*<button type="button" data-html="true" data-container="body" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="@b.Venue"  target="_blank">
                                    <img src="~/View1.png" />
                                </button>*@
                                @b.Venue

                            
                            </td>
                            <td>
                                    @if (b.Link != "")
                                    {
                                        <a href="@b.Link" class="new-tab" target="_blank"><img src="~/View1.png" /></a>
                                    }
                                
                            </td>
                            <td>@b.Scope</td>
                            <td> 
                                @if (b.FileName != "")
                                {
                                    <a href="@b.FileName" class="new-tab" target="_blank"><img src="~/View1.png" /></a>
                                }
                            
                            
                            </td>       
                            <td>@b.TrainingScheduleFor</td>       
                            <td>@b.TrainingAttended</td>   
                            <td>@b.Pass</td>                                      
                            <td>@b.Failed</td> 
                            <td>@b.Feedback</td>     
                            <td cRemarkslass="action-btn" style="text-align:center;">
                                <a href="@Url.Action("TrainingSchedule", "TrainingSchedule", new { @UserID = b.PK_TrainingScheduleId , TrainingRecordId=b.@TrainingRecordId})" class="btn btn-info btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>
                                @*<a href="@Url.Action("TrainingAttendance", "TrainingSchedule", new { @tid = b.PK_TrainingScheduleId , TrainingRecordId=b.@TrainingRecordId})" class="btn btn-info btn-xs" title="Attendance"><i class="fa fa-check"></i></a>*@
                                <a href="@Url.Action("Delete", "TrainingSchedule", new { id = @b.PK_TrainingScheduleId })" class="delete" onclick="return confirm('Are you sure you wish to delete selected Record?');" title="Delete"><i class="fa fa-trash"></i></a>

                                @*<a href="@Url.Action("UpdateScheduleTraining", "TrainingSchedule", new {id = @b.PK_TrainingScheduleId , TrainingRecordId = @b.TrainingRecordId })" class="btn btn-info btn-xs" title="TrainingRecord"></a>*@
                            </td>

                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</div>

<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

<!--export to excel-->
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>

