@model TuvVision.Models.Login
@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TIIMES - Welcome to TUV India</title>

    <link rel="shortcut icon" href="~/AllJsAndCss/Favicon.svg" type="image/x-icon" style="height:12px;width:12px;">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="~/AllJsAndCss/css/bootstrap.min.css" rel="stylesheet">

    <!-- Start Other stylesheets -->
    <link href="~/AllJsAndCss/css/style.css" rel="stylesheet">
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--AOS animate-->
    <link href="~/AllJsAndCss/css/aos.css" rel="stylesheet">

    <!-- End Other stylesheets -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/AllJsAndCss/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/AllJsAndCss/js/bootstrap.min.js"></script>

    <!-- Start Other script files -->
    <!--AOS animate-->
    <script src="~/AllJsAndCss/js/aos.js"></script>
    <script src="~/AllJsAndCss/js/aos-call.js"></script>

    <script src="~/AllJsAndCss/js/custom.js"></script>
    <script src="~/AllJsAndCss/js/scroll-to-top.js"></script>
    <script src="~/AllJsAndCss/js/navigation-top-fixed.js"></script>
    <!-- End Other script files -->

</head>
<body class="main-bg">
    <div class="overlay"></div>
    <!--Start of content-->

    <div class="container-fluid min-height-100vh">
        <div class="row assignfixedwidth">


            <div class="col-xs-12 col-md-4">
                @*<img src="~/AllJsAndCss/images/TUEV-INDIA_Quality-Label_Electric-Blue_sRGB.jpg" class="login-logo" alt="">*@
                <img src="~/AllJsAndCss/images/TUEV-INDIA_Quality-Label_Electric-Blue_sRGB.SVG" alt="" style="backface-visibility:hidden;height:113px;margin-left:-21px;width:218px;">
                <div class="login-form-box" data-aos="zoom-in" data-aos-duration="400" data-aos-once="true" style="margin-top:26px;margin-left:-20px;">

                   @using (Html.BeginForm())
                   {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form>
                            @*<img src="~/AllJsAndCss/images/logo.png" class="login-logo" alt="">*@
                            <h5 style="text-decoration-color:blue;">Forgot Password</h5>
                            <br />
                            <div class="form-group">
                                
                                    <input id="UserName" name="UserName" placeholder="User Name" class="form-control" type="email" style="font-size:13px;font-family:TNG Pro;text-align:center;color:#00003C;">
                                </div>
                                <br />
                                <div class="form-group">
                                   <input id="email" name="email" placeholder="Email Address" class="form-control" type="email" style="font-size:13px;font-family:TNG Pro;text-align:center;color:#00003C;">

                                </div>
                            
                            <div class="form-group">
                                <button type="button" class="btn btn-default login-btn" onclick="ForgotPass();" style="width:175px;border-radius:0px;font-family:Arial;font-size:14px">Submit</button>
                            </div>
                                
                                <p style="text-align:right;">Return To :<a href="@Url.Action("UserLogin", "Login")">&nbsp;Login Page</a></p>

</form>
                    }
                </div>


            </div><!--End of form col-->

            <div class="row">
                <div class="col-xs-12 xs-text-center col-sm-12" style="margin-top:130px;margin-left:28px;">
                    <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:'TNG Pro';"><i><img src="~/AllJsAndCss/images/Icon_facebook.jpg" /></i></a>
                    <a href="http://www.linkedin.com/company/tuv-india" target="_blank"><i><img src="~/AllJsAndCss/images/linkedin.jpg" /></i></a>
                    <a href="http://twitter.com/tuvnordindia" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_twitter_white.png" /></i></a>
                    <a href="http://www.youtube.com/channel/UCf_o6xZ-Wh_0ilUfmz37i_w" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_youtube.png" /></i></a>
                    <label style="color:white;font-weight:normal;font-family:Arial;margin-left:870px;">  © TÜV NORD GROUP </label>
                    <p class="footer-text-2"></p>
                </div>
            </div>



        </div><!--End of row-->
        @*<div class="row assignfixedwidth floating-bottom-footer">
                <div class="col-xs-12 xs-text-center col-sm-12">
                    <a href="http://www.facebook.com/tuvindia" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_facebook.jpg" /></i></a>
                    <a href="http://www.linkedin.com/company/tuv-india" target="_blank"><i><img src="~/AllJsAndCss/images/linkedin.jpg" /></i></a>
                    <a href="http://twitter.com/tuvnordindia" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_twitter_white.png" /></i></a>
                    <a href="http://www.youtube.com/channel/UCf_o6xZ-Wh_0ilUfmz37i_w" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_youtube.png" /></i></a>

                    <p class="footer-text-2"></p>
                </div>

                <div class="col-xs-12 xs-text-center col-sm-4 text-right">

                   <label style="color:white;font-weight:normal;font-family:Arial;">  © TÜV NORD GROUP </label>
                </div>
            </div>*@<!-- /.row -->
        <!--End of row-->
    </div><!--End of container-fluid-->
    <!--End of content-->

</body>
</html>
@*****************************************************Script Here****************************************************@

<script>
    function ForgotPass() {
        debugger;
        var SendEmail = $("#email").val();
        var UserName = $("#UserName").val();
        var filter = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
        var regex = new RegExp(filter);

        if (UserName == "" || UserName == null) {
            alert("Please Enter User Name");
            $("#UserName").focus();
            return false;
        }

        if (SendEmail == "" || SendEmail == null) {
            alert("Please Enter Email ID");
            $("#UserName").focus();
            return false;
        }
        if (!regex.test(SendEmail)) {
            alert("Email-id is invalid");
            $("#email").val('');
            $("#email").focus();
            return false;
        }
        else {
            $.ajax({
                url: '@Url.Action("ForgotPasswordSendMail", "Login")',
                type: "POST",
                data: JSON.stringify({ UserEmailID: $("#email").val(), UserName: $("#UserName").val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                    
                    if (response == "Success") {
                        alert("Your password has been sent to you on your Specified Email-ID ..!");
                        window.location.href = '@Url.Action( "UserLogin","Login")';
                    }
                    else {
                        alert("Failed, Something went to Wrong ..!");
                        $("#email").val('');
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);

                }
            });
        }
    }
</script>