@model TuvVision.Models.Login
@{
    ViewBag.Title = "UserLogin";
    //Layout = "~/Views/Shared/_TuvVision.cshtml";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TIIMES - Welcome to TUV India</title>

    <link rel="shortcut icon" href="~/AllJsAndCss/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="~/AllJsAndCss/css/bootstrap.min.css" rel="stylesheet">

    <!-- Start Other stylesheets -->
    <link href="~/AllJsAndCss/css/style.css" rel="stylesheet">
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--AOS animate-->
    <link href="~/AllJsAndCss/css/aos.css" rel="stylesheet">

    <!-- End Other stylesheets -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/AllJsAndCss/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/AllJsAndCss/js/bootstrap.min.js"></script>

    <!-- Start Other script files -->
    <!--AOS animate-->
    <script src="~/AllJsAndCss/js/aos.js"></script>
    <script src="~/AllJsAndCss/js/aos-call.js"></script>

    <script src="~/AllJsAndCss/js/custom.js"></script>
    <script src="~/AllJsAndCss/js/scroll-to-top.js"></script>
    <script src="~/AllJsAndCss/js/navigation-top-fixed.js"></script>
    <!-- End Other script files -->

</head>
<body class="main-bg" >
    <div class="overlay"></div>
    <!--Start of content-->

    <div class="container-fluid min-height-100vh">
        <div class="row assignfixedwidth">


    <div class="col-xs-12 col-md-4">
        @*<img src="~/AllJsAndCss/images/TUEV-INDIA_Quality-Label_Electric-Blue_sRGB.jpg" class="login-logo" alt="">*@
        <img src="~/AllJsAndCss/images/TUEV-INDIA_Quality-Label_Electric-Blue_sRGB.SVG" alt="" style="backface-visibility:hidden;height:113px;margin-left:-21px;width:218px;">
        <div class="login-form-box" data-aos="zoom-in" data-aos-duration="400" data-aos-once="true" style="margin-top:26px;margin-left:-20px;">

            @using (Html.BeginForm("UserLogin", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form>
                    

                    <div class="form-group" style="font-family:'TNG Pro';color:#00003c;font-size:18px">

                        Log In to TIIMES
                    </div>
                    
                            <div class="form-group" >
                                
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name" ,style= "font-size:13px;font-family:TNG Pro;text-align:center;color:#00003C;" })
                            </div>

                            <div class="form-group">
                                
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", style = "font-size:13px;font-family:TNG Pro;text-align:center;color:#00003C;" })
                            </div>

                            @*<div class="form-group">
                                <p class="help-block">
                                    Forgot your Password? @*<a href="#">Reset Password</a></p>
                                    <a class="reset_pass" href="@Url.Action("ForgotPassword", "Login")">Forgot Password?</a>
                            </div>*@

                            <button type="submit" class="btn btn-default login-btn" style="width:175px;border-radius:0px;font-family:'TNG Pro';font-size:14px">Log In</button>
                    <div class="form-group">
                        <p class="help-block" style="font-family:Arial;font-size:12px;color:#00003c;">
                            Forgot your Password? @*<a href="#">Reset Password</a></p>*@<br />
                            <a class="reset_pass" style="font-family:'TNG Pro';font-size:10px" href="@Url.Action("ForgotPassword", "Login")">Click Here</a>
                    </div>

                            <div class="row">
                                <h5 class="text-center admin-login-head" style="color:red">
                                    @ViewBag.UserID  @ViewBag.Password
                                </h5>
                            </div>

                    @*<div class="row" style="text-align:left;font-family:'TNG Pro';color:#00003c;font-size:12px;margin-top:-23px;">
                        <b style="font-size:14px;">Quick Links</b><br />

                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;"/>  <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;" >TUV India Website</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;">TUV India Webmail</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;">TUV NORD Website</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;">TUV NORD Webmail</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;">TUV NORD Share point</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;">Excellence</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;">Ticketing Tool</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:Arial;font-size:12px;">VPN Installation procedure</a><br />
                    </div>*@

                    @*<div class="row" style="text-align:left;font-family:'TNG Pro';color:#00003c;font-size:12px;margin-top:-23px;">
                        <b style="font-size:14px;">Quick Links</b><br />

                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" />  <a href="https://www.tuv-nord.com/in/en/home/" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV India Website</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://www.tuv-nord.com/en/tuv-nord-worldwide/" style="font-family:TNG Pro;font-size:12px;">TUV NORD Website</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://service.tuev-nord.de/logon/LogonPoint/index.html" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV India Webmail</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://www.tuev-nord.de/en/employee-login/" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV NORD Webmail</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://excellence.tuv-india.com/" target="_blank" style="font-family:TNG Pro;font-size:12px;">Excellence</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://helpdesk.tuv-india.com:10443/login" target="_blank" style="font-family:TNG Pro;font-size:12px;">Ticketing Tool</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://service.tuev-nord.de/logon/LogonPoint/index.html" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV NORD Share point</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="" target="_blank" style="font-family:TNG Pro;font-size:12px;">VPN Installation procedure</a><br />

                    </div>*@

                    <div class="row" style="text-align:left;font-family:'TNG Pro';color:#00003c;font-size:12px;margin-top:-23px;">
                        <b style="font-size:14px;">Quick Links</b><br />

                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" />  <a href="https://www.tuv-nord.com/in/en/home/" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV India Website</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://www.tuv-nord.com/en/tuv-nord-worldwide/" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV NORD Website</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://webmail.tuvindia.co.in/" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV India Webmail</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://www.tuev-nord.de/en/employee-login/"  target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV NORD Webmail</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://excellence.tuv-india.com/" target="_blank" style="font-family:TNG Pro;font-size:12px;">Excellence</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://helpdesk.tuv-india.com:10443/login" target="_blank" style="font-family:TNG Pro;font-size:12px;">Ticketing Tool</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="https://portal.tuev-nord.de/sites/tuv_india/default.aspx" target="_blank" style="font-family:TNG Pro;font-size:12px;">TUV NORD Share point</a><br />
                        <img src="~/AllJsAndCss/images/11_link.png" style="height:18px;width:18px;margin-bottom:3px;" /> <a href="" target="_blank" style="font-family:TNG Pro;font-size:12px;">VPN Installation procedure</a><br />
                    </div>

                                
                   
                        </form>
                    }
                </div>

        
            </div><!--End of form col-->

            <div class="row">
                <div class="col-xs-12 xs-text-center col-sm-12" style="margin-top:-23px;margin-left:28px;">
                    <a href="http://www.facebook.com/tuvindia" target="_blank" style="font-family:'TNG Pro';"><i><img src="~/AllJsAndCss/images/Icon_facebook.jpg" /></i></a>
                    <a href="http://www.linkedin.com/company/tuv-india" target="_blank"><i><img src="~/AllJsAndCss/images/linkedin.jpg" /></i></a>
                    <a href="http://twitter.com/tuvnordindia" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_twitter_white.png" style="margin-top:5px;"/></i></a>
                    <a href="http://www.youtube.com/channel/UCf_o6xZ-Wh_0ilUfmz37i_w" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_youtube.png" /></i></a>
                    <label style="color:#001ED2;font-weight:normal;font-family:'TNG Pro';margin-left:870px;">  © TÜV NORD GROUP </label>
                    <p class="footer-text-2"></p>
                </div>
            </div>



        </div><!--End of row-->
     
        @*<div class="row assignfixedwidth floating-bottom-footer">
            <div class="col-xs-12 xs-text-center col-sm-12">
                <a href="http://www.facebook.com/tuvindia" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_facebook.jpg" /></i></a>
                <a href="http://www.linkedin.com/company/tuv-india" target="_blank"><i><img src="~/AllJsAndCss/images/linkedin.jpg" /></i></a>
                <a href="http://twitter.com/tuvnordindia" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_twitter_white.png" /></i></a>
                <a href="http://www.youtube.com/channel/UCf_o6xZ-Wh_0ilUfmz37i_w" target="_blank"><i><img src="~/AllJsAndCss/images/Icon_youtube.png" /></i></a>

                <p class="footer-text-2"></p>
            </div>
           
            <div class="col-xs-12 xs-text-center col-sm-4 text-right">

               <label style="color:white;font-weight:normal;font-family:Arial;">  © TÜV NORD GROUP </label>
            </div>
        </div>*@<!-- /.row -->
       
            
            <!--End of row-->
    </div><!--End of container-fluid-->
    <!--End of content-->
  
</body>
</html>
@*****************************************************************************************************************@
<script>
    if('@TempData["LoginFailed"]'!='')
    {
        alert('@TempData["LoginFailed"]');
    }
</script>


