
@{
    ViewBag.Title = "TrainingList";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<link href="~/AllJsAndCss/css/inner-pages.css" rel="stylesheet" />
<!--Start of main content 2-->
<div class="main-content2 light-blue-bg">



    <!--Start of gallery-->
    <div class="container-fluid light-blue-bg">
        <div class="row assignfixedwidth">
            <div class="col-xs-12 white-bg section-box-shadow main-content2">

                <div class="row" style="margin-top: 15px;">
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <h3 class="dynamic-page-title dynamic-page-title-2">
                            <i class="fa fa-folder-open"></i> Trainings for January 2019
                        </h3>
                        <a href="@Url.Action("TrainingFiels","Training")" class="btn btn-info dynamic-function-btn dynamic-function-btn-2">Go Back</a>
                    </div><!-- end of col -->
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <hr class="custom-hr">
                    </div><!-- /.col -->
                </div><!-- end of row -->



                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <div class="row">

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Basic Mechanical  Training for Electrical Field Surveyors. Safety Awareness, Complaint Discussion</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Refresher Training on ASME Section IX</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Penetrate Testing, Heat Treatment, RT</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Raw Material, Welding, WPS/PQR, Lab Testing and Safety</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Transformer, Heater, Cable, Motor, PT, MTC review, Safety Awareness</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Inspection of Raw Material, RT, Instrumentation</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Inspection Report Writing For Bulk Items</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Seniors Meeting for VR Preparation & Customer Complaint Discussion, Random Sampling</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Inspection Report writing for Bulk Items & Discussion on recent Complaints</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Order Booking & Training on SAP for Coordinators</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="@Url.Action("TrainingFiels","Training")" class="training-calender-list section-box-shadow"><i class="fa fa-folder" style="color:#f8c63c;"></i> &nbsp;Inspection report writing for Bulk Items</a>
                            </div><!-- end of col: filter-item::yearly folder -->


                        </div><!-- row -->
                    </div><!-- col -->
                </div><!-- row : filter-container -->

            </div>
        </div>
    </div>
    <!--End of gallery-->

</div>

<!--End of main content 2-->

