@*@model IEnumerable<TuvVision.Models.TechnicalCompetencyEvaluation>*@
@model TuvVision.Models.TechnicalCompetencyEvaluation
@using NonFactors.Mvc.Grid;
@using System.Web.Mvc;

@{
    ViewBag.Title = "ListTechnicalCompetencyEvaluation";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />
<style>
    table.evaluation > tbody{
         width: 100% !important;
         display: table;
    }
     table.evaluation > tbody > tr td table {
         width: 100% !important;
         display: table;
      }
    
</style>

<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">

            <div class="col-xs-12">
                <h3 class="dynamic-page-title dynamic-page-title-2  text-left">Technical Competency Evaluation</h3>
                @*<button type="button" value="CreateRole" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" style="margin-left: 16px" onclick="location.href='@Url.Action("TechnicalCompetencyEvaluation", "TechnicalCompetencyEvaluation")'">Add Technical Competency Evaluation</button>*@
                <button type="button" id="a" value="ExportToExcel" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("ExportIndex","TechnicalCompetencyEvaluation")'"
                        >
                    Export To Excel
                </button>
             </div><!-- /.col -->

            <div class="col-xs-12">
                <hr class="custom-hr">
            </div><!-- /.col -->
            <!--Table was here-->

        </div>
        <div class="col-xs-12">
            @*<table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="hidden">PK_TechnicalCompetencyEvaluation</th>
                        <th>Inspector Id</th>
                        
                        <th>Inspector Name</th>
                        
                        <th class="hidden">Modified Date</th>

                        <th class="remove-search">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var b in Model)
                    {
                        <tr>
                            <td class="hidden">@b.PK_TechnicalCompetencyEvaluation</td>
                            <td>@b.InspectorId</td>
                            <td>@b.InspectorName</td>
                            <td class="hidden">@b.ModifiedDate</td>
                            <td cRemarkslass="action-btn" style="text-align:center;">
                                <a href="@Url.Action("TechnicalCompetencyEvaluation", "TechnicalCompetencyEvaluation", new { Id = @b.InspectorId,PK_TechnicalCompetencyEvaluation=@b.PK_TechnicalCompetencyEvaluation })" class="btn btn-info btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>

                                <a href="@Url.Action("Delete", "TechnicalCompetencyEvaluation", new { InspectorId = @b.InspectorId })" class="delete" onclick="return confirm('Are you sure you wish to Delete selected Record?');" title="Delete"><i class="fa fa-trash"></i></a>

                                <a href="@Url.Action("TechnicalCompetencyEvalReports", "TechnicalCompetencyEvaluation", new { InspectorId = @b.InspectorId,InspectorFullName=@b.InspectorName,ModifiedDate=@b.ModifiedDate })" class="btn btn-info dynamic-function-btn">Print</a>

                             </td>

                        </tr>
                    }
                </tbody>

            </table>*@

        </div>

        <div class="col-xs-12">
            <table class="display dataTable no-footer evaluation" style="overflow-y:auto" id="gridMapping" width="100%">
                <tr>
                    <td>
                        @(Html
                            .Grid(Model.lmd1)
                            .Build(columns =>
                            {



                                columns.Add().Titled("Edit").Encoded(false).RenderedAs(o => Html.ActionLink(" ", "TechnicalCompetencyEvaluation", new { Id = o.InspectorId }, new { @class = "fa fa-pencil", title = "Edit" })).Css("aa");
                                columns.Add().Titled("Form").Encoded(false).RenderedAs(o => Html.ActionLink("PDF", "TechnicalCompetencyEvalReports", new { InspectorId = o.InspectorId, InspectorFullName = o.InspectorName, ModifiedDate = o.ModifiedDate, @pktce = o.PK_TechnicalCompetencyEvaluation }, new { @class = "btn btn-info dynamic-function-btn dynamic-function-btn-2 ", title = "Print" })).Css("aa");

                                columns.Add(c => c.EmployeeCode).Titled("Employee Code").Css("aa");

                                columns.Add(c => c.InspectorName).Titled("Inspector Name").Css("aa");
                                columns.Add(c => c.InspectorBranch).Titled("Branch").Css("aa");
                                columns.Add(c => c.Email).Titled("Email").Css("aa");
                                columns.Add(c => c.Mobile).Titled("Mobile").Css("aa");
                                columns.Add(c => c.FormFilled).Titled("Form Filled").Css("aa");
                                columns.Add(c => c.Verified).Titled("Verified").Css("aa");
                                //columns.Add().Titled("Delete").Encoded(false).RenderedAs(o => Html.ActionLink(" ", "Delete", new { InspectorId = o.InspectorId }, new { @class = "fa fa-trash-o", title = "Delete", onclick = "return confirm('Are you sure you wish to delete ?');" })).Css("aa");

                                columns.Add(c => c.TiimesRole).Titled("Tiimes Role").Css("aa");
                                columns.Add(c => c.EmployeeCategory).Titled("Employee Category").Css("aa");
                                columns.Add(c => c.ModifiedBy).Titled("Modified By").Css("aa");
                                columns.Add(c => c.ModifiedDate).Titled("Modified Date").Css("aa");




                                //     < td class="hidden">@b.PK_TechnicalCompetencyEvaluation</td>
                                //<td>@b.InspectorId</td>
                                //<td>@b.InspectorName</td>
                                //<td class="hidden">@b.ModifiedDate</td>
                                //<td cRemarkslass="action-btn" style="text-align:center;">
                                //    <a href="@Url.Action("TechnicalCompetencyEvaluation", "TechnicalCompetencyEvaluation", new { Id = @b.InspectorId,PK_TechnicalCompetencyEvaluation=@b.PK_TechnicalCompetencyEvaluation })" class="btn btn-info btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>

                                //    <a href="@Url.Action("Delete", "TechnicalCompetencyEvaluation", new { InspectorId = @b.InspectorId })" class="delete" onclick="return confirm('Are you sure you wish to Delete selected Record?');" title="Delete"><i class="fa fa-trash"></i></a>

                                //    <a href="@Url.Action("TechnicalCompetencyEvalReports", "TechnicalCompetencyEvaluation", new { InspectorId = @b.InspectorId,InspectorFullName=@b.InspectorName,ModifiedDate=@b.ModifiedDate })" class="btn btn-info dynamic-function-btn">Print</a>

                                // </td>


                            })
                        .Pageable(pager =>
                        {
                            //pager.PageSizes = new DictionaryInt32, String > { { 0, "All" }, { 2, "2" }, { 4, "4" } };
                            pager.ShowPageSizes = true;
                            pager.PagesToDisplay = 3;
                            pager.CurrentPage = 1;
                            pager.RowsPerPage = 2;
                        })
                        .UsingFilterMode(GridFilterMode.Row)
                        .Empty("No data found")
                        .Filterable()
                        .Sortable()

                    )


                </td>

            </tr>

        </table>




    </div>

    </div>


</div>




<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

@*export to excel*@
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>

<script>
           [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
               new MvcGrid(element);
           });
</script>	




