@using NonFactors.Mvc.Grid;
@model TuvVision.Models.ExpenseItem
@{
    ViewBag.Title = "GenerateVoucherApproval";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--filepond-->
<link href="~/AllJsAndCss/css/filepond.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="~/AllJsAndCss/js/filepond.js"></script>

<script>
    FilePond.parse(document.body);
</script>



<style>
    .height-table {
        height: auto;
    }

    body {
        font-family: 'TNG Pro';
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        font-family: 'TNG Pro';
    }

    th {
        background-color: #001ED2;
        color: #ffffff;
        font-family: 'TNG Pro';
        font-weight: normal;
    }

    @@media (max-width: 600px) {
        table {
            border: 0;
        }

            table thead {
                display: none;
            }

            table tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid #ddd;
            }

            table td {
                display: block;
                text-align: right;
            }

                table td:last-child {
                    border-bottom: 0;
                }
    }

    .label1 {
        font-weight: normal !important;
    }

    #preloader {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff url('../../Content/Loader/loader.gif') no-repeat center center;
        z-index: 9999;
        /*background: url('../../Content/Loader/loader.gif')no-repeat center center;*/
    }

    .highlight-row {
        background-color: #FED7DA;
    }

    label {
        font-weight: normal;
        font-family: 'TNG Pro';
    }

    .highlight-row_ {
        background-color: #FED7DA;
    }
     .btn.btn-info.dynamic-function-btn.highlighted {
    background-color:#001ED2; /* Change the color as desired */
}
</style>



<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div>
            <form method="post">
                <div class="col-xs-12">
                    <h3 class="dynamic-page-title dynamic-page-title-2  text-left" style="font-family:'TNG Pro'">Travel Expenses Voucher(s) List</h3>
                    <button type="button" value="Approved" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("GetVoucherListApproval", "GenerateVoucher")'"
                            style="border:none;margin-top: 13px;font-family:'TNG Pro';">
                        Approved List
                    </button>
                    <button type="button" value="Approved" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" id="btnSapDownload" onclick="location.href='@Url.Action("sapUpload", "GenerateVoucher")'"
                            style="border:none;margin-right:68px;margin-top: 14px;font-family:'TNG Pro';">
                        SAP
                    </button>
                </div><!-- /.col -->
            </form>
            <input type="hidden" id="hdnpkexpenseid" name="hdnpkexpenseid" />


        @{
            int count = 0;
         }
        


          
            <div class="col-xs-12">
                <div class="col-xs-12" id="buttonbody">
                </div>
                <table id="exampleExp" class="display custom-table no-footer" cellspacing="0">
                    <thead>
                        <tr>
                            <td class="remove-search" width="5%" style="background-color: #001ED2;color:white;font-family:'TNG Pro'">
                               <input type="checkbox" name="ID" class="custom-checkbox chkCheckBoxId" id="chkChkAll" />
                            </td>
                            <th class="remove-search" width="10%"style="font-family:'TNG Pro';">Voucher No</th>
                            <th class="remove-search" width="10%" style="font-family:'TNG Pro';">Month</th>
                            <th class="remove-search" width="10%"style="font-family:'TNG Pro';">Inspector Name </th>
                            <th class="remove-search" width="10%"style="font-family:'TNG Pro';">Employee Code</th>
                            <th class="remove-search" width="15%"style="font-family:'TNG Pro';">Employement Category</th>
                            <th class="remove-search" width="10%"style="font-family:'TNG Pro';">Days Present</th>
                            <th class="remove-search class='form-control'" width="10%"style="font-family:'TNG Pro';">Total Amount</th>
                            <th class="remove-search class='form-control'" width="10%"style="font-family:'TNG Pro';">Approved Amount</th>
                            <th class="remove-search" width="10%" style="font-family:'TNG Pro';">Previous Remarks</th>
                            @*<th class="remove-search" width="10%">Remarks</th>*@
                        </tr>
                    </thead>
                    </table>
                        
                    </div><!-- /.box-shadow -->
                    <div class="col-xs-12">
                        <input type="button" id="btnApprove" value="Approve" class="btn btn-default insert-form-btn" style="margin-bottom: 40px;" />
                    </div>
                </div><!-- /.container-fluid -->
                <!--End of header-->
            </div><!-- /.row -->
        </div>

        @*New Added Code End*@
<div class="modal fade" id="remarksModal" tabindex="-1" role="dialog" aria-labelledby="remarksModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remarksModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Table to display remarks -->
                <div class="table">
                    <table class="table table-condensed table-responsive " id="tblusersmodal" style="border:1px;font-size:12px;">
                        <thead style="background-color:#001ED2;color:white;border:1px solid;">
                            <tr class="" style="background-color:#001ED2;font-family:'TNG Pro';color:white;">
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Date</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Approval Stage</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Approver Name</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Remarks</th>
                                <th scope="col" style="font-size: 14px;font-family:'TNG Pro';font-weight:normal;">Approved Amount (INR)</th>
                                @*<th scope="col" style="font-size: 14px;font-family:'TNG Pro';">Total Amount approved</th>*@
                            </tr>
                        </thead>
                        <tbody id="userbody" style="border:1px solid;font-size:13px;font-family:'TNG Pro';color: black;"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


        
@{
    var UrlLink = System.Configuration.ConfigurationManager.AppSettings["UrlLink"];
}




        <script type="text/javascript">
            var isDataTableInitialized = false;

            $(document).ready(function ()
            {
                debugger;
                $("body").prepend('<div id="preloader"></div>');

                GetVoucherList()
                //$("body").prepend('<div id="preloader"></div>');
                var rows = $('#exampleExp tbody tr').length;
                for (var i = 1; i <= rows; i++) {
                    var totalAmount = $("#tottalAmounts_" + i).val();
                    let approvedAmount = $("#amount_" + i).val();
                    
                    if (totalAmount != approvedAmount) {
                        // Highlight the row in yellow
                        $("#txttr_" + i).addClass('highlight-row');
                    }
                }
                $('#chkChkAll').click(function () {
                    if ($(this).is(":checked")) {
                        $(".chkCheckBoxId").prop("checked", true)
                    }
                    else {
                        $(".chkCheckBoxId").prop("checked", false)
                    }
                });
            });

            if ('@Session["UserIDs"]' == 'TUV0003107') {

                $('#btnSapDownload').show();
                //$('#btnApprove').click(GetSap_UploadData);
            }
            else{
                $('#btnSapDownload').hide();
            }
            $('#DeleteImageById').click(function (e)
            {
                if (this.checked) {
                    $(".chkCheckBoxId").prop('checked', $(this).prop('checked', true));
                }
                else {
                    $('.chkCheckBoxId').each(function () { this.checked = false; });
                }
            });



            $('#chkChkAll').click(function (e) {
                var table = $(e.target).closest('table');
                $('td input:checkbox', table).prop('checked', this.checked);
            });










           ///
            function GetVoucherList() {
                debugger;
                $("body").prepend('<div id="preloader"></div>');
                var UrlLink = '@UrlLink';
                $.ajax({
                    type: "GET",
                    url: UrlLink + "/GenerateVoucher/GenerateVoucherApprovalList",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (!!response) {
                            var a = JSON.parse(response);
                            var aa = JSON.stringify(response);

                            if (a == "Error") {
                                $("#exampleExp tbody").empty();
                                tr = $('<tr/>');
                                tr.append('<td colspan=10 style="text-align: center;">No Record Found</td>');
                                $('#exampleExp').append(tr);a
                            }
                            else {

                                $("#exampleExp tbody").empty();
                                for (var i = 0; i < a.length; i++) {
                                    if ('@Session["RoleName"]' == "Expenses approver") {
                                        test(a[i].VoucherNo);
                                    }
                                    else if ('@Session["RoleName"]' == "Clusterhead Industrial Inspection") {
                                        test(a[i].VoucherNo);
                                    }
                                    else {
                                        tr = $('<tr/>');
                                        tr.append("<td><input type='checkbox' id='" + a[i].VoucherNo + "' /> </td>");

                                        tr.append("<td><a href=" + UrlLink + "'/GenerateVoucher/VoucherHistorApprovedList?VoucherNo=" + a[i].VoucherNo + "'>" + a[i].VoucherNo + "</a></td>");
                                        //added by nikita on 22112023
                                        tr.append("<td><label'>" + a[i].Month_Name + "</label> </td>");

                                        tr.append("<td><label'>" + a[i].Name + "</label> </td>");
                                        tr.append("<td><label'>" + a[i].EmployeeCode + "</label> </td>");
                                        tr.append("<td><label'>" + a[i].EmployementCategory + "</label> </td>");
                                        //end
                                        tr.append("<td><label'>" + a[i].DaysPresent + "</label> </td>");
                                        //tr.append("<td><label class='form-control''>" + a[i].TotalAmount + "</label> </td>");
                                        //tr.append("<td><label class='form-control''>" + a[i].ApprovedAmount + "</label> </td>");
                                        tr.append("<td><input type='text' readonly id='txtAprAmt_" + i + "' value ='" + a[i].TotalAmount + "'></td>");
                                        tr.append("<td><input type='text' readonly id='txtAprAmt_" + i + "' value ='" + a[i].ApprovedAmount + "'></td>");
                                        ////tr.append("<td style='width:20%;'><label'>" + a[i].Status + "</label></td>");
                                        tr.append("<td><i class='fas fa-info-circle' id='icon_" + i + "' style='cursor: pointer;' onclick='BindDescription(\"" + a[i].VoucherNo + "\")'></i></td>");

                                        $('#exampleExp').append(tr);
                                    }

                                }
                            }
                            $("#preloader").remove();

                        }

                            //check response is null or empty
                        else {
                            // Handle the case when response is null or empty
                            $("#exampleExp tbody").empty();
                            tr = $('<tr/>');
                            tr.append('<td colspan=10 style="text-align: center;">No Record Found</td>');
                            $('#exampleExp').append(tr);
                            $("#preloader").remove();

                        }
                    },

                    error: function (xhr, status, error) {
                        debugger;
                        $("#preloader").remove();
                        // Code to handle errors goes here
                        //hideLoader(); // Hide loader when the content is loaded
                    }
                });
                $("#preloader").remove();

            };


            ///
 


            //added by nikita on 19022024
            var buttonMap = {};
            function test(OP_Number) {
                // Extract the first three letters of the OP_Number
                var buttonName = OP_Number.substring(0, 3);

                // Check if a button already exists for this buttonName
                if (!buttonMap[buttonName]) {
                    // If the button does not exist, create a new one
                    var button = $('<input/>').attr({
                        type: "button",
                        value: buttonName,
                        class: "btn btn-info dynamic-function-btn",
                        style: "border:none;margin-right: 17px;margin-left: -14px;",
                        name: buttonName
                    });

                    // Attach click event handler
                    button.on('click', function () {
                        // Retrieve the associated OP_Numbers and handle the click event
                        var associatedOP_Numbers = buttonMap[buttonName];
                        newButtonClickListener(buttonName);
                        $(".btn-info").removeClass("highlighted");

                        $(this).addClass("highlighted");
                        console.log("Button clicked:", buttonName);
                    });

                    // Append the button to the element with the id 'buttonbody'
                    $("#buttonbody").append(button);

                    // Store the button in the buttonMap
                    buttonMap[buttonName] = [OP_Number]; // Store the current OP_Number associated with this button
                } else {
                    // If the button already exists, add the current OP_Number to its list
                    buttonMap[buttonName].push(OP_Number);
                }
            }

            function newButtonClickListener(button_name) {
                // Define what happens when the new button is clicked
                $("body").prepend('<div id="preloader"></div>');
                var UrlLink = '@UrlLink';
                $.ajax({
                    type: "GET",
                    url: UrlLink + "/GenerateVoucher/GenerateVoucherApprovalList",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        if (!!response) {
                            var a = JSON.parse(response);
                            var aa = JSON.stringify(response);

                            if (a == "Error") {
                                $("#exampleExp tbody").empty();
                                tr = $('<tr/>');
                                tr.append('<td colspan=12 style="text-align: center;">No Record Found</td>');
                                $('#exampleExp').append(tr);
                            }
                            else {
                                $("#exampleExp tbody").empty();
                                for (var i = 0; i < a.length; i++) {
                                    if (a[i].VoucherNo.substring(0, 3) == button_name) {
                                        tr = $('<tr/>');
                                        tr.append("<td><input type='checkbox' id='" + a[i].VoucherNo + "' /> </td>");

                                        tr.append("<td><a href=" + UrlLink + "'/GenerateVoucher/VoucherHistorApprovedList?VoucherNo=" + a[i].VoucherNo + "'>" + a[i].VoucherNo + "</a></td>");
                                        //added by nikita on 22112023
                                        tr.append("<td><label'>" + a[i].Month_Name + "</label> </td>");

                                        tr.append("<td><label'>" + a[i].Name + "</label> </td>");
                                        tr.append("<td><label'>" + a[i].EmployeeCode + "</label> </td>");
                                        tr.append("<td><label'>" + a[i].EmployementCategory + "</label> </td>");
                                        //end
                                        tr.append("<td><label'>" + a[i].DaysPresent + "</label> </td>");
                                        tr.append("<td><input type='text' readonly id='txtAprAmt_" + i + "' value ='" + a[i].TotalAmount + "'></td>");
                                        tr.append("<td><input type='text' readonly id='txtAprAmt_" + i + "' value ='" + a[i].ApprovedAmount + "'></td>");
                                        //tr.append("<td><label'>" + a[i].TotalAmount + "</label> </td>");
                                        //tr.append("<td><label'>" + a[i].ApprovedAmount + "</label> </td>");
                                        //tr.append("<td style='width:20%;'><label'>" + a[i].Status + "</label></td>");
                                        tr.append("<td><i class='fas fa-info-circle' id='icon_" + i + "' style='cursor: pointer;' onclick='BindDescription(\"" + a[i].VoucherNo + "\")'></i></td>");
                                        $('#exampleExp').append(tr);
                                    }
                                    else {

                                    }
                                }
                                $("#exampleExp").DataTable();
                                $("#preloader").remove();
                            }
                        }
                        else {
                            $("#exampleExp tbody").empty();
                            tr = $('<tr/>');
                            tr.append('<td colspan=12 style="text-align: center;">No Record Found</td>');
                            $('#exampleExp').append(tr);
                        }
                        $("#preloader").remove();
                    },

                    error: function (xhr, status, error) {
                        $("#preloader").remove();
                    },
                    complete: function () {
                        // Remove the preloader after the request is complete (success or error)
                        $("#preloader").remove();
                    }
                });
                $("#preloader").remove();
            };

            //end of code 

           

            $('#btnApprove').click(function (e) {
                debugger;
                if (confirm('Do you want to proceed with voucher(s) approval?')) {
                    $("body").prepend('<div id="preloader"></div>');  //added by nikita on 05-02-2024
                    ////var UrlLink = '@UrlLink';
                    var i = 1;
                    var message = "";
                    var List_VoucherID = "";
                    var Data = [];
                    $("#exampleExp input[type=checkbox]:checked").each(function () {
                        if ($(this).attr('id') === 'chkChkAll') {
                            return true; // Skip to the next iteration
                        }
                        i++;
                        var row = $(this).closest("tr")[0];
                        var _rowIndex = row.rowIndex - 1;
                        var item = {};
                        var checkboxId = $(this).attr('id');
                        console.log('Checkbox ID: ' + checkboxId);

                        //alert(checkboxId)
                        //List_VoucherID = checkboxId + ',' + List_VoucherID;


                        var TotalAmountSelector_ = '#exampleExp tbody tr:eq(' + _rowIndex + ') td:eq(7) input[type="text"]';
                        var TotalAmount = $(TotalAmountSelector_).val();
                        var ApprovedAmountSelector = '#exampleExp tbody tr:eq(' + _rowIndex + ') td:eq(8) input[type="text"]';
                        var ApprovedAmount = $(ApprovedAmountSelector).val();
                        var ApprovedRemarksSelector = '#exampleExp tbody tr:eq(' + _rowIndex + ') td:eq(9) input[type="text"]';
                        var ApprovedRemarks = $(ApprovedRemarksSelector).val();
                        item["VoucherNo"] = checkboxId;
                        item["Remarks"] = ApprovedRemarks;//$("#txtRemarks").val();
                        item["ApprovedAmount"] = ApprovedAmount;
                        item["TotalAmount"] = TotalAmount;
                        Data.push(item);
                    });
                    var Data1 = JSON.stringify(Data);
                    $.ajax({
                        //   url: UrlLink + "/GenerateVoucher/BulkApproveVoucher",
                        url: '@Url.Action("BulkApproveVoucher", "GenerateVoucher")',
                        //url: "/GenerateVoucher/BulkApproveVoucher",
                        type: "Post",

                        //contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: { Data1: Data1 },
                        success: function (response) {
                            //alert(response);
                            // GetVoucherList();
                            $('#preloader').remove();
                            $('#chkChkAll').prop('checked', false);
                            window.location.href = '@Url.Action("GenerateVoucherApproval", "GenerateVoucher")';
                        },
                        error: function (xhr, status, error) {
                            // Code to handle errors goes here
                            $('#preloader').remove();

                        },
                        complete: function () {
                            // Remove the preloader after the request is complete (success or error)
                            $("#preloader").remove();
                        }
                    });
                }
            });



        


            function GetSap_UploadData() {
                // Function to trigger file download
                debugger;
                var i = 1;
                var message = "";
                var List_VoucherID = "";
                var Data = [];
                $("#exampleExp input[type=checkbox]:checked").each(function () {
                    i++;
                    var row = $(this).closest("tr")[0];
                    var _rowIndex = row.rowIndex - 1;
                    var item = {};
                    var checkboxId = $(this).attr('id');
                    var VoucherNo = '#exampleExp tbody tr:eq(' + _rowIndex + ') td:eq(1) input[type="text"]';
                     //var VoucherNo_ = $(VoucherNo).val();
                    item["VoucherNo"] = checkboxId;
                    //item["VoucherNo_"] = VoucherNo_;//$("#txtRemarks").val();
                    Data.push(item);
                });

                var Data1 = JSON.stringify(Data);
                //Create a form element
                var form = $('<form></form>');
                form.attr('action', '@Url.Action("SapDownload", "GenerateVoucher")');
                form.attr('method', 'POST');
                form.attr('target', 'download-iframe'); // Target an iframe to handle the download response

                // Append hidden input fields with necessary data
                $('<input>').attr({
                    type: 'hidden',
                    name: 'Data1',
                    value: Data1
                }).appendTo(form);
               

                // Append the form to the document body
                form.appendTo('body');

                // Create an iframe to handle the download response
                var iframe = $('<iframe name="download-iframe" style="display: none;"></iframe>');
                iframe.appendTo('body');

                // Submit the form
                form.submit();

                // Remove the form and iframe from the DOM after download
                setTimeout(function () {
                    form.remove();
                    iframe.remove();
                }, 100000); // Adjust timeout as needed

                $("#preloader").remove();
            }

        

            function BindDescription(d) {
                debugger;
                var VoucherNo = d;
                var UrlLink = '@UrlLink';
                $.ajax({
                    ////url: UrlLink + "/GenerateVoucher/Voucher_History_Description",
                    url: "@Url.Action("Voucher_History_Description", "GenerateVoucher")",
                    type: "get",
                    DataType: "json",
                    async: false,
                    contenttype: "application/json; charset=utf-8",
                    data:{VoucherNo:VoucherNo},
                    success: function (result) {
                    debugger;
                    $("#tblusersmodal tbody").empty();
                    var a = JSON.parse(result);
                    let date = [a[0].Date, a[0].PCH_Approval_Date, a[0].CH_Approval_Date, a[0].Account_Approval_Date, a[0].FI_Approval_Date]
                    let Name_ = [a[0].Name, a[0].PCH_Name, a[0].CH_Approval, a[0].Account_Approval, a[0].FI_Approval]
                    let Amount = [a[0].Approval_One_Approval_Amount, a[0].Pch_ApprovalAmount, a[0].Ch_Approval_Amount, a[0].Accountant_Approval_Amount, a[0].FI_Approval_Amount]
                    let Data = ["ApprovalOne/ApprovalTwo","PCH","Cluster Head", "Accountant","Finance"]
                    let k = 0;
                    var myArray = [];
                    for(var i=0;i<a.length;i++)
                    {
                        if(!!a[i].ApprovalOne_Description)
                        {
                            myArray.push(a[i].ApprovalOne_Description);
                            k++;
                        }
                        if(!!a[i].PCH_Approval_Description)
                        {
                            myArray.push(a[i].PCH_Approval_Description);
                            k++;

                        }
                        if(!!a[i].CH_Approval_Description)
                        {
                            myArray.push(a[i].CH_Approval_Description);
                            k++;

                        }
                        if (!!a[i].Accountant_Description)
                        {
                            myArray.push(a[i].Accountant_Description);
                            k++;
                        }
                        if (!!a[i].Finance_Description) {
                            myArray.push(a[i].Finance_Description);
                            k++;
                        }
                        for (var j = 0; j < myArray.length; j++)
                        {
                          
                            $("#tblusersmodal").append('<tr><td>' + date[j] + '</td><td>' + Data[j] + '</td><td>' + Name_[j] + '</td><td>' + myArray[j] + '</td><td>' + Amount[j] + '</td></tr>')
                        }
                    }
                    $('#remarksModal').modal('show');
                },
                error: function (result) {
                    debugger;
                    (result+"something went wrong");
                }
            });
            }
        </script>
