@model TuvVision.Models.ProfileUser

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

@*<script src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

<script src="~/AllJsAndCss/js/datatable-custom.js"></script>*@
@*DATEPICKER*@
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js" data-modules="effect effect-bounce effect-blind effect-bounce effect-clip effect-drop effect-fold effect-slide"></script>*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script>
    $(function () {
        $(".dateofjoining").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50"
        });
    });
</script>
<script>
    $(function () {
        $(".dateofbirth").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50"
        });
    });
</script>



    @*@Html.AntiForgeryToken()*@
    <div class="main-content3 xs-max-height grey-bg-f3">
        <div class="grey-bg-f3">
            <!--Start of header-->
            <div class="container-fluid">
                <div class="row assignfixedwidth rp-5">

                    <div class="col-xs-12 form-col">
                        <div class="row">

                            <div class="col-xs-12 text-right">
                                <a href="@Url.Action("Myprofile","Users")" class="btn btn-info dynamic-function-btn"><i class="fa fa-long-arrow-left"></i> Go Back</a>
                            </div>

                            <div class="col-xs-12">
                                <div class="white-bg section-box-shadow">
                                    <h3 class="form-page-title">Update User Profile</h3>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                            <div class="form-box">
                                                <form method="post" enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Date Of Birth:</label>
                                                                @Html.TextBoxFor(model => model.DOB, "{0:dd MMM yyyy}", htmlAttributes: new { @placeholder = "Select Date Of Birth", @class = "form-control dateofbirth " })
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Educational Qualification:</label>
                                                               
                                                                @Html.TextBoxFor(model => model.Qualification, new { @placeholder = "Enter Qualification ", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Professional Qualification:</label>
                                                               
                                                                @Html.TextBoxFor(model => model.Additional_Qualification, new { @placeholder = "Enter Professional Qualification", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Additional_Qualification, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Date Of Joining:</label>
                                                                @Html.TextBoxFor(model => model.DateOfJoining, "{0:dd MMM yyyy}", htmlAttributes: new { @placeholder = "Enter Date Of Joining", @class = "form-control dateofjoining" })
                                                                @Html.ValidationMessageFor(model => model.DateOfJoining, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                      
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Zip Code:</label>
                                                              
                                                                @Html.TextBoxFor(model => model.ZipCode, new { @placeholder = "Enter ZipCode", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>TUVI Email ID:</label>
                                                              
                                                                @Html.TextBoxFor(model => model.EmailID, new { @placeholder = "Email ID", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Cost Center:</label>
                                                                @if (ViewBag.SubCatlist != null)
                                                                {
                                                                    @Html.DropDownListFor(m => m.Pk_CC_Id, ViewBag.SubCatlist as IEnumerable<SelectListItem>, "--Select Cost Center--", new { @class = "form-control", @id = "Pk_CC_Id", @disabled = "disabled" })
                                                                    @Html.ValidationMessageFor(model => model.Pk_CC_Id, "", new { @class = "text-danger validation-msg" })
                                                                }
                                                            </div>
                                                        </div>
                                                        @*<div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Cost Center:</label>
                                                                @Html.TextBoxFor(model => model.Cost_Center, new { @placeholder = "Residence No", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Cost_Center, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>*@
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Residence No:</label>

                                                                @Html.TextBoxFor(model => model.ResidenceNo, new { @placeholder = "Enter Residence No", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.ResidenceNo, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label> Office No:</label>
                                                             
                                                                @Html.TextBoxFor(model => model.OfficeNo, new { @placeholder = "Enter Office No", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.OfficeNo, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label>Residing Address:</label>
                                                               
                                                                @Html.TextAreaFor(model => model.Address1, new { @placeholder = "Enter Address Here", @class = "form-control", @rows = "3" })
                                                                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label>Permanant Address:</label>
                                                               
                                                                @Html.TextAreaFor(model => model.Address2, new { @placeholder = "Enter Address Here", @class = "form-control", @rows = "3" })
                                                                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                     
                                                    </div>

                                                    <div class="row">
                                                        


                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Gender:</label>
                                                                @if (Model != null)
                                                                {
                                                                    if (Model.Gender == "Male")
                                                                    {
                                                                        <div class="radio">
                                                                            <label class="radio-green">
                                                                                <input type="radio" class="with-gap" name="Gender" id="Male" value="Male" checked="checked"><label class="radio-lbl-green" for="Male">Male</label>
                                                                            </label>
                                                                            <label class="radio-green">
                                                                                <input type="radio" class="with-gap" name="Gender" id="FeMale" value="Female"><label class="radio-lbl-green" for="FeMale">Female</label>
                                                                            </label>
                                                                        </div>
                                                                    }
                                                                    else if (Model.Gender == "Female")
                                                                    {
                                                                        <div class="radio">
                                                                            <label class="radio-green">
                                                                                <input type="radio" class="with-gap" name="Gender" id="Male" value="Male"><label class="radio-lbl-green" for="Male">Male</label>
                                                                            </label>
                                                                            <label class="radio-green">
                                                                                <input type="radio" class="with-gap" name="Gender" id="FeMale" value="Female" checked="checked"><label class="radio-lbl-green" for="FeMale">Female</label>
                                                                            </label>
                                                                        </div>
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    <div class="radio">
                                                                        <label class="radio-green">
                                                                            <input type="radio" class="with-gap" name="Gender" id="Male" value="Male"><label class="radio-lbl-green" for="Male">Male</label>
                                                                        </label>
                                                                        <label class="radio-green">
                                                                            <input type="radio" class="with-gap" name="Gender" id="FeMale" value="Female"><label class="radio-lbl-green" for="FeMale">Female</label>
                                                                        </label>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Marital Status:</label>
                                                               
                                                                @Html.TextBoxFor(model => model.Marital_Status, new { @placeholder = "Enter Marital Status", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Marital_Status, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>


                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Blood Group:</label>
                                                               
                                                                @Html.TextBoxFor(model => model.BloodGroup, new { @placeholder = "Enter Blood Group", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Shoes Size:</label>
                                                               
                                                                @Html.TextBoxFor(model => model.ShoesSize, new { @placeholder = "Enter Shoes Size", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.ShoesSize, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>


                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Shirt Size :</label>
                                                               
                                                                @Html.TextBoxFor(model => model.ShirtSize, new { @placeholder = "Enter Shirt Size", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.ShirtSize, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>PAN No:</label>
                                                               
                                                                @Html.TextBoxFor(model => model.PanNo, new { @placeholder = "Enter PAN No ", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                 

                                                    <div class="row">
                                                       
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Aadhar No :</label>
                                                                @*<input type="text" class="form-control" placeholder="Status Here">*@
                                                                @Html.TextBoxFor(model => model.AadharNo, new { @placeholder = "Enter Aadhar No", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.AadharNo, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                @*<label>Total Year of Experience:</label>*@
                                                                <label>Previous Experience In Years E.g.(02:05)(YY:MM):</label>
                                                                
                                                                @*<input type="text" class="form-control" placeholder="Phone Here">*@
                                                                @Html.TextBoxFor(model => model.TotalyearofExprience, new { @placeholder = "Enter Total Year of Experience ", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.TotalyearofExprience, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>


                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Emergency Mobile Number:</label>
                                                                @*<input type="text" class="form-control" placeholder="Status Here">*@
                                                                @Html.TextBoxFor(model => model.EmergencyMobile_No, new { @placeholder = "Enter Emergency Mobile Number", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.EmergencyMobile_No, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                    </div>

                                                  
                                                    <div class="row">

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Medical History:</label>
                                                              
                                                                @Html.TextBoxFor(model => model.Medical_History, new { @placeholder = "Enter Medical History", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Medical_History, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Allergies:</label>
                                                               
                                                                @Html.TextBoxFor(model => model.Allergies, new { @placeholder = "Enter Allergies (if any) ", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Allergies, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>


                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Fax No:</label>
                                                             
                                                                @Html.TextBoxFor(model => model.Fax_No, new { @placeholder = "Enter Fax No", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Fax_No, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label> CV <span class="required"></span><br />
                                                                <span>Size :- (56h * 56w)</span></label>
                                                                @*@Html.TextBoxFor(m => m.CV, new { @class = "form-control", @type = "file" })
                                                                @Html.HiddenFor(m => m.CV)
                                                                @if (Model != null)
                                                                {

                                                                    <img src="@Url.Content("~/Content/Uploads/Images/" + Html.DisplayFor(m => m.CV))" width="100" height="100" />
                                                                }*@
                                                                <input type="file" class="inputupload" name="img_Banner1" id="img_Banner1" />
                                                                @Html.HiddenFor(m => m.CV)
                                                                @if (Model != null)
                                                                {
                                                                    @*<a href="~/Content/Uploads/Images/@Model.CV" class="user-email">@Model.CV</a>*@
                                                                    <a href="~/Content/Uploads/Images/@Html.DisplayFor(m => m.CV)"> CV
                                                                        @*<img src="@Url.Content("~/Content/Uploads/Images/"+@Html.DisplayFor(m => m.CV))" width="75" height="75" />
                                                                        @Html.ValidationMessageFor(m => m.CV, "", new { @class = "text-danger", })*@
                                                                    </a>
                                                                    @*<img src="@Url.Content("~/Content/Uploads/Images/" + Html.DisplayFor(m => m.Image))" width="100" height="100" />*@
                                                                }
                                                            </div>
                                                        </div>

                                                       
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>
                                                                    Image <span class="required"></span><br />
                                                                    <span>Size :- (56h * 56w)</span>
                                                                </label>
                                                                @*@Html.TextBoxFor(m => m.Image, new { @class = "form-control", @type = "file" })*@
                                                                <input type="file" class="inputupload" name="img_Banner" id="img_Banner" />
                                                                @Html.HiddenFor(m => m.Image)
                                                                @if (Model != null)
                                                                {
                                                                    <a href="~/Content/Uploads/Images/@Html.DisplayFor(m => m.Image)">  Image
                                                                        @*<img src="@Url.Content("~/Content/Uploads/Images/"+@Html.DisplayFor(m => m.Image))" width="75" height="75" />
                                                                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger", })*@
                                                                    </a>
                                                                    @*<img src="@Url.Content("~/Content/Uploads/Images/" + Html.DisplayFor(m => m.Image))" width="100" height="100" />*@
                                                                }
                                                            </div>
                                                        </div>


                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>
                                                                    Signature <span class="required"></span><br />
                                                                    <span>Size :- (56h * 56w)</span>
                                                                </label>
                                                                @*@Html.TextBoxFor(m => m.Signature, new { @class = "form-control", @type = "file" })
                                                                @Html.HiddenFor(m => m.Signature)
                                                                @if (Model != null)
                                                                {

                                                                    <img src="@Url.Content("~/Content/Uploads/Images/" + Html.DisplayFor(m => m.Signature))" width="100" height="100" />
                                                                }*@
                                                                <input type="file" class="inputupload" name="img_Banner2" id="img_Banner2" />
                                                                @Html.HiddenFor(m => m.Signature)
                                                                @if (Model != null)
                                                                {
                                                                    @*<a href="~/Content/Uploads/Images/@Html.DisplayFor(m => m.Signature)"> Signature*@
                                                                    <a href="~/Sign/@Html.DisplayFor(m => m.Signature)"> Signature
                                                                       
                                                                        @*<img src="@Url.Content("~/Content/Uploads/Images/"+@Html.DisplayFor(m => m.Signature))" width="75" height="75" />
                                                                            @Html.ValidationMessageFor(m => m.Signature, "", new { @class = "text-danger", })*@
                                                                    </a>
                                                                    @*<img src="@Url.Content("~/Content/Uploads/Images/" + Html.DisplayFor(m => m.Image))" width="100" height="100" />*@
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>
                                                  
                                                  @Html.HiddenFor(m=>m.Cost_Center)
                                                    @Html.Hidden("Br_Id")
                                                    @Html.HiddenFor(m => m.Branch)
                                                    <div class="col-xs-12 text-center">

                                                        <button type="submit" class="btn btn-default insert-form-btn"><i class="fa fa-plus-circle"></i> Update Profile</button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Contact Details By Manoj -->


                                </div><!-- /.box-shadow -->
                            </div><!-- /.col -->

                        </div><!-- /.row -->
                    </div><!-- /.col -->



                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            <!--End of header-->
        </div>
    </div>


<script type="text/javascript">
    $('#Pk_CC_Id').change(function () {
        debugger;
        var CostCenterName = $('#Pk_CC_Id option:selected').text();
        $('#Cost_Center').val(CostCenterName);
    });
    //$(function ()
    //{
    //   // var v = $('#Br_Id').val();
    //    debugger;
    //    $("#Cost_Center").autocomplete({
    //        source: function (request, response)
    //        {
    //                $.ajax({
    //                    url: "/Users/GetAutoCompleteData/",
    //                    data: "{'InspectorName':'" + request.term + "'}",
    //                   // data: '{InspectorName: "' + request.term + '" ,Br_Id: "' + v + '"}',
    //                    datatype: "json",
    //                    type: "POST",
    //                    contentType: "application/json;charset-utf-8",
    //                    success: function (data) {
    //                        response($.map(data, function (item) {
    //                            return { label: item.Cost_Center, value: item.Cost_Center };
    //                        }))
    //                    },

    //                    minLength: 1
    //                });
    //            }
    //        });
    //    });

</script>



