
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js pl">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>*@
    <link href="~/AllJsAndCss/css/bootstrapForQuotationservicess.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
   
    <link href="~/AllJsAndCss/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/AllJsAndCss/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/QuotationServiceURLCss/Resources/Public/CSS/nord.min5a8f.css?1580984141" media="all">
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/Resources/Public/CSS/nord-ie9.min.css?1580984141" media="all"><![endif]-->
    <meta property="og:image" content="Resources/Public/Media/ogImage.jpg">
    <title>Register - Courses Online | TUV India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/favicon-194x194.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="~/QuotationServiceURLCss/Resources/Public/Media/Favicon/mstile-310x310.png" />
    <meta name="DCTERMS.title" content="Contact">
    <meta name="date" content="2018-10-30T10:54:50+01:00">
    <meta name="DCTERMS.date" content="2018-10-30T10:54:50+01:00">
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="index.html">
    <meta property="og:site_name" content="TUV India">
    <meta property="og:title" content="Contact">
    <meta property="og:image:width" content="1800">
    <meta property="og:image:height" content="860">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:type" content="article">
    <script>
        window.onload = function () {
            var d = new Date().getTime();
            $('#tid').val(d);
        };
    </script>

</head>
<body>


    <div data-page-wrapper class="c-page-wrapper" id="page-wrapper" data-app-register>

        <a data-nav-trigger href="#off-canvas-navigation" class="c-nav-trigger  u-hide-desk">MENU</a>


        <nav class="c-page-top">
            <div class="o-wrapper">
                <a href="https://www.tuv-nord.com/in/enhome/" title="TUV India" class=logo-link><img src="~/QuotationServiceURLCss/Resources/Public/Media/logo_tuv_india.svg" alt="TUV India" class="logo c-page-top__logo logo  c-page-top__logo" /></a>
                <div class="c-page-top__nav  u-hide-portable" role="navigation">
                    <ul class="c-nav-top  js-nav-top">
                        <li><a href="https://www.tuv-nord.com/in/en/our-company/">Our Company</a></li>
                        <li><a href="https://www.tuv-nord.com/in/en/contact-us/">Contact us</a></li>

                        <li class="c-nav-top__search  has-subcontent" data-delay="4000">
                            <form id="tx-solr-search-form-pi-results" action="https://www.tuv-nord.com/in/en/search-results/" method="get" accept-charset="utf-8">
                                <label class="js-nav-top__subcontent-trigger" for="top-search" data-icon="ui_search" data-icon-size="l">
                                    <span class="u-hide">Search</span>
                                </label><div class="c-nav-top__search-form  c-nav-top__subcontent">
                                    <input type="text" name="q" class="awesomplete tx-solr-q" list="searchKeywords" id="top-search" placeholder="Search"><button type="submit" data-icon="ui_search" data-icon-size="l">
                                        <span class="u-hide">Search</span>
                                    </button>
                                </div>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <nav class="c-page-primary-nav  u-hide-portable" role="navigation">
            <div class="o-wrapper">
                <div class="o-wrapper-breaker">
                    <ul class="c-nav-primary  c-nav-primary--pack  js-nav-primary"><li><a href="https://www.tuv-nord.com/in/en/home/" data-icon="ui_home" data-icon-size="l"><span class="u-hide">Home</span></a></li><li class="has-subcontent"><a href="#nav-services-11852">Services</a></li><li class="has-subcontent"><a href="#nav-services-14034">News</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/" title="TUV India Training Academy">TUV India Training Academy</a></li><li class="has-subcontent"><a href="#nav-services-14012">Help us to help you</a></li><li><a href="https://www.tuv-nord.com/in/en/career-with-us/" title="Career with us">Career with us</a></li><li><a href="https://www.tuv-nord.com/in/en/blog/" title="Blog">Blog</a></li></ul>
                </div>
            </div>
        </nav>



        <nav class="c-page-primary-nav__subnav  u-hide-portable" role="navigation">
            <div class="c-nav-sub">
                <div class="o-wrapper">
                    <div id="nav-services-11852" class="c-nav-sub__layer  js-nav-sub__layer"><div class="o-layout"><div class="o-layout__item  u-3/4"><ul class="c-nav-list u-columns u-columns-3"><li><a href="https://www.tuv-nord.com/in/en/services/railway-technology/">Railway Technology</a></li><li><a href="https://www.tuv-nord.com/in/en/services/construction-services-infrastructure-buildings/">Construction Services (Infrastructure & Buildings)</a></li><li><a href="in/en/services/product-testing-services/">Product Testing Services</a></li><li><a href="https://www.tuv-nord.com/in/en/services/petroleum-chemical-and-gas-inspection-and-testing-services/">Petroleum, Chemical and Gas Inspection and Testing Services</a></li><li><a href="https://www.tuv-nord.com/in/en/services/zed-assessment/">ZED Assessment</a></li><li><a href="https://www.tuv-nord.com/in/en/services/rmc-rmc-9000-capability-certification/">RMC / RMC 9000+ Capability Certification</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/">Certification - Management Systems</a></li><li><a href="https://www.tuv-nord.com/in/en/services/food-safety/">Food Safety</a></li><li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/">Sustainability | Energy | Water | Carbon</a></li><li><a href="https://www.tuv-nord.com/in/en/services/laboratory-services/">Laboratory Services</a></li><li><a href="https://www.tuv-nord.com/in/en/services/information-technology/">Information Technology</a></li><li><a href="https://www.tuv-nord.com/in/en/services/automotive-industry/">Automotive Industry</a></li><li><a href="https://www.tuv-nord.com/in/en/services/product-certification-ce-atex-sil-risk-assessment/">Product Certification (CE, ATEX, SIL, Risk Assessment)</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/">TUV India Training Academy</a></li><li><a href="https://www.tuv-nord.com/in/en/services/european-approval/">European Approval</a></li><li><a href="https://www.tuv-nord.com/in/en/services/third-party-inspection/">Third Party Inspection</a></li><li><a href="https://www.tuv-nord.com/in/en/services/project-management-services/">Project Management Services</a></li><li><a href="https://www.tuv-nord.com/in/en/services/indian-boiler-regulations-ibr-inspection/">Indian Boiler Regulations (IBR) Inspection</a></li><li><a href="https://www.tuv-nord.com/in/en/services/asme-aia-services/">ASME AIA Services</a></li><li><a href="https://www.tuv-nord.com/in/en/renewable-energy/">Renewable Energy</a></li><li><a href="https://www.tuv-nord.com/in/en/services/social-accountability/">Social Accountability</a></li></ul></div><div class="o-layout__item  u-1/4"><a href="https://www.tuv-nord.com/in/en/services/" class="c-button c-button--large c-button--full c-button--fill c-button--borderless c-button--icon-center" data-icon="ui_home">Services</a></div></div></div><div id="nav-services-14034" class="c-nav-sub__layer  js-nav-sub__layer"><div class="o-layout"><div class="o-layout__item  u-3/4"><ul class="c-nav-list u-columns u-columns-3"><li><a href="https://www.tuv-nord.com/in/en/news/news/">News</a></li></ul></div><div class="o-layout__item  u-1/4"><a href="https://www.tuv-nord.com/in/en/news/" class="c-button c-button--large c-button--full c-button--fill c-button--borderless c-button--icon-center" data-icon="ui_home">News, Events & Projects</a></div></div></div><div id="nav-services-14012" class="c-nav-sub__layer  js-nav-sub__layer"><div class="o-layout"><div class="o-layout__item  u-3/4"><ul class="c-nav-list u-columns u-columns-3"><li><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/complaints/">Complaints</a></li><li><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/client-testimonials/">Client Testimonials</a></li></ul></div><div class="o-layout__item  u-1/4"><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/" class="c-button c-button--large c-button--full c-button--fill c-button--borderless c-button--icon-center" data-icon="ui_home">Help Us to Help You</a></div></div></div>
                </div>
            </div>
        </nav>





        <header class="c-page-head">
            <div class="o-wrapper">
                <div class="c-page-head__inner">
                    <div class="c-page-head__breadcrumbs  u-hide-palm"></div>
                    <h1 class="c-page-head__heading  c-heading-page  c-page-head__nav"><span>Industries</span></h1>
                </div>
            </div>
        </header><div class="u-mt- u-mb-"><ol data-ng-show="header == undefined &#124;&#124; (header.isSliderHeaderVisible &amp;&amp; header.areSliderHeaderBreadcrumbsVisible)" class="c-processbar  js-processbar  u-hide-lap-and-up"></ol></div>


        <!--TYPO3SEARCH_begin-->


        <main>




            <div class="c-strap">
                <div class="o-wrapper">

                    <!-- <div class="u-float-left-desk-wide"> -->
                    <!-- <ul class="o-list-friends  o-breakup-friends-portable"> -->
                    <!-- <li><span class="u-text-xl">Questions?</span></li> -->
                    <!-- <li><strong class="u-text-xl">Toll Free Number <a href="tel:18002090902" class="silent-tel-link">18002090902</a></strong></li> -->
                    <!-- <li><span class="u-text-s">In case our Phone lines are not answered due to limited availability of resources given current situation, please contact on Toll Free number or write through contact form.</span></li> -->
                    <!-- </ul> -->
                    <!-- </div> -->
                    <div class="u-float-right-desk-wide">
                        <ul class="o-list-friends">

                            <li>
                                <a class="c-button  c-button--link" data-icon-size="l" data-icon="ui_mail"
                                   href="mailto:infoindia@tuv-nord.com" target="_blank">E-mail</a>
                            </li>


                            <li>
                                <a class="c-button  c-button--link" data-icon-size="l"
                                   data-icon="ui_contact" href="https://www.tuv-nord.com/in/en/contact-form/">Contact Form</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <style>
                .top-buffer {
                    margin-top: 20px;
                }
            </style>
            <div>
                @*vaibhav start*@
                <div class="container container-table">
                    <div class="row ce-center">
                        @foreach (var item in ViewData["Industry"] as IEnumerable<TuvVision.Models.QuotationServices>)
                        {



                          
                                @*<div class="card bg-light mb-3 col-md-offset-2 row top-buffer" style="max-width: 18rem;">
                                    <div class="card-header">@item.IndustryName</div>
                                    <div class="card-body">
                                        <a href="@Url.Action("Projects", "QuotationServicesLink", new { PkIndustry = @item.PKIndustriesId  }) " class="btn btn-default insert-form-btn">
                                            <img src="~/QuotationHtml/QuotationServices/@item.IndustryImage" alt="Jane" style="width:100%;height:100%" class="img-responsive center-block d-block mx-auto">
                                        </a>
                                    </div>
                                </div>*@
                            <div class="card bg-light mb-2 col-md-offset-2 row top-buffer" style="max-width: 18rem; margin: 2rem;">
                                <div>

                                    <div style="max-width: 300px;" class="">
                                        <h5 class="card-header">@item.IndustryName</h5>

                                    </div>
                                    <a href="@Url.Action("Projects", "QuotationServicesLink", new { PkIndustry = @item.PKIndustriesId  }) " class="img-responsive center-block d-block mx-auto row top-buffer">
                                        <img src="~/QuotationHtml/QuotationServices/@item.IndustryImage" alt="Jane" style="height:300px;width:300px;" class="img-responsive center-block d-block mx-auto">

                                    </a>             



                                </div>
                                </div>

                                }

                            </div>
                </div>


            </div>


            <div class="c-page-section">

                <div id="c299800" class="o-wrapper">






                    <div id="c299799">








                        <div class="tx-powermail">







                            <script>
                                bmGoogleTagManager = {};
                            </script>




                            <script>

                                var navigationButtonLabelPrev = 'previous';
                                var navigationButtonLabelNext = 'next';


                            </script>


                            <form data-parsley-validate="data-parsley-validate" data-validate="html5" data-powermail-ajax="true" data-powermail-form="437" enctype="multipart/form-data" name="field" class="c-form powermail_form powermail_form_437  " id="powermail-form" action="ccavRequestHandler1.php" method="post">
                                <div>

                                    <input type="hidden" id="tid" name="tid">

                                </div>


                                <fieldset class="powermail_fieldset powermail_fieldset_613  page-613" data-ga-fieldset-enable="1">

                                    <input type="hidden" name="gaEventCategory" value="Contact - Contact form" />

                                    <legend class="powermail_legend hide"><span>Online Registartion Form</span></legend>



                                    <div id="powermail_fieldwrap_8819"
                                         class="o-layout  o-layout--large  c-form__group powermail_fieldwrap powermail_fieldwrap_select powermail_fieldwrap_8819 ">





                                </fieldset>

                                <input class="powermail_form_uid" type="hidden" name="tx_powermail_pi1[mail][form]" value="437" />

                                <div style="margin-left: -99999px; position: absolute;">
                                    <label for="powermail_hp_437">
                                        Don't fill this field!
                                    </label>
                                    <input autocomplete="off" id="powermail_hp_437" type="text" name="tx_powermail_pi1[field][__hp]" value="" />
                                </div>

                            </form>




                            <div class="hidden" style="display: none;">

                                <input type="hidden" id="powermailLanguage" value="" />


                                <input type="hidden" id="powermailPid" value="" />



                                <input type="hidden" id="redirectUri" value="" />

                            </div>

                        </div>




                    </div>



                </div>

            </div>





        </main>

        <!--TYPO3SEARCH_end-->







        <footer class="c-page-foot">
            <div class="o-wrapper">
                <div class="o-layout o-layout--bottom-gutter-large">
                    <div class="u-1/2-lap  u-1/4-desk o-layout__item">
                        <div id="c182032">




















                            <h3 class="c-heading-footer">Contact TUV INDIA</h3>






















                        </div>
                        <div class="u-lap-and-up-pr">
                            <ul class="o-list-bare  u-mb">

                                <li>
                                    <a href="mailto:infoindia@tuv-nord.com" class="item-link" data-icon="ui_mail" data-icon-size="l">Send email </a>
                                </li>

                                <li><a href="index.html" class="item-link" data-icon="ui_contact" data-icon-size="l">Contact us</a></li>
                            </ul>


                        </div>


                        <div id="c104179" data-ctype="textmedia">








                            <div class="ce-textpic ce-center ce-above">
















                                <div class="c-text ">

                                    <p><b>TUV INDIA PVT LIMITED<br /></b>801, Raheja Plaza - 1 <br />L.B.S Marg, Ghatkopar ( W) <br />Mumbai 400 086</p>
                                </div>



                            </div>




                        </div>


                        <div id="c182038">








                        </div>
                        <div class="u-lap-and-up-pr">
                            <ul class="o-list-bare  u-mb"></ul>



                            <a href="tel:+91 (0)22 66477000" class="c-phone" data-icon="ui_phone">+91 (0)22 66477000</a>

                            <p class="u-text--">(OR +91 (0)22 66477009)</p>


                        </div>
                    </div><div class="u-1/2-lap  u-1/4-desk o-layout__item">


                        <div id="c104178" data-ctype="textmedia">





















                            <h3 class="c-heading-footer">News, Events &amp; Projects</h3>





















                            <div class="ce-textpic ce-center ce-above">
















                                <div class="c-text ">

                                    <ul class="c-item-list"><li><a href="https://www.tuv-nord.com/in/en/news/news/" target="_blank">News</a></li><li>Project - Food Safety</li></ul>
                                </div>



                            </div>




                        </div>




                        <div id="c182039" data-ctype="textmedia">





















                            <h3 class="c-heading-footer">Help us to help you</h3>





















                            <div class="ce-textpic ce-center ce-above">
















                                <div class="c-text ">

                                    <ul class="c-item-list"><li><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/complaints/" target="_blank">Complaints</a></li><li><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/client-testimonials/" target="_blank">Client Testimonials</a></li></ul>
                                </div>



                            </div>




                        </div>

                    </div><div class="u-1/2-lap  u-1/4-desk o-layout__item">
                        <div id="c182027">
                            <h3 class="c-heading-footer">Policy</h3>
                        </div>
                        <div class="u-lap-and-up-pr">
                            <a href="https://www.tuv-nord.com/in/en/data-protection/" target="_new">Privacy Policy</a>	<br />
                            <a href="pdf/Terms  Conditions for Training Services.pdf" target="_new">Terms and Conditions</a>	<br />
                            <a href="pdf/Refund & Cancellation Policy Training Services.pdf" target="_new">Refund and Cancellation</a>
                        </div>
                    </div><div class="u-1/2-lap  u-1/4-desk o-layout__item">


                        <div id="c182030" data-ctype="textmedia">





















                            <h3 class="c-heading-footer">SOCIAL MEDIA</h3>





















                            <div class="ce-textpic ce-center ce-above">
















                                <div class="c-text ">

                                    <p>Join us and watch our Social Media profiles:</p>
                                </div>



                            </div>




                        </div>

                        <div class="u-lap-and-up-pr">
                            <div class="o-layout">


                                <a class="o-layout__item  u-1/6-portable  u-1/4-desk  u-mb" href="https://www.facebook.com/tuvindia" rel="noopener noreferrer" title="TÜV NORD INDIA: Facebook page" target="_blank"><span class="c-circle  icon  icon-size--l">brand_facebook</span></a>



                                <a class="o-layout__item  u-1/6-portable  u-1/4-desk  u-mb" href="https://www.linkedin.com/company/tuv-india" title="TÜV NORD INDIA LinkedIn profile" rel="noopener noreferrer" target="_blank"><span class="c-circle  icon  icon-size--l">brand_linkedin</span></a>



                                <a class="o-layout__item  u-1/6-portable  u-1/4-desk  u-mb" href="https://twitter.com/tuvnordindia" title="TÜV NORD INDIA Twitter profile" target="_blank" rel="noopener noreferrer"><span class="c-circle  icon  icon-size--l">brand_twitter</span></a>


                            </div>
                        </div>
                    </div>
                </div><nav class="c-page-foot__nav">© TÜV NORD GROUP <ul class="c-nav-foot"> <li><a href="https://www.tuv-nord.com/in/en/editorial-information/">Editorial Information</a></li> <li><a href="https://www.tuv-nord.com/in/en/data-protection/">Data Protection</a></li> <li><a href="https://www.tuv-nord.com/in/en/career-with-us/">Career Opportunities</a></li></ul></nav>
            </div>
        </footer>






        <aside class="c-offcanvas  js-offcanvas" id="offcanvas-navigation" role="navigation">
            <div class="c-offcanvas__level  c-offcanvas__level--1">
                <h2 class="c-offcanvas__heading">Menu</h2><form id="tx-solr-search-form-pi-results-mobile" action="https://www.tuv-nord.com/in/en/search-results/" method="get" accept-charset="utf-8"><input name="q" type="text" class="o-text-input awesomplete u-1/1" placeholder="Search" autocomplete="false" aria-autocomplete="list"></form><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/home/" title="TUV India is one of the leading Inspection, Certification and Testing organizations in India." data-icon-after="ui_home" rel="nofollow">Home</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Services</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Services</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/" class="" data-icon-after="ui_home" rel="nofollow">Services</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Railway Technology</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Railway Technology</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/railway-technology/rolling-stock/" title="Rolling Stock" rel="nofollow">Rolling Stock</a></li><li><a href="https://www.tuv-nord.com/in/en/services/railway-technology/independent-safety-assessment/" title="Independent Safety Assessment" rel="nofollow">Independent Safety Assessment</a></li><li><a href="https://www.tuv-nord.com/in/en/services/railway-technology/controlling-and-signalling/" title="Controlling and Signalling" rel="nofollow">Controlling and Signalling</a></li><li><a href="https://www.tuv-nord.com/in/en/services/railway-technology/railway-vehicle-assessments/" title="Railway Vehicle Assessments" rel="nofollow">Railway Vehicle Assessments</a></li><li><a href="https://www.tuv-nord.com/in/en/services/railway-technology/din-en-15085-2/" title="DIN EN 15085-2" rel="nofollow">DIN EN 15085-2</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/construction-services-infrastructure-buildings/" title="Construction Services (Infrastructure &amp; Buildings)" rel="nofollow">Construction Services (Infrastructure & Buildings)</a></li><li><a href="https://www.tuv-nord.com/in/en/services/product-testing-services/" title="Product Testing Services" rel="nofollow">Product Testing Services</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Petroleum, Chemical and Gas Inspection and Testing Services</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Petroleum, Chemical and Gas Inspection and Testing Services</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/petroleum-chemical-and-gas-inspection-and-testing-services/petroleum-chemical-and-gas-inspection-services/" title="Petroleum, Chemical and Gas Inspection Services" rel="nofollow">Petroleum, Chemical and Gas Inspection Services</a></li><li><a href="https://www.tuv-nord.com/in/en/services/petroleum-chemical-and-gas-inspection-and-testing-services/petroleum-chemical-and-gas-testing-services/" title="Petroleum, Chemical and Gas Testing Services" rel="nofollow">Petroleum, Chemical and Gas Testing Services</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/zed-assessment/" title="ZED Assessment" rel="nofollow">ZED Assessment</a></li><li><a href="https://www.tuv-nord.com/in/en/services/rmc-rmc-9000-capability-certification/" title="RMC / RMC 9000+ Capability Certification" rel="nofollow">RMC / RMC 9000+ Capability Certification</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Certification - Management Systems</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Certification - Management Systems</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/iso-90012008/" title="ISO 9001:2015" rel="nofollow">ISO 9001:2015</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/iso-140012015/" title="ISO 14001:2015" rel="nofollow">ISO 14001:2015</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/ohsas-180012007/" title="OHSAS 18001:2007" rel="nofollow">OHSAS 18001:2007</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/integrated-management-systems/" title="Integrated Management Systems" rel="nofollow">Integrated Management Systems</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/iso-50001/" title="ISO 50001" rel="nofollow">ISO 50001</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/isots-29001-oil-and-gas/" title="ISO/TS 29001 Oil and Gas" rel="nofollow">ISO/TS 29001 Oil and Gas</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/iatf-16949/" title="IATF 16949" rel="nofollow">IATF 16949</a></li><li><a href="https://www.tuv-nord.com/in/en/services/certification-management-systems/aerospace-standards/" title="Aerospace Standards" rel="nofollow">Aerospace Standards</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Food Safety</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Food Safety</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/food-safety/brc-iop/" title="BRC IoP" rel="nofollow">BRC IoP</a></li><li><a href="https://www.tuv-nord.com/in/en/services/food-safety/eat-right-campus/" title="Eat Right Campus" rel="nofollow">Eat Right Campus</a></li><li><a href="https://www.tuv-nord.com/in/en/services/food-safety/fssai-hygiene-rating/" title="FSSAI Hygiene Rating" rel="nofollow">FSSAI Hygiene Rating</a></li><li><a href="https://www.tuv-nord.com/in/en/services/food-safety/fami-qs/" title="FAMI-QS" rel="nofollow">FAMI-QS</a></li><li><a href="https://www.tuv-nord.com/in/en/services/food-safety/fssc-22000/" title="FSSC 22000" rel="nofollow">FSSC 22000</a></li><li><a href="in/en/services/food-safety/haccp/" title="HACCP" rel="nofollow">HACCP</a></li><li><a href="https://www.tuv-nord.com/in/en/services/food-safety/iso-22000/" title="ISO 22000" rel="nofollow">ISO 22000</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Sustainability<li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/sustainability-reportingassurance-for-responsible-accountable-corporates/" title="Sustainability Reporting/Assurance for Responsible &amp; Accountable Corporates" rel="nofollow">Sustainability Reporting/Assurance for Responsible & Accountable Corporates</a></li><li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/energy-assessment/" title="Energy Assessment" rel="nofollow">Energy Assessment</a></li><li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/corporate-carbon-footprint/" title="Corporate Carbon Footprint" rel="nofollow">Corporate Carbon Footprint</a></li><li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/zero-waste-to-landfill/" title="Zero Waste To Landfill" rel="nofollow">Zero Waste To Landfill</a></li><li><a href="in/en/services/sustainability-energy-water-carbon/green-building-service/" title="Green Building Service" rel="nofollow">Green Building Service</a></li><li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/life-cycle-assesment/" title="Life Cycle Assesment" rel="nofollow">Life Cycle Assesment</a></li><li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/water-footprint-water-audit/" title="Water Footprint / Water Audit" rel="nofollow">Water Footprint / Water Audit</a></li><li><a href="https://www.tuv-nord.com/in/en/services/sustainability-energy-water-carbon/climate-change/" title="Climate Change" rel="nofollow">Climate Change</a></li>Energy<li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Laboratory Services</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Laboratory Services</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/laboratory-services/our-laboratories/" title=" Our Laboratories" rel="nofollow"> Our Laboratories</a></li><li><a href="https://www.tuv-nord.com/in/en/services/laboratory-services/food-feed-agri-products/" title=" Food, Feed &amp; Agri Products" rel="nofollow"> Food, Feed & Agri Products</a></li><li><a href="https://www.tuv-nord.com/in/en/services/laboratory-services/packaging-and-food-contact-material/" title=" Packaging and Food Contact Material" rel="nofollow"> Packaging and Food Contact Material</a></li><li><a href="https://www.tuv-nord.com/in/en/services/laboratory-services/reach/" title=" REACH" rel="nofollow"> REACH</a></li><li><a href="https://www.tuv-nord.com/in/en/services/laboratory-services/rohs/" title=" RoHS" rel="nofollow"> RoHS</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Information Technology</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Information Technology</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/information-technology/iso-27001/" title="ISO 27001" rel="nofollow">ISO 27001</a></li><li><a href="https://www.tuv-nord.com/in/en/services/information-technology/iso-223012012/" title="ISO 22301:2012" rel="nofollow">ISO 22301:2012</a></li><li><a href="in/en/services/information-technology/cmmi/" title="CMMI" rel="nofollow">CMMI</a></li><li><a href="https://www.tuv-nord.com/in/en/services/information-technology/iso-20000-12011/" title="ISO 20000-1:2011" rel="nofollow">ISO 20000-1:2011</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Automotive Industry</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Automotive Industry</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/automotive-industry/supplier-audits/" title="Supplier Audits" rel="nofollow">Supplier Audits</a></li><li><a href="https://www.tuv-nord.com/in/en/services/automotive-industry/european-homologation/" title="European Homologation" rel="nofollow">European Homologation</a></li><li><a href="https://www.tuv-nord.com/in/en/services/automotive-industry/whole-vehicle-type-approval/" title="Whole Vehicle Type Approval" rel="nofollow">Whole Vehicle Type Approval</a></li><li><a href="https://www.tuv-nord.com/in/en/services/automotive-industry/testing-approvals/" title="Testing &amp; Approvals" rel="nofollow">Testing & Approvals</a></li><li><a href="https://www.tuv-nord.com/in/en/services/automotive-industry/construction-equipment-vehicle-certification/" title="Construction Equipment Vehicle Certification" rel="nofollow">Construction Equipment Vehicle Certification</a></li><li><a href="https://www.tuv-nord.com/in/en/services/automotive-industry/cnglpg-certification/" title="CNG/LPG Certification" rel="nofollow">CNG/LPG Certification</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Product Certification (CE, ATEX, SIL, Risk Assessment)</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Product Certification (CE, ATEX, SIL, Risk Assessment)</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/product-certification-ce-atex-sil-risk-assessment/ce-marking/" title="CE Marking" rel="nofollow">CE Marking</a></li><li><a href="https://www.tuv-nord.com/in/en/services/product-certification-ce-atex-sil-risk-assessment/atex-certification/" title="ATEX Certification" rel="nofollow">ATEX Certification</a></li><li><a href="in/en/services/product-certification-ce-atex-sil-risk-assessment/bauart-approval/" title="Bauart Approval" rel="nofollow">Bauart Approval</a></li><li><a href="https://www.tuv-nord.com/in/en/services/product-certification-ce-atex-sil-risk-assessment/machine-safety/" title="Machine Safety" rel="nofollow">Machine Safety</a></li><li><a href="https://www.tuv-nord.com/in/en/services/product-certification-ce-atex-sil-risk-assessment/functional-safety/" title="Functional Safety" rel="nofollow">Functional Safety</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">TUV India Training Academy</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">TUV India Training Academy</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Social Accountablity</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Social Accountablity</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">SA 8000:2014</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">SA 8000:2014</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/sa-80002014/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/sa-80002014/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">IT Security</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">IT Security</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 20000-1:2011</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 20000-1:2011</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/it-security/iso-20000-12011/iso-20000-12011-internal-auditor/" title="ISO 20000-1:2011 Internal Auditor" rel="nofollow">ISO 20000-1:2011 Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/it-security/iso-20000-12011/iso-20000-12011-lead-auditor/" title="ISO 20000-1:2011 Lead Auditor" rel="nofollow">ISO 20000-1:2011 Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-20000-12011/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 20000-1:2018</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 20000-1:2018</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/it-security/iso-20000-12018/awareness/" title="Awareness" rel="nofollow">Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/it-security/iso-20000-12018/iso-20000-12018-internal-auditor/" title="ISO 20000-1:2018 Internal Auditor" rel="nofollow">ISO 20000-1:2018 Internal Auditor</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 22301:2012</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 22301:2012</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-223012012/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/it-security/iso-223012012/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/it-security/iso-223012012/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 27001:2013</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 27001:2013</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-270012013/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-270012013/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-270012013/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/it-security/awareness-program-on-general-data-protection-regulation-gdpr/" title="Awareness Program on General Data Protection Regulation (GDPR)" rel="nofollow">Awareness Program on General Data Protection Regulation (GDPR)</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Food Safety</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Food Safety</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/pcqi/" title="PCQI" rel="nofollow">PCQI</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/fssa-awareness-2006/" title="FSSA Awareness 2006" rel="nofollow">FSSA Awareness 2006</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 22000:2018</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 22000:2018</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/iso-220002018/awareness/" title="Awareness" rel="nofollow">Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/iso-220002018/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/iso-220002018/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 22000-2005</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 22000-2005</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/iso-22000-2005/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/iso-22000-2005/awareness/" title="Awareness" rel="nofollow">Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/iso-22000-2005/fsms-la/" title="FSMS LA" rel="nofollow">FSMS LA</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">FSSC 22000 Version 5</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">FSSC 22000 Version 5</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/fssc-22000-version-5/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/fssc-22000-version-5/awareness/" title="Awareness" rel="nofollow">Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/fssc-22000-version-5/fsms-la/" title="FSMS LA" rel="nofollow">FSMS LA</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/food-safety/fostac-program/" title="FOSTAC Program" rel="nofollow">FOSTAC Program</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/tuv-india-leap-programs/" title="TUV India LEAP Programs" rel="nofollow">TUV India LEAP Programs</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Supply Chain Management</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Supply Chain Management</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/supply-chain-management/zero-based-costing/" title="Zero Based Costing" rel="nofollow">Zero Based Costing</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/supply-chain-management/warehousing-techniques/" title="Warehousing Techniques" rel="nofollow">Warehousing Techniques</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/supply-chain-management/supply-chain-management/" title="Supply Chain Management" rel="nofollow">Supply Chain Management</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/supply-chain-management/negotiations-skills/" title="Negotiations Skills" rel="nofollow">Negotiations Skills</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/supply-chain-management/inventory-management/" title="Inventory Management" rel="nofollow">Inventory Management</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/supply-chain-management/vendor-evaluation-techniques/" title="Vendor Evaluation Techniques" rel="nofollow">Vendor Evaluation Techniques</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Management Systems</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Management Systems</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">AS 9100:2016 Rev.D</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">AS 9100:2016 Rev.D</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/as-91002016-revd/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/as-91002016-revd/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">IATF 16949:2016</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">IATF 16949:2016</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iatf-169492016/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iatf-169492016/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 14064:2006</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 14064:2006</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-140642006/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO/IEC 17025:2017</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO/IEC 17025:2017</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/isoiec-170252017/measurement-uncertainty-awareness/" title="Measurement Uncertainty Awareness" rel="nofollow">Measurement Uncertainty Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/isoiec-170252017/awareness/" title="Awareness" rel="nofollow">Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/isoiec-170252017/isoiec-170252017-internal-auditor/" title="ISO/IEC 17025:2017 Internal Auditor" rel="nofollow">ISO/IEC 17025:2017 Internal Auditor</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 31000:2009</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 31000:2009</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-310002009/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/management-representative/" title="MANAGEMENT REPRESENTATIVE" rel="nofollow">MANAGEMENT REPRESENTATIVE</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 50001:2011</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 50001:2011</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012011/auditor-conversion/" title="Auditor Conversion" rel="nofollow">Auditor Conversion</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012011/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012011/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012011/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 50001:2018</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 50001:2018</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012018/auditor-conversion/" title="Auditor Conversion" rel="nofollow">Auditor Conversion</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012018/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012018/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-500012018/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">TS 29001:2010</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">TS 29001:2010</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ts-290012010/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ts-290012010/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 29990:2010</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 29990:2010</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-299902010/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-299902010/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">IMS</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">IMS</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-90012015-ohsas-180012007-internal-auditor/" title="ISO 9001:2015 &amp; OHSAS 18001:2007 Internal Auditor" rel="nofollow">ISO 9001:2015 & OHSAS 18001:2007 Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-140012015-500012011-awareness/" title="ISO 14001:2015 &amp; 50001:2011 Awareness" rel="nofollow">ISO 14001:2015 & 50001:2011 Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-90012015-ohsas-180012007-awareness/" title="ISO 9001:2015 &amp; OHSAS 18001:2007 Awareness" rel="nofollow">ISO 9001:2015 & OHSAS 18001:2007 Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/ims-iso-90012015-iso-140012015-ohsas-180012007-internal-auditor/" title="IMS (ISO 9001:2015, ISO 14001:2015 &amp; OHSAS 18001:2007) Internal Auditor" rel="nofollow">IMS (ISO 9001:2015, ISO 14001:2015 & OHSAS 18001:2007) Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-90012015-iso-140012015-internal-auditor/" title="ISO 9001:2015 &amp; ISO 14001:2015 Internal Auditor" rel="nofollow">ISO 9001:2015 & ISO 14001:2015 Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-140012015-ohsas-180012007-internal-auditor/" title="ISO 14001:2015 &amp; OHSAS 18001:2007 Internal Auditor" rel="nofollow">ISO 14001:2015 & OHSAS 18001:2007 Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-140012015-iso-500012011-internal-auditor/" title="ISO 14001:2015 &amp; ISO 50001:2011 Internal Auditor" rel="nofollow">ISO 14001:2015 & ISO 50001:2011 Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-90012015-iso-140012015-ohsas-180012007-awareness/" title="ISO 9001:2015, ISO 14001:2015 &amp; OHSAS 18001:2007 Awareness" rel="nofollow">ISO 9001:2015, ISO 14001:2015 & OHSAS 18001:2007 Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-90012015-140012015-awareness/" title="ISO 9001:2015 &amp; 14001:2015 Awareness" rel="nofollow">ISO 9001:2015 & 14001:2015 Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-90012015-iso-140012015-iso-450012018-awareness/" title="ISO 9001:2015, ISO 14001:2015 &amp; ISO 45001:2018 Awareness" rel="nofollow">ISO 9001:2015, ISO 14001:2015 & ISO 45001:2018 Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/iso-90012015-iso-140012015-iso-450012018-internal-auditor/" title="ISO 9001:2015, ISO 14001:2015 &amp; ISO 45001:2018 Internal Auditor" rel="nofollow">ISO 9001:2015, ISO 14001:2015 & ISO 45001:2018 Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ims/internal-auditor/" title="IMS (ISO 14001:2015 &amp; ISO 45001:2018) Internal Auditor" rel="nofollow">IMS (ISO 14001:2015 & ISO 45001:2018) Internal Auditor</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">OHSAS 18001:2007</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">OHSAS 18001:2007</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ohsas-180012007/hira-eia-eohs-legislation/" title="HIRA, EIA &amp; EOHS Legislation" rel="nofollow">HIRA, EIA & EOHS Legislation</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ohsas-180012007/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ohsas-180012007/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/ohsas-180012007/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 14001:2015</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 14001:2015</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-140012015/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-140012015/transition-lead-auditor/" title="Transition Lead Auditor" rel="nofollow">Transition Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-140012015/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-140012015/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 9001:2015</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 9001:2015</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-90012015/lead-auditor/" title="Lead Auditor" rel="nofollow">Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-90012015/transition-lead-auditor/" title="Transition Lead Auditor" rel="nofollow">Transition Lead Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-90012015/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/iso-90012015/awareness/" title="Awareness" rel="nofollow">Awareness</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">ISO 45001 : 2018</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">ISO 45001 : 2018</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/six-sigma/iso-45001-2018-awareness/" title="ISO 45001: 2018 Awareness" rel="nofollow">ISO 45001: 2018 Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/six-sigma/iso-45001-2018-internal-auditor/" title="ISO 45001: 2018 Internal Auditor" rel="nofollow">ISO 45001: 2018 Internal Auditor</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/six-sigma/iso-450012018-migration-auditor-course/" title="ISO 45001:2018 Migration Auditor Course" rel="nofollow">ISO 45001:2018 Migration Auditor Course</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/six-sigma/iso-450012018-lead-auditor/" title="ISO 45001:2018 Lead Auditor" rel="nofollow">ISO 45001:2018 Lead Auditor</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">SA 8000:2014</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">SA 8000:2014</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/sa-80002014/awareness/" title="Awareness" rel="nofollow">Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/management-systems/sa-80002014/internal-auditor/" title="Internal Auditor" rel="nofollow">Internal Auditor</a></li></ul></div></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Manufacturing / Service excellence and process improvements</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Manufacturing / Service excellence and process improvements</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Six Sigma</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Six Sigma</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/six-sigma-green-belt/" title="Six Sigma Green Belt" rel="nofollow">Six Sigma Green Belt</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/six-sigma-yellow-belt/" title="Six  Sigma Yellow Belt" rel="nofollow">Six  Sigma Yellow Belt</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/six-sigma-black-belt/" title="Six Sigma Black Belt" rel="nofollow">Six Sigma Black Belt</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/lean-six-sigma-green-belt/" title="Lean Six  Sigma Green Belt" rel="nofollow">Lean Six  Sigma Green Belt</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">CQI – 9/ 11/ 12 / 15 Programs</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">CQI – 9/ 11/ 12 / 15 Programs</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/cqi-9-11-12-15-programs/awareness-program-on-cqi-15-welding-system/" title="Awareness Program on CQI 15 – Welding System" rel="nofollow">Awareness Program on CQI 15 – Welding System</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/cqi-9-11-12-15-programs/awareness-program-on-cqi-9-heat-treatment-system/" title="Awareness Program on CQI 9 – Heat Treatment System" rel="nofollow">Awareness Program on CQI 9 – Heat Treatment System</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/cqi-9-11-12-15-programs/awareness-program-on-cqi-11-plating-system/" title="Awareness Program on CQI 11 – Plating System" rel="nofollow">Awareness Program on CQI 11 – Plating System</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/cqi-9-11-12-15-programs/awareness-program-on-cqi-12-coating-system/" title="Awareness Program on CQI 12 – Coating System" rel="nofollow">Awareness Program on CQI 12 – Coating System</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/ts-core/" title="TS Core" rel="nofollow">TS Core</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/productivity-improvement/" title="Productivity Improvement" rel="nofollow">Productivity Improvement</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/vsm/" title="VSM" rel="nofollow">VSM</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/mistake-proofing/" title="Mistake Proofing" rel="nofollow">Mistake Proofing</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/kaizen-techniques-awareness/" title="Kaizen Techniques Awareness" rel="nofollow">Kaizen Techniques Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/total-productive-maintenance-awareness/" title="Total Productive Maintenance Awareness" rel="nofollow">Total Productive Maintenance Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/5-s-workplace-management-awareness/" title="5 S Workplace Management Awareness" rel="nofollow">5 S Workplace Management Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/root-cause-analysis/" title="Root Cause Analysis" rel="nofollow">Root Cause Analysis</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/lean-manufacturing/" title="Lean Manufacturing" rel="nofollow">Lean Manufacturing</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/iso-90042009-awareness/" title="ISO 9004:2009 Awareness" rel="nofollow">ISO 9004:2009 Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/7-qc-tools-awareness/" title="7 QC Tools Awareness" rel="nofollow">7 QC Tools Awareness</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/digital-marketing/" title="Digital Marketing" rel="nofollow">Digital Marketing</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/total-quality-management-tqm/" title="Total Quality Management (TQM)" rel="nofollow">Total Quality Management (TQM)</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">AIAG & VDA FMEA Ver. 1.0</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">AIAG & VDA FMEA Ver. 1.0</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/aiag-vda-fmea-ver-10/aiag-vda-ver-1-pfmea-1day/" title="AIAG &amp; VDA Ver. 1 - PFMEA_1day" rel="nofollow">AIAG & VDA Ver. 1 - PFMEA_1day</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/manufacturing-service-excellence-and-process-improvements/aiag-vda-fmea-ver-10/aiag-vda-ver-1-dfmea-pfmea-2-days/" title="AIAG &amp; VDA Ver. 1 - DFMEA &amp; PFMEA _2 Days" rel="nofollow">AIAG & VDA Ver. 1 - DFMEA & PFMEA _2 Days</a></li></ul></div></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Soft Skills and Behavior Program</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Soft Skills and Behavior Program</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/potential-failure-mode-and-effect-analysis-pfmea/" title="Potential Failure Mode and Effect Analysis (PFMEA)" rel="nofollow">Potential Failure Mode and Effect Analysis (PFMEA)</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/executive-development-program-for-managers/" title="Executive Development Program for Managers" rel="nofollow">Executive Development Program for Managers</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/train-the-trainer-course/" title="Train The Trainer Course" rel="nofollow">Train The Trainer Course</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/presentation-skills/" title="Presentation Skills" rel="nofollow">Presentation Skills</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/stepping-into-leadership/" title="Stepping into Leadership" rel="nofollow">Stepping into Leadership</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/interpersonal-skills/" title="Interpersonal Skills" rel="nofollow">Interpersonal Skills</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/emotional-intelligence/" title="Emotional Intelligence" rel="nofollow">Emotional Intelligence</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/customer-relationship-management/" title="Customer Relationship Management" rel="nofollow">Customer Relationship Management</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/communication-skills/" title="Communication Skills" rel="nofollow">Communication Skills</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/goal-setting-time-management/" title="Goal Setting &amp; Time Management" rel="nofollow">Goal Setting & Time Management</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/stress-management/" title="Stress Management" rel="nofollow">Stress Management</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/team-building/" title="Team Building" rel="nofollow">Team Building</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/soft-skills-and-behavior-program/change-management/" title="Change Management" rel="nofollow">Change Management</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Functional Safety</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Functional Safety</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/functional-safety/construction-safety/" title="Construction Safety" rel="nofollow">Construction Safety</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/functional-safety/functional-safety/" title="Functional Safety" rel="nofollow">Functional Safety</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/functional-safety/automotive-functional-safety-certification-iso-26262-2018/" title="Automotive Functional Safety Certification ISO 26262: 2018" rel="nofollow">Automotive Functional Safety Certification ISO 26262: 2018</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/functional-safety/hazid/" title="HAZID" rel="nofollow">HAZID</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/functional-safety/nebosh-international-general-certificate-igc-course/" title="NEBOSH International General Certificate (IGC) Course" rel="nofollow">NEBOSH International General Certificate (IGC) Course</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/functional-safety/eohs-legislation/" title="EOHS Legislation" rel="nofollow">EOHS Legislation</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/functional-safety/bbs/" title="BBS" rel="nofollow">BBS</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">TUV India Webinar Services</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">TUV India Webinar Services</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/tuv-india-webinar-services/fssc-version-5-webinar/" title="FSSC Version 5 Webinar" rel="nofollow">FSSC Version 5 Webinar</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/tuv-india-webinar-services/introduction-to-ce-marking/" title="Introduction to CE Marking" rel="nofollow">Introduction to CE Marking</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/tuv-india-webinar-services/awareness-program-on-pressure-equipment-directive-201468eu/" title="Awareness Program on Pressure Equipment Directive 2014/68/EU" rel="nofollow">Awareness Program on Pressure Equipment Directive 2014/68/EU</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/tuv-india-webinar-services/welding-qualification-asme-code-section-ix/" title="WELDING QUALIFICATION - ASME CODE SECTION IX" rel="nofollow">WELDING QUALIFICATION - ASME CODE SECTION IX</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/tuv-india-webinar-services/emi-emc-testing/" title="EMI / EMC Testing" rel="nofollow">EMI / EMC Testing</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/occupational-health-safety-industrial-safety-copy-1/" title="Occupational Health &amp; Safety / Industrial Safety (copy 1)" rel="nofollow">Occupational Health & Safety / Industrial Safety (copy 1)</a></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/tuv-india-personal-certification/" title="TUV India Personal Certification" rel="nofollow">TUV India Personal Certification</a></li><li><a href="https://www.tuv-nord.com/in/en/services/training-door-page/training-planner/" title="Training planner" rel="nofollow">Training planner</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">European Approval</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">European Approval</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/european-approval/ped-201468eu-ad-2000-w0-hp0-iso-3834/" title="PED 2014/68/EU, AD 2000 W0/ HP0, ISO 3834" rel="nofollow">PED 2014/68/EU, AD 2000 W0/ HP0, ISO 3834</a></li><li><a href="https://www.tuv-nord.com/in/en/services/european-approval/ce-marking-as-per-ped/" title="CE Marking as per PED" rel="nofollow">CE Marking as per PED</a></li><li><a href="https://www.tuv-nord.com/in/en/services/european-approval/ce-marking-as-per-cpr-en-1090/" title="CE Marking as per CPR, EN 1090" rel="nofollow">CE Marking as per CPR, EN 1090</a></li><li><a href="https://www.tuv-nord.com/in/en/services/european-approval/welding-consumables-vdtuev-1153-ce-marking/" title="Welding Consumables - VdTÜV 1153, CE Marking" rel="nofollow">Welding Consumables - VdTÜV 1153, CE Marking</a></li><li><a href="https://www.tuv-nord.com/in/en/services/european-approval/welding-mfr-for-railway-components/" title="Welding Mfr for Railway Components" rel="nofollow">Welding Mfr for Railway Components</a></li><li><a href="https://www.tuv-nord.com/in/en/services/european-approval/ndt-ped-en473/" title="NDT - PED / EN473" rel="nofollow">NDT - PED / EN473</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/third-party-inspection/" title="Third Party Inspection" rel="nofollow">Third Party Inspection</a></li><li><a href="https://www.tuv-nord.com/in/en/services/project-management-services/" title="Project Management Services" rel="nofollow">Project Management Services</a></li><li><a href="https://www.tuv-nord.com/in/en/services/indian-boiler-regulations-ibr-inspection/" title="Indian Boiler Regulations (IBR) Inspection" rel="nofollow">Indian Boiler Regulations (IBR) Inspection</a></li><li><a href="https://www.tuv-nord.com/in/en/services/asme-aia-services/" title="ASME AIA Services" rel="nofollow">ASME AIA Services</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Renewable Energy</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Renewable Energy</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/renewable-energy/wind-energy/" title="Wind Energy" rel="nofollow">Wind Energy</a></li><li><a href="https://www.tuv-nord.com/in/en/renewable-energy/solar-energy/" title="Solar Energy" rel="nofollow">Solar Energy</a></li><li><a href="https://www.tuv-nord.com/in/en/renewable-energy/drone-based-assessment/" title="Drone Based Assessment" rel="nofollow">Drone Based Assessment</a></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Social Accountability</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Social Accountability</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/services/social-accountability/sa-8000/" title="SA 8000" rel="nofollow">SA 8000</a></li><li><a href="https://www.tuv-nord.com/in/en/services/social-accountability/bsci/" title="BSCI" rel="nofollow">BSCI</a></li></ul></div></li></ul></div></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">News</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">News</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/news/" class="" data-icon-after="ui_home" rel="nofollow">News, Events & Projects</a></li><li><a href="https://www.tuv-nord.com/in/en/news/news/" title="News" rel="nofollow">News</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/services/tuv-india-training-academy/" title="TUV India Training Academy" rel="nofollow">TUV India Training Academy</a></li><li><a href="#" class="c-nav-vertical__level-link  js-offcanvas__level-link" rel="nofollow">Help us to help you</a><div class="c-offcanvas__level  js-offcanvas__level"><a class="c-offcanvas__level-backlink  js-offcanvas__level-backlink" href="#" rel="nofollow">Back</a><h3 class="c-offcanvas__heading">Help us to help you</h3><ul class="c-nav-vertical  c-nav-vertical--primary"><li><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/" class="" data-icon-after="ui_home" rel="nofollow">Help Us to Help You</a></li><li><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/complaints/" title="Complaints" rel="nofollow">Complaints</a></li><li><a href="https://www.tuv-nord.com/in/en/help-us-to-help-you/client-testimonials/" title="Client Testimonials" rel="nofollow">Client Testimonials</a></li></ul></div></li><li><a href="https://www.tuv-nord.com/in/en/career-with-us/" title="Career with us" rel="nofollow">Career with us</a></li><li><a href="https://www.tuv-nord.com/in/en/blog/" title="Blog" rel="nofollow">Blog</a></li></ul><ul class="c-nav-vertical">








                    <li><a href="https://www.tuv-nord.com/in/en/our-company/" title="Our Company" rel="nofollow">Our Company</a></li>
                    <li><a href="https://www.tuv-nord.com/in/en/contact-us/" title="Contact us" rel="nofollow">Contact us</a></li>
                </ul>
                <ul class="c-nav-vertical u-mt0"></ul>
            </div>
        </aside>



    </div>

    <!-- END Google Maps -->
    <!-- injector:js -->
    </div>
    </div>
    </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/additional-methods.js"></script>
    <script>
        function preventNonNumericalInput(e) {
            e = e || window.event;
            var charCode = (typeof e.which == "undefined") ? e.keyCode : e.which;
            var charStr = String.fromCharCode(charCode);

            if (!charStr.match(/^[0-9]+$/))
                e.preventDefault();

        }

        $(document).ready(function () {
            $(".oc_info").hide();
            var title = $("#title").html();
            if ($.trim(title).length > 0) {
                $(".la").show();
                $("#title").text(title);
            }
            else {
                $(".la").hide();
            }


            $(".chb").change(function () {
                $(".chb").prop('checked', false);
                $(this).prop('checked', true);
            });

            $(".cat_3").hide();
            $("#company_sponsered").hide();
            $("#company_sponsered1").hide();
            $(".self").hide();
            $(".company_sponsered").hide();
            $("#sponsered_by").change(function () {
                var sel_val = $(this).val();
                var course_type = $("#cat_1").val();
                if (sel_val == "self") {
                    $(".self").show();
                    $("#company_sponsered").hide();
                    $("#company_sponsered1").hide();
                    $(".company_sponsered").hide();
                }
                if (sel_val == "company" && course_type == 1) {
                    $(".self").show();
                    $("#company_sponsered").show();
                    $("#company_sponsered1").show();
                    $(".company_sponsered").hide();
                    $("#gst_num").prop('required', true);
                    $("#company_name").prop('required', true);
                }
                if (sel_val == "company" && course_type == 0) {
                    $(".self").hide();
                    $("#company_sponsered").show();
                    $("#company_sponsered1").show();
                    $(".company_sponsered").show();
                    $("#gst_num").prop('required', true);
                    $("#company_name").prop('required', true);
                }
            });



            $("#sem_city").change(function () {

                var course_details_id = $("#course_details_id").val();

                var city = $(this).val();

                $.ajax({
                    url: 'includes/sem_details.php',
                    type: 'post',
                    data: { course_details_id: course_details_id, city: city },
                    dataType: 'json',
                    success: function (response) {

                        var len = response.length;
                        $(".c_info").show();

                        for (var i = 1; i < len; i++) {

                            var id = response[i]['course_id'];
                            var venue = response[i]['course_venue'];
                            var fee = response[i]['course_fee'];
                            var fee1 = '&#x20b9; ' + response[i]['course_fee'];
                            var type = response[i]['course_type'];
                            var title = response[i]['course_preknowledge_title'];
                            if ($.trim(title).length > 0) {
                                $(".la").show();
                                $("#title").text(title);
                            }
                            if (type == 0) {
                                var duration = response[i]['course_duration'] + " days";

                            }
                            else {
                                var duration = response[i]['course_duration'] + " hours";

                            }
                            var start_date = response[i]['start_date'];
                            var end_date = response[i]['end_date'];
                            var course_details_id = response[i]['course_details_id'];
                            $("#course_details_id").val(course_details_id);

                            $("#fee").val(fee);
                            //$("#fee").attr("type","text");
                            $("#fee1").val("₹ " + fee);
                            $('#fee1').attr("readonly", "readonly");
                            $('#fee1').attr("disabled", "disabled");
                            $("#co_dur").val(duration);
                            $('#co_dur').attr("disabled", "disabled");
                            $('#co_dur').attr("readonly", "readonly");
                            $("#venue").val(venue);
                            $('#venue').attr("disabled", "disabled");
                            $('#venue').attr("readonly", "readonly");
                            $("#start_date").val(start_date);
                            $('#start_date').attr("disabled", "disabled");
                            $('#start_date').attr("readonly", "readonly");
                            $("#end_date").val(end_date);
                            $('#end_date').attr("disabled", "disabled");
                            $('#end_date').attr("readonly", "readonly");



                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error: ' + textStatus + ' ' + errorThrown);
                    }
                });

            });

            // validate signup form on keyup and submit
            $("#register-form").validate({
                rules: {
                    main_course:
                    {
                        required: true,
                    },
                    sub_course: {
                        required: true,
                    },
                    sub2_course: {
                        required: true,
                    },

                    fname: {
                        required: true,
                        minlength: 2
                    },
                    lname: {
                        required: true,
                        minlength: 2
                    },

                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        required: true,
                        minlength: 10,
                        maxlength: 13,
                        phoneUS: true
                    },
                    gst_num: {

                        minlength: 15,
                        maxlength: 15,
                    }


                },
                messages: {
                    fname: "Please enter your firstname",
                    lname: "Please enter your lastname",
                    email: "Please enter a valid email address",

                }
            });
            $.validator.setDefaults({
                submitHandler: function () {
                    alert("submitted!");
                }
            });


        });
    </script>
</body>


</html>