@model TuvVision.Models.BDSPiechart
@using NonFactors.Mvc.Grid;
@using System.Web.Mvc;

@{
    ViewBag.Title = "BdsmPieChart";
    //Layout = "~/Views/Shared/_TuvVision.cshtml";
    Layout = "";
}


<link href="~/AllJsAndCss/css/bootstrap.min.css" rel="stylesheet">
<!-- Start Other stylesheets -->
<link href="~/AllJsAndCss/css/style.css" rel="stylesheet">
<link href="~/AllJsAndCss/css/EditStyle.css" rel="stylesheet" />
<link href="~/AllJsAndCss/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link href="~/AllJsAndCss/css/aos.css" rel="stylesheet">


<script src="~/AllJsAndCss/js/bootstrap.min.js"></script>

<style>
    body {
        overflow-x: hidden;
    }
    .active {
        /*background-color: red;*/
        background-color: #FA3746;
    }
    
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: #7DF9FF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@*<script type="text/javascript" src="https://www.google.com/jsapi"></script>*@
<link href="~/Content/c3.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/c3.min.js"></script>
<script src="~/Scripts/d3.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
    @*<div class="main-content3 xs-max-height">*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <a href="@Url.Action("Welcome","Login")" class="logo">
                    <img src="~/AllJsAndCss/images/logoN.png" alt="" style="max-width: 210%;margin-top: -59px;">
                </a>
                <h3 class="dynamic-page-title dynamic-page-title-2  text-left" style="color: #001ED2;font-size:23px;font-weight:bold;padding-left:147px;padding-top:10px;font-family:'TNG Pro'; ">TUV India Private Limited <br />Marketing Visit Summary </h3>
            </div>

            <div class="col-lg-2" style="padding-right:20px;">
                <button type="button" class="btn" style="margin-top: 16px;margin-left: 37px;width: 150px;background-color: #001ED2;color:white;border-radius: 0;" onclick="Redirect()">Go Back</button>

            </div>
        </div>
    </div>
    <br />
  
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label for="txtfromdate"style="font-family:'TNG Pro';font-size:14px;">From Date:</label>
                <input type="date" id="txtfromdate" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="txtTodate"style="font-family:'TNG Pro';font-size:14px;">To Date:</label>
                <input type="date" id="txtTodate" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label></label><br /><br />
                <button class="btn" style="width: 150px;background-color: #001ED2;color:white;border-radius: 0;" onclick="SearchDataFromdateTodate()">Search</button>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label></label><br /><br />
                <button class="btn" onclick="reset()" style="margin-right:10px;margin-left: -173px;width: 150px;background-color: #001ED2;color:white;border-radius: 0;">Reset</button>
            </div>
        </div>
    </div>

    <div class="row container-fluid">
        <div class="col-xs-2">
            <div class="form-group">
                <h4 style="margin-left:15px;font-size:14px;">Number of Visits</h4>
                <input type="text" style="border:0;margin-left:55px;  font-size: 20px;font-family:'TNG Pro';" id="txtnoofvisits" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <h4 style="font-size:15px;font-size:14px;">On-site Visit</h4>
                <input type="text" style="border:0;margin-left:25px;font-size: 20px;font-family:'TNG Pro';" id="txtonsite" />

            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <h4 style="font-size:15px;font-size:14px;">Off-site/from office</h4>
                <input type="text" style="border:0;margin-left:55px;font-size: 20px;font-family:'TNG Pro';" id="txtoffsite" />
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <h4 style="font-size:15px;font-size:14px;">Existing Customer Visit</h4>
                <input type="text" style="border:0;margin-left:55px;font-size: 20px;font-family:'TNG Pro';" id="txtexisting" />

            </div>
        </div>
    </div>

    <div class="row">
        @*Table Data Div*@
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <table class="table table-condensed table-responsive " id="tblusers" style="border:1px;font-size:12px;">
                            <thead class="thead-dark" style="background-color:#EFEFEF;">
                                <tr class="" style="background-color:grey; ">
                                    <th scope="col" style="font-size: 14px;font-family:'TNG Pro';">BranchName</th>
                                    <th scope="col" style="font-size: 14px;font-family:'TNG Pro';"></th>
                                    <th scope="col" style="font-size: 14px;font-family:'TNG Pro';">No.of Visits</th>
                                    @*<th scope="col"style="font-weight:bold;">SR.No</th>*@
                                </tr>
                            </thead>
                            <tbody id="userbody" style="border:1px solid;font-size:13px;font-family:'TNG Pro';color: #001ED2;"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <table class="table table-condensed table-responsive " id="tblusers1" style="border:1px;font-size:12px;">
                            <thead class="thead-dark" style="background-color:#EFEFEF;">
                                <tr class="" style="background-color:grey; ">
                                    <th scope="col" style="font-size: 14px;font-family:'TNG Pro';"></th>
                                    <th scope="col" style="font-size: 14px;font-family:'TNG Pro';">EmployeeName</th>
                                    <th scope="col" style="font-size: 14px;font-family:'TNG Pro';">No.of Visits</th>
                                </tr>
                            </thead>
                            <tbody id="userbody1"style="border:1px solid;font-size:13px;font-family:'TNG Pro';color: #001ED2;"></tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*Pie Chart Div*@
        <div class="col-lg-2">
            @*First Pie Chart*@
            <div class="row">
                <div class="col-md-4">
                    <div class="col-lg-3" id="pieChart" style="width: 300px; height: 300px;margin-left:50px;">

                    </div>
                </div>
            </div>
            @*Second Pie Chart*@
            <div class="row">
                <div class="col-md-4">
                    <div class="col-lg-3" id="pieChart1" style="width:250px; height: 250px;margin-left:65px;">
                    </div>

                </div>
                </div>
                @*Third Pie Chart*@
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-lg-3" id="pieChart2" style="width:250px; height: 250px;margin-left:65px;">
                        </div>

                    </div>
                </div>
            </div>
        </div>
</body>


<script>
    $(document).ready(function () {
        //debugger;
        //BDMS_SiteWise_data();
        Bind_BranchData();
        Bind_EmployeeData();
        BindDataFromdateTodate();

        pie();
        NewExistingpie();
        DomesticInetrnationalpie();
    });
    function SearchDataFromdateTodate() {
        Bind_BranchData();
        Bind_EmployeeData();
        BindDataFromdateTodate();
        pie();
        NewExistingpie();
        DomesticInetrnationalpie();

    }



    function BindDataFromdateTodate() {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();   

        if (!fromDate || !toDate) {
            var currentDate = new Date();

            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);

            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
        $.ajax({
            url: "@Url.Action("BindSearchDataFromdateTodate","BDSMActivities")",
            type: "get",
            DataType: "json",
            contenttype: "application/json; charset=utf-8",
            data: { Fromdate: fromDate, ToDate: toDate },
            success: function (result) {
            debugger;
            var parsed = $.parseJSON(result);
            $('#txtnoofvisits').val('');
            $('#txtexisting').val('');
            $('#txtoffsite').val('');
            $('#txtonsite').val('');
            $('#txtnoofvisits').val(parsed[0].MarketingVisit);
            $('#txtexisting').val(parsed[0].Existing_Customer_Visit);
            $('#txtoffsite').val(parsed[0].Marketing_Offsite);
            $('#txtonsite').val(parsed[0].Marketing_Onsite);
        },
        error: function (result) {
            debugger;
            alert("Something Went wrong");

        }
    })
    }


    //Bind Branch and Employee Count
    function Bind_BranchData() {
        var fromDate = $("#txtfromdate").val(); 
        var toDate = $("#txtTodate").val();   

       
        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
        debugger;
        $.ajax({
            url: "@Url.Action("Branch_FilteringData_FromdateTodate","BDSMActivities")",
            type: "get",
             DataType: "json",
            contenttype: "application/json; charset=utf-8",
            data: {
                Fromdate: fromDate,
                ToDate: toDate
            },
            success: function (result) {
                debugger;
                BindBranch(result);
                //Bind_EmployeeData();
                //Bind_BranchFilterCountData();
            },

            error: function (result) {
                //debugger;
                alert("something went wrong");
            }
        });
    }

    function BindBranch(result) {
        var parsed = $.parseJSON(result);
        $("#userbody").empty();
        $.each(parsed, function (i, item) {
            var BranchId = item.BranchId;
            tr = $('<tr/>');
            tr.append("<td>" + (parseInt(i) + 1) + "</td>");
            tr.append("<td> <a href=# class='branch-link' onclick=GetEmployee_BranchWise('" + BranchId + "')>" + item.Branch_Name + "</td>");
            tr.append("<td>" + item.EmployeeCount + "</td>");
            $("#tblusers").append(tr);
        })
        $("#tblusers").DataTable();
    }

    //Bind Employee Name and Activity COunt
    function Bind_EmployeeData() {
        debugger;
        var fromDate = $("#txtfromdate").val(); 
        var toDate = $("#txtTodate").val();  

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];
            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            $.ajax({
                url: "@Url.Action("GetAllEmployee","BDSMActivities")",
                type: "get",
                dataType: "json",
                data: {
                    Fromdate: fromDate,
                    ToDate: toDate
                },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    debugger;
                    BindEmployee(result);
                },
                error: function (result) {
                    alert("something went wrong");
                }
            });
        }

        function BindEmployee(result) {
            debugger;
            var parsed = $.parseJSON(result);
            $("#userbody1").empty();
            $.each(parsed, function (i, item) {
                var PK_UserID = item.PK_UserID;
                tr = $('<tr/>');
                tr.append("<td>" + (parseInt(i) + 1) + "</td>");
                tr.append("<td> <a href=# class='C' onclick=Get_EmployeeBranch('" + PK_UserID + "')>" + item.EmployeeName + "</td>");
                tr.append("<td>" + item.ActivityTypeCount + "</td>");
                $("#userbody1").append(tr);
                $(".color").click(function () {
                    $(".color").removeClass('active');
                    $(this).toggleClass('active');
                });
                //$("#userbody1").append('<tr><td>' + (parseInt(i) + 1) + '<td> <a href="#"onclick="filterEmployeedata(' + PK_UserID + ')">' + item.EmployeeName + '</td><td>' + item.ActivityTypeCount + '</td></tr>')
            })
            $("#tblusers1").DataTable();
        }

        //branch filter record binding for no of vistis record
        function Bind_BranchFilterCountData(BranchId) {
            debugger;
            $.ajax({
                url: "@Url.Action("BranchdataFilter", "BDSMActivities")",
                type: "get",
                dataType: "json",
                data: { BranchId: BranchId },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    debugger;
                    var parsed = $.parseJSON(result);
                    $('#txtnoofvisits').val('');
                    $('#txtexisting').val('');
                    $('#txtoffsite').val('');
                    $('#txtonsite').val('');
                    $('#txtnoofvisits').val(parsed[0].MarketingVisit);
                    $('#txtexisting').val(parsed[0].Existing_Customer_Visit);
                    $('#txtoffsite').val(parsed[0].Marketing_Offsite);
                    $('#txtonsite').val(parsed[0].Marketing_Onsite);

                },

                error: function (result) {
                    //debugger;
                    alert("something went wrong");
                }
            });
        }

        //Bind Branch Wise Filter
        function GetEmployee_BranchWise(BranchId) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();


        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            debugger;
            $.ajax({
                url: "@Url.Action("GetEmployee_BranchWise", "BDSMActivities")",
                type: "get",
                dataType: "json",
                data: {
                    BranchId: BranchId, 
                        Fromdate: fromDate,
                        ToDate: toDate
                    
                },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    debugger;
                    BindEmployee(result);
                    Bind_BranchFilterCountData(BranchId);
                    Filtere_Pie_OnBranchClick(BranchId);
                    Filtere_New_ExitPie_OnBranchClick(BranchId);
                    Filtere_New_Dom_interPie_OnBranchClick(BranchId);
                },

                error: function (result) {
                    debugger;
                    alert("something went wrong");
                }
            });
    }


        function Bind_BranchFilterCountData(BranchId) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();


        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];
            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
        debugger;
            $.ajax({
            url: "@Url.Action("BranchdataFilter", "BDSMActivities")",
            type: "get",
            dataType: "json",
            data: { BranchId: BranchId , Fromdate: fromDate,
            ToDate: toDate },
            contentType: "application/json; charset=utf-8",
            success: function (result) {
            debugger;
            var parsed = $.parseJSON(result);
            $('#txtnoofvisits').val('');
            $('#txtexisting').val('');
            $('#txtoffsite').val('');
            $('#txtonsite').val('');
            $('#txtnoofvisits').val(parsed[0].MarketingVisit);
            $('#txtexisting').val(parsed[0].Existing_Customer_Visit);
            $('#txtoffsite').val(parsed[0].Marketing_Offsite);
            $('#txtonsite').val(parsed[0].Marketing_Onsite);
            

        },

        error: function (result) {
            //debugger;
            alert("something went wrong");
        }
    });
    }




        //Filter Employee With Branch
        function Get_EmployeeBranch(PK_UserID) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            debugger;
            $.ajax({
                url: "@Url.Action("GetBranch_EmployeeWise", "BDSMActivities")",
                type: "get",
                dataType: "json",
                data: {
                    PK_UserId: PK_UserID, Fromdate: fromDate,
                    ToDate: toDate
                },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    debugger;
                    BindBranch(result);
                    BDMS_Emp_FilterWisedata(PK_UserID);
                    Bind_Employee_Pie(PK_UserID);
                    FilterednewExistingpie(PK_UserID);
                    Filtere_domestic_internationalpie(PK_UserID);
                },

                error: function (result) {
                    debugger;
                    alert("something went wrong");
                }
            });
        }

    function Bind_Employee_Pie(PK_UserId) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            $.ajax({
                type: "get",
                url: "@Url.Action("Bind_Employee_Pie", "BDSMActivities")",
                data: {
                    pk_UserId: PK_UserId, Fromdate: fromDate,
                    ToDate: toDate
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {
                    debugger;
                    var numberdata = JSON.parse(result);
                    successfunc(numberdata);
                },
                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }
        function BDMS_SiteWise_data() {
            $.ajax({
                type: "get",
                url: "@Url.Action("BindTotext", "BDSMActivities")",
                data: {},
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {
                    debugger;
                    var parsed = $.parseJSON(result);
                    $('#txtnoofvisits').val(parsed[0].MarketingVisit);
                    $('#txtexisting').val(parsed[0].Existing_Customer_Visit);
                    $('#txtoffsite').val(parsed[0].Marketing_Offsite);
                    $('#txtonsite').val(parsed[0].Marketing_Onsite);

                },
                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }

    function BDMS_Emp_FilterWisedata(PK_UserID) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            $.ajax({
                type: "get",
                url: "@Url.Action("BindEmpWiseFilterData", "BDSMActivities")",
                data: {},
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                data: {
                    PK_UserID: PK_UserID, Fromdate: fromDate,
                    ToDate: toDate
                },
                success: function (result) {
                    debugger;
                    var parsed = $.parseJSON(result);
                    $('#txtnoofvisits').val('');
                    $('#txtexisting').val('');
                    $('#txtoffsite').val('');
                    $('#txtonsite').val('');
                    $('#txtnoofvisits').val(parsed[0].MarketingVisit);
                    $('#txtexisting').val(parsed[0].Existing_Customer_Visit);
                    $('#txtoffsite').val(parsed[0].Marketing_Offsite);
                    $('#txtonsite').val(parsed[0].Marketing_Onsite);

                },
                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }

    function pie() {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            $.ajax({
                type: "get",
                url: "@Url.Action("BindDataToChart2","BDSMActivities")",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                data: {
                    Fromdate: fromDate,
                    ToDate: toDate
                },
                success: function (result) {
                    //debugger;
                    var numberdata = JSON.parse(result);
                    successfunc(numberdata);
                },
                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }

        function successfunc(jsondata) {
            var data = {};
            var activity = [];
            jsondata.forEach(function (e) {
                debugger;

                activity.push(e.ActivityType);
                data[e.ActivityType] = e.ActivityCount;
            });
            var chart = c3.generate({

                bindto: '#pieChart',
                data: {
                    json: [data],
                    keys: {
                        value: activity,
                    },
                    type: 'pie'
                },

                color: {
                    pattern: ['#00EBC8', '#8CF000', '#ffEB00']
                },
                pie: {
                    label: {
                        format: function (value, ratio, id) {
                            return value;
                        }
                    }
                }
            });

        }
       


        //piechart new_exiting_Customer

    function NewExistingpie() {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            $.ajax({
                type: "get",
                url: "@Url.Action("BindDataToChartNewExisting","BDSMActivities")",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                data: {
                    Fromdate: fromDate,
                    ToDate: toDate
                },
                success: function (result) {
                    //debugger;
                    var numberdata = JSON.parse(result);
                    successfuncNewExisting(numberdata);
                },
                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }

        function successfuncNewExisting(jsondata) {
            var data = {};
            var activity = [];
            jsondata.forEach(function (e) {
                //debugger;
                activity.push(e.New_ExistingCustomer);
                data[e.New_ExistingCustomer] = e.NewExistingCount;
            });
            var chart = c3.generate({

                bindto: '#pieChart1',
                data: {
                    json: [data],
                    keys: {
                        value: activity,
                    },
                    type: 'pie'
                },
                color: {
                    pattern: ['#00EBC8', '#8CF000', '#ffEB00']
                },
                pie: {
                    label: {
                        format: function (value, ratio, id) {
                            return value;
                        }
                    }
                }
            });

        }

        //Domestic_international_piechart

        function DomesticInetrnationalpie() {
            var fromDate = $("#txtfromdate").val();
            var toDate = $("#txtTodate").val();

            if (!fromDate || !toDate) {
                var currentDate = new Date();
                var thirtyDaysAgo = new Date();
                thirtyDaysAgo.setDate(currentDate.getDate() - 30);
                fromDate = thirtyDaysAgo.toISOString().split('T')[0];
                toDate = currentDate.toISOString().split('T')[0];

                $('#txtfromdate').val(fromDate);
                $('#txtTodate').val(toDate);
            }
            $.ajax({
                type: "get",
                url: "@Url.Action("BindDataToChartDomInter", "BDSMActivities")",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                data: {
                    Fromdate: fromDate,
                    ToDate: toDate
                },
                success: function (result) {
                    //debugger;
                    var numberdata = JSON.parse(result);
                    successfuncDomInter(numberdata);
                },

                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }

        function successfuncDomInter(jsondata) {
            var data = {};
            var activity = [];
            jsondata.forEach(function (e) {
                activity.push(e.Dom_Inter_Visit);
                data[e.Dom_Inter_Visit] = e.Dom_Inter_Count;
            });
            var chart = c3.generate({
                bindto: '#pieChart2',
                data: {
                    json: [data],
                    keys: {
                        value: activity,
                    },
                    type: 'pie'
                },

                color: {
                    pattern: ['#00EBC8', '#8CF000', '#ffEB00']
                },
                pie: {
                    label: {
                        format: function (value, ratio, id) {
                            return value;
                        }
                    }
                }
            });

        }





        function reset() {
            //debugger;
            $("#txtfromdate").val('');
            $("#txtTodate").val('');
            BDMS_SiteWise_data();
            Bind_BranchData();
            Bind_EmployeeData();
            pie();
            NewExistingpie();
            DomesticInetrnationalpie();
        }
        //piechart for filtered employee

        function EmpFilterpie(PK_UserId) {

            $.ajax({
                type: "get",
                url: "@Url.Action("EmpFilterData", "BDSMActivities")",
                data: { PK_UserId: PK_UserId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {
                    //debugger;
                    var numberdata = JSON.parse(result);
                    successfuncFilterEmpData(numberdata);
                },
                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }

        function successfuncFilterEmpData(jsondata) {
            var data = {};
            var activity = [];
            jsondata.forEach(function (e) {
                //debugger;
                activity.push(e.ActivityType);
                data[e.ActivityType] = e.ActivityTypeCount;
            });
            var chart = c3.generate({

                bindto: '#pieChart',
                data: {
                    json: [data],
                    keys: {
                        value: activity,
                    },
                    type: 'pie'
                },

                color: {
                    pattern: ['#00EBC8', '#8CF000', '#ffEB00']
                },
                pie: {
                    label: {
                        format: function (value, ratio, id) {
                            return value;
                        }
                    }
                }
            });

        }

        //piechart for filtered newExisting customer type

        function FilterednewExistingpie(PK_UserId) {
            var fromDate = $("#txtfromdate").val();
            var toDate = $("#txtTodate").val();

            if (!fromDate || !toDate) {
                var currentDate = new Date();
                var thirtyDaysAgo = new Date();
                thirtyDaysAgo.setDate(currentDate.getDate() - 30);
                fromDate = thirtyDaysAgo.toISOString().split('T')[0];
                toDate = currentDate.toISOString().split('T')[0];

                $('#txtfromdate').val(fromDate);
                $('#txtTodate').val(toDate);
            }
            $.ajax({
                type: "get",
                url: "@Url.Action("Bind_NewExistingFilter_Pie", "BDSMActivities")",
                data: { PK_UserId: PK_UserId  ,Fromdate: fromDate,
                ToDate: toDate
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {
                    //debugger;
                    var numberdata = JSON.parse(result);
                    successfuncNewExisting(numberdata);
                },

                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
        }
        //domestic_international_Filtereddata
    function Filtere_domestic_internationalpie(PK_UserId) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
            $.ajax({
                type: "get",
                url: "@Url.Action("Bind_DomInterFilter_Pie", "BDSMActivities")",
                data: { PK_UserId: PK_UserId ,Fromdate: fromDate,
                      ToDate: toDate
                      },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {
                    //debugger;
                    var numberdata = JSON.parse(result);
                    successfuncDomInter(numberdata);
                },

                error: function (error) {
                    console.log("error occurred during ajax call:", error);
                }
            });
    }
    ///binding pie on branchwise

    function Filtere_Pie_OnBranchClick(BranchId) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
        $.ajax({
            type: "get",
            url: "@Url.Action("Bind_Branch_OnClick_Pie", "BDSMActivities")",
            data: {
                BranchId: BranchId, Fromdate: fromDate,
                ToDate: toDate
            },
        contenttype: "application/json; charset=utf-8",
        datatype: "json",
        success: function (result) {
            //debugger;
            var numberdata = JSON.parse(result);
            successfunc(numberdata);
        },

        error: function (error) {
            console.log("error occurred during ajax call:", error);
        }
    });
    }


    //on branchClick New Existing Customer

    function Filtere_New_ExitPie_OnBranchClick(BranchId) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
        $.ajax({
            type: "get",
            url: "@Url.Action("Bind_Branch_OnClick_New_Exist","BDSMActivities")",
            data: {
            BranchId: BranchId, Fromdate: fromDate,
            ToDate: toDate
            },
        contenttype: "application/json; charset=utf-8",
        datatype: "json",
        success: function (result) {
            //debugger;
            var numberdata = JSON.parse(result);
            successfuncNewExisting(numberdata);
        },

        error: function (error) {
            console.log("error occurred during ajax call:", error);
        }
    });
    }

    function Filtere_New_Dom_interPie_OnBranchClick(BranchId) {
        var fromDate = $("#txtfromdate").val();
        var toDate = $("#txtTodate").val();

        if (!fromDate || !toDate) {
            var currentDate = new Date();
            var thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(currentDate.getDate() - 30);
            fromDate = thirtyDaysAgo.toISOString().split('T')[0];
            toDate = currentDate.toISOString().split('T')[0];

            $('#txtfromdate').val(fromDate);
            $('#txtTodate').val(toDate);
        }
        $.ajax({
            type: "get",
            url: "@Url.Action("Bind_Branch_OnClick_Dom_Inter","BDSMActivities")",
            data: {
            BranchId: BranchId, Fromdate: fromDate,
            ToDate: toDate
            },
        contenttype: "application/json; charset=utf-8",
        datatype: "json",
        success: function (result) {
            //debugger;
            var numberdata = JSON.parse(result);
            successfuncDomInter(numberdata);
        },

        error: function (error) {
            console.log("error occurred during ajax call:", error);
        }
    });
    }
    function Redirect() {
        window.location.href = "@Url.Action("Welcome", "Login")"
    }
   </script>

