@model TuvVision.Models.Leave
@using NonFactors.Mvc.Grid;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Abscond";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}


<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />

@helper CustomRenderingOfColumnAttachment(TuvVision.Models.Leave LeaveModel)
{
if (LeaveModel.Attachment == null || LeaveModel.Attachment == "")
{

}
else
{
    string[] words = (LeaveModel.Attachment).Split(',');
    for (int j = 1; j < words.Count(); j++)
    {
            <a target="_blank" href="@Url.Content("~/NonInspectionActivityDocument/" + words[j-1])">

                <span>@words[j - 1].ToString()</span>
            </a>
    }
}
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script>
$(function () {
    $(".FromD").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+50"
        });
});
$(function () {
    $(".ToD").datepicker({
        dateFormat: 'dd/mm/yy',//check change
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+50"
    });
});
</script>

<!--multiselect-->
<link href="~/AllJsAndCss/css/bootstrap-multiselect.css" rel="stylesheet" />
<!--filepond-->
<link href="~/AllJsAndCss/css/filepond.css" rel="stylesheet" />
@*DATEPICKER*@
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>




@using (Html.BeginForm("Abscond", "Leave", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="main-content3 xs-max-height grey-bg-f3">
        <div class="grey-bg-f3">
            <!--Start of header-->
            <div class="container-fluid">

                <div class="row assignfixedwidth rp-5">
                    <a href="@Url.Action("LeaveDetail","Leave")" class="btn btn-default news-btn" style="float:right;"><i class="fa fa-long-arrow-left"></i> Go Back</a>

                    <br />
                    <div class="col-xs-12 form-col">
                        <div class="row">


                            <div class="col-xs-12">
                                <div class="white-bg section-box-shadow">
                                    <h3 class="form-page-title">Abscond Employee</h3>
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                            <div class="form-box">
                                                <form>
                                                    @Html.HiddenFor(m => m.Id)

                                                    <div class="row">
                                                        <span style="color:#FB5F6B;">
                                                            <strong>&nbsp;&nbsp;&nbsp;Notes </strong> :
                                                        </span>

                                                        <span>
                                                             
                                                              The following provision applies to employees who are absent without notice.<br />
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access to TIIMES will be restricted for the selected employees immediately after their data is entered..
                                                        </span>
                                                        <br /><br />
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label> Employee Name:</label>

                                                                @if (ViewBag.Userlist != null)
                                                                {

                                                                    @Html.DropDownListFor(m => m.FirstName, ViewBag.Userlist as IEnumerable<SelectListItem>, "--Select Employee Name--", new { @class = "form-control FirstName", id = 'a' })

                                                                }
                                                                @*@Html.TextBoxFor(model => model.FirstName, new { @placeholder = "Inspector", @class = "form-control"  })*@
                                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Abscond From:</label>

                                                                @Html.TextBoxFor(model => model.StartDate, "{0:dd MMM yyyy}", htmlAttributes: new { placeholder = "Select Start Date", @class = "form-control form-control-custom FromD", autocomplete = "off" })
                                                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4">
                                                            <div class="form-group">
                                                                <label>Select Leave:</label>
                                                                @Html.DropDownListFor(m => m.ActivityType, new List<SelectListItem>
                                                                     {
                                                                     //new SelectListItem{ Text="---SELECT---", Value = "" },
                                                                      new SelectListItem{ Text="Abscond", Value = "Abscond" },

                                                                     },

                                                                     new { @class = "form-control", @id = "PT" })
                                                                @Html.ValidationMessageFor(m => m.ActivityType, "", new { @class = "text-danger validation-msg" })
                                                            </div>
                                                            </div>  
                                                        </div>
                                                    <div class="row">

                                                        <div class="col-xs-12 col-sm-4">

                                                            <div class="form-group">

                                                                <button type="submit" class="btn btn-default insert-form-btn" id="btnAddFl"> Save </button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>

                                                @*</div>

                                                    </div>*@


                                                @using (Html.BeginForm("Abscond", "Leave", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                                                {
                                                    <form>
                                                       

                                                        <div class="row">



                                                            <div class="col-xs-12  col-sm-offset-1 col-sm-10">



                                                                <table id="example" class="display custom-table" cellspacing="0" width="100%">

                                                                    <thead>
                                                                        <tr>
                                                                           
                                                                            <th>Name</th>
                                                                            <th>Date</th>


                                                                            <th>Activity Type</th>
                                                                            <th>Added By</th>
                                                                            


                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        @{
                                                                            if (ViewData["BranchList"] != null)
                                                                            {
                                                                                foreach (var item in ViewData["BranchList"] as IEnumerable<TuvVision.Models.Leave>)
                                                                                {

                                                                                    <tr>


                                                                                        @*<td>@item.Id</td>*@
                                                                                        <td>@item.FirstName</td>
                                                                                        <td>@item.DateSE</td>


                                                                                        <td>@item.ActivityType</td>
                                                                                        <td>@item.LeaveAddedBy</td>
                                                                                        @*<td>@item.LTILeave</td>*@

                                                                                    </tr>
                                                                                }
                                                                            }

                                                                        }

                                                                    </tbody>

                                                                </table>

                                                            </div>
                                                        </div>
                                                    </form>





                                                                            }
                                            </div>

                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
                                                                            }
@*...Calender Control...*@


<script>

    $("#btnAddFl").click(function myfunction() {
        if (validateform() == false)
        {
            return false;
        }
        else {
            $("#form1").submit();
        }
    });




    function validateform()
    {
        debugger
        var FromD = $("#StartDate").val();
        var ToD = $("#EndDate").val();

        var ActivityType = $("#PT").val();
        var FirstName = $("#a").val();
        var Reason = $("#Reason").val();



        if ((FirstName == null || FirstName == "")) {
            alert("Please Select Inspector Name");
            $("#a").focus();
            return false;
        }

        if ((FromD == null || FromD == "")) {
            alert("Please Enter Abscond Date");
            $("#FromD").focus();
            return false;
        }

        //if ((ToD == null || ToD == "")) {
        //    alert("Please Enter To Date ");
        //    $("#ToD").focus();
        //    return false;
        //}

        if ((ActivityType == null || ActivityType == ""))
        {
            alert("Please Select Leave Type");
            $("#ActivityType").focus();
            return false;
        }

        //if ((Reason == null || Reason == "")) {
        //    alert("Please Enter Reason for Leave");
        //    $("#Reason").focus();
        //    return false;
        //}

        var LeaveFile = $("[name='img_Banner']").val();
      if (LeaveFile == "") {
            alert("Please attach approved Leave Application Form");
            $("#img_Banner").focus();
            return false;
        }




        return true;


    }


</script>
<script>

    $("#btnSearch").on('click', function (event) {

    });
</script>