@model IEnumerable<TuvVision.BusinessEntities.News_VM>
@{
    ViewBag.Title = "GetListOfNews";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

    
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

<!--export to excel-->
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom2.js"></script>





    <script>
        $(function () {
            $('.filtr-container').filterizr();
            $('.gallery-filter-tab li').click(function () {
                $(this).addClass('filtr-active');
                $(this).siblings().removeClass('filtr-active');
            });
        });
    </script>

    <!--fancybox-->
    <script src="~/Content/Css/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/Css/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Content/Css/fancybox/jquery.fancybox-thumbs.js"></script>
    <script>
        $(function () {
            $('.fancybox-thumbs').fancybox({
                prevEffect: 'none',
                nextEffect: 'none',

                closeBtn: true,
                arrows: true,
                nextClick: true,

                helpers: {
                    thumbs: {
                        width: 88,
                        height: 50
                    }
                }
            });
        });
    </script>

    <!--equalheight-->
    <script src="~/Scripts/Js/equalHeight.js"></script>

    <!-- End Other script files -->





<!--Start of main content 3-->
<div class="main-content2 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">

            <div class="col-xs-12">
                <h3 class="dynamic-page-title dynamic-page-title-2  text-left">News</h3>
                <a href="@Url.Action("AddNewsDetails", "NewsDetails")" class="btn btn-info dynamic-function-btn dynamic-function-btn-2"><i class="fa fa-plus-circle"></i> Add News </a>
            </div><!-- /.col -->

            <div class="col-xs-12">
                <hr class="custom-hr">
            </div><!-- /.col -->
            <!--Table was here-->

        </div><!-- /.row -->

        <div class="col-xs-12">

            @{
                if (Convert.ToString(TempData["Success"]) != null && Convert.ToString(TempData["Success"]) != "")
                {
                    <h5 style="color:green;font-weight:bold;">@Convert.ToString(TempData["Success"])</h5>
                }
                if (Convert.ToString(TempData["Deleted"]) != null && Convert.ToString(TempData["Deleted"]) != "")
                {
                    <h5 style="color:red;font-weight:bold;">@Convert.ToString(TempData["Deleted"])</h5>
                }
                if (Convert.ToString(TempData["Error"]) != null && Convert.ToString(TempData["Error"]) != "")
                {
                    <h5 style="color:red;font-weight:bold;">@Convert.ToString(TempData["Error"])</h5>
                }
            }

            <span class="hidden-md hidden-lg" style="font-size:13px;">*Scroll below to view full table</span>
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="remove-search">Sr.No</th>
                        <th>Title</th>
                        @*<th> News view From Date</th>
                        <th>News view Till Date</th>*@
                        <th>Created On</th>
                        <th>Status</th>
                        <th class="remove-search">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Data != null)
                    {
                        int i = 0;
                        foreach (var item in ViewBag.Data as IEnumerable<TuvVision.BusinessEntities.News_VM>)
                        {
                            i = i + 1;
                            <tr>
                                <th scope="row"> @i </th>
                                @*<td>@Convert.ToInt32(item.PK_NewsId).ToString()</td>*@
                                <td> @item.Title </td>
                                @*<td> @Convert.ToDateTime(item.NewsFrom).ToString("dd MMM yyyy") </td>
                                <td> @Convert.ToDateTime(item.NewsTo).ToString("dd MMM yyyy") </td>*@
                                @*<td> @Convert.ToDateTime(item.CreatedDate).ToString("dd-MMM-yyyy") </td>*@
                                <td> @item.strCreatedDate</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <text>Active</text>
                                    }
                                    else if(item.Status == 2)
                                    {
                                        <text>In Active</text>
}
                                </td>
                                <td class="action-btn">
                                    @*<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>*@
                                    <a href="~/Newsdetails/AddNewsDetails?Id=@item.PK_NewsId" class="edit" title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="~/Newsdetails/Delete?Id=@item.PK_NewsId" onclick="return confirm('Are you sure you want to Remove this Record');" class="delete" title="Delete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>

        </div><!-- /.data table col -->

    </div><!-- /.container-fluid -->
    <!--End of header-->

</div>
<!--End of main content 3-->


    <script>
        // Configure/customize these variables.
        var showChar = 30;  // How many characters are shown by default
        var ellipsestext = "...";
        var moretext = "See full";
        var lesstext = "See less";


        $('.more').each(function () {
            var content = $(this).html();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });

        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    </script>

