@model IEnumerable<TuvVision.Models.NCR>
@{
    ViewBag.Title = "NCRReport";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">

            <div class="col-xs-12">
                <h3 class="dynamic-page-title dynamic-page-title-2  text-left">NCR Report</h3>
                @*<button type="button" value="CreateRole" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("CreateNCR", "NCR")'">Add NCR</button>*@
            </div><!-- /.col -->

            <div class="col-xs-12">
                <hr class="custom-hr">
            </div><!-- /.col -->
            <!--Table was here-->

        </div>
        <div class="col-xs-12">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Status </th>
                        <th>Inspector</th>
                        <th>Client</th>
                        

                    </tr>
                </thead>

                <tbody>
                    @foreach (var b in Model)
                    {
                        <tr>
                            <td class="hidden">@b.IVRId</td>


                            <td>@b.Status </td>
                            <td>@b.NCRRaisedBy</td>
                            <td>@b.Client</td>
                            
                        </tr>
                    }
                </tbody>

            </table>

        </div>





    </div>

</div>

